@system "Form"
@template "site"
@system "Pagina"
@resource "site/loja/busca"


#bloco_pagina_indicacao
    width: 100%
    flexCenter()
    position: relative
    .conteudo
        width: 100%
        max-width: $maxWidth
        espacoTopPadrao()
    .input_form
        margin-right: 10px
