.busca_convenio
    width: 100%
    max-width: 1130px
    blocoShadow()
    border-radius: 15px
    margin-bottom: 40px
    form
        width: 100%
        flexCol()
    form legend
        titulo()
    form fieldset
        width: 100%
        flexRow()
    form fieldset .busca_estado
        max-width: 100px
        margin-right: 20px
    form fieldset .busca_categoria
        flexGrow()
        margin-right: 20px
    form fieldset .busca_tag
        max-width: 220px
        margin-right: 20px
    form fieldset .busca_estabelecimento
        max-width: 230px
    form fieldset .busca_pesquisa
        flexGrow()
        margin-right: 20px
    form fieldset .busca_ordem
        max-width: 180px
        margin-right: 20px
    form fieldset button
        width: 180px
        margin-top: 20px

@media screen and (max-width: 900px)
    .busca_convenio form fieldset
        flex-wrap:  wrap
    .form_geral .bloco_input
        width: calc((100% / 2) - 15px)
@media screen and (max-width: 700px)
    .busca_convenio form fieldset
        flex-direction: column
        .busca_estado,
        .busca_categoria,
        .busca_tag,
        .busca_estabelecimento,
        .busca_pesquisa,
        .busca_ordem
            max-width: 100%
            width: 100%
