#form_buscar
    .bloco_mapa
        width: 100%
        margin: 20px 0 10px
        border-left: 5px solid $corClube
        padding-left: 15px
    .bloco_mapa h2
        texto()
    .bloco_mapa .bloco_switch
        margin-top: 10px
        margin-bottom: 0
    .busca_cidade
        display: none
    .busca_mapa
        max-width: 150px
#form_buscar.busca_mapa
    .busca_cidade
        display: flex
    .busca_estabelecimento
    .busca_ordem
        display: none

.bloco_buscar_geral .buscar
    .bloco_input.busca_categoria_fake
        width: 300px
    .bloco_input.busca_pesquisa_fake
        flexGrow()
@media screen and (max-width: 800px)
    .bloco_buscar_geral .buscar .bloco_input.busca_categoria_fake
        display: none

.bloco_buscar_loja
    margin-bottom: 20px
    .busca_estado
        width: 100%
        max-width: 100px
    .busca_ordem
        width: 200px
        max-width: 200px
@media screen and (max-width: 800px)
    .bloco_buscar_loja
        fieldset
            flex-wrap: wrap
        .bloco_input.busca_categoria
            width: calc(100% - 120px)
            margin-right: 0
        .busca_tag
        .busca_estabelecimento
            width: calc(50% - 10px)
            max-width: calc(50% - 10px)
        .busca_pesquisa
            width: calc(100% - 180px)
            max-width: calc(100% - 180px)
        .bloco_input.busca_ordem
            width: 160px
            max-width: 160px
            margin-right: 0
        button
            width: 100%
@media screen and (max-width: 500px)
    .bloco_buscar_loja
        .bloco_input.busca_tag
        .busca_estabelecimento
            width: 100%
            max-width: 100%
            margin-right: 0
        .bloco_input.busca_pesquisa
            width: 100%
            max-width: 100%
            margin-right: 0
        .bloco_input.busca_ordem
            width: 100%
            max-width: 100%
