.bloco_loja_detalhe
    width: 100%
    max-width: $maxWidth
    flexCol()
    align-items: center

.bloco_desconto_procedimento
    maxWidth()
    flexRow()
    justify-content: space-between
    espacoBottomPadrao()
    .bloco
        width: calc(50% - 10px)

.bloco_botao
    display: flex
    width: 100%
    flex-wrap: wrap
    justify-content: center
    padding-bottom: 10px
    .botao
        background-color: #f1f1f1
        margin-right: 20px
        margin-top: 20px
    .linha
        width: 1px
        height: 30px
        background-color: #CCC
        margin-left: 20px
    .botao
        flexRow()
        align-items: center
        cursor: pointer
    .botao i
        width: 40px
        height: 40px
        flexCenter()
    .branco
        background-color: #FFF
        boxShadow()
        padding-left: 5px
    .branco i
        border-right: 1px solid #DDD
        margin-right: 15px
    .destaque
        padding-right: 10px
    .destaque i
        margin-left: 5px

@media screen and (max-width: 940px)
    .bloco_loja_detalhe .bloco_botao
        justify-content: center
        .botao
            width: 45%
            margin: 10px
        .botao &:first-child
            margin-top: 0px
        .botao &:last-child
            margin-bottom: 0px

@media screen and (max-width: 615px)
    .bloco_loja_detalhe .bloco_botao
        padding-top: 0px
        padding-bottom: 0px
        margin-bottom: 0px
        .botao
            width: 100%
            flexCenter()
        .botao i
            display: none

@media screen and ( max-width: 700px)
    .bloco_botao .branco i
        border: none
        margin: none
@media screen and ( max-width: 600px )
    .bloco_desconto_procedimento
        flex-direction: column
    .bloco_desconto_procedimento .bloco
        width: 100%
        &:first-child
            margin-bottom: 20px
