.bloco_geral_article
    maxWidth()
    flexRow()
    spaceBetween()
    flex-wrap: wrap

.bloco_parceiro .article_fake
    width: calc((100% / 3) - 15px)
    opacity: 0
.bloco_parceiro article
    width: calc((100% / 3) - 15px)
    flexCol()
    blocoShadow()
    cursor: pointer
    margin-bottom: 22px
    borderRadiusPadrao()
    position: relative
    overflow: hidden
    .linha
        width: 100%
        height: 8px
        position: absolute
        bottom: -8px
        left: 0
        transition: bottom .3s ease-out
    &:hover .linha
        bottom: 0
    a
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 2
    figure
        width: 100%
        position: relative
        flexCenter()
        background-color: #FFF
    figure.logo
        border-radius: 5px
        background: #FFF
        height: 140px
        padding: 20px
    figure.completo
        padding: 20px
        height: 100%
        flexCenter()
    figure.logo img
        max-width: 100%
        max-height: 100px
    figure.completo img
        max-width: 100%
        max-height: 100px
    header
        width: 100%
        margin-top: 20px
    header h1
        width: 100%
        titulo()
        flexGrow()
    .margem
        margin-top: 10px
    p
        texto()
        color: $corCinzaCinza
        margin-bottom: 10px
    p.destaque
        font-weight: bold
    span
        font-size: 1.2rem
        color: $corCinzaCinza
        margin-top: 2px
    p.valor
        margin-bottom: 0
    p.valor_destaque
        font-weight: bold
        color: $corClube
        subTituloFontSize()
    .icone
        width: 30px
        position: absolute
        top: 20px
        right: 20px
        flex-direction: row
        z-index: 3
    .icone i
        width: 30px
        height: 30px
        flexCenter()
    .botao_solicitar_declaracao
        width: 100%
        height: 40px
        border-radius: 0.5rem
        background: $corClube
        color: #fff
        font-size: 1.5rem
    .bloco_novo
        position: absolute
        top: 10px
        left: 10px
        fill: $corClube
    .bloco_estado
        flexRow()
        align-items: flex-start
    .bloco_estado p
        flexRow()
        align-items: center
        texto()
        border: 1px solid #DDD
        border-radius: 3px
        padding-right: 10px
    .bloco_estado i
        width: 30px
        height: 30px
        flexCenter()
        fill: $corCinzaCinza
    .bloco_favorito
        width: 40px
        height: 40px
        flexCenter()
        position: absolute
        top: 15px
        right: 15px
        z-index: 2
        cursor: pointer
        border-radius: 50%
        &:hover
            background-color: #EEE
    .bloco_favorito .marcado
        display: none
        fill: #FF6C60
    .bloco_favorito .desmarcado
        fill: #999
    .bloco_favorito.favorito_marcado .desmarcado
        display: none
    .bloco_favorito.favorito_marcado .marcado
        display: flex

.parceiro_esqueleto
    position: relative
    figure .esqueleto
        width: 120px
        height: 120px
    p
        max-width: 100px
        height: 20px
    .bloco_estado
        max-width: 150px
        height: 30px

@media screen and (max-width:900px)
    .bloco_geral_article
        .article_fake
        article
            width: calc(50% - 5px)
            margin-bottom: 10px
    .bloco_geral_article article
        figure.logo
            height: 100px
            padding: 10px
        .bloco_favorito
            top: 8px
            right: 8px
