.bloco_parceiro article
    flexCol()
    blocoShadow()
    cursor: pointer
    margin-bottom: 22px
    borderRadiusPadrao()
    position: relative
    overflow: hidden
    .linha
        width: 100%
        height: 8px
        position: absolute
        bottom: -8px
        left: 0
        transition: bottom .3s ease-out
    &:hover .linha
        bottom: 0
    a
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 2
    figure
        width: 100%
        position: relative
        flexCenter()
    figure.logo
        height: 140px
        padding: 20px
    figure.completo
        height: 180px
        padding: 20px 20px 0 20px
    figure.logo img
        max-width: 100%
        max-height: 100px
    figure.completo img
        max-width: 100%
        max-height: 200px
    header
        width: 100%
        margin: 20px 0 10px
    header h1
        width: 100%
        titulo()
        flexGrow()
    p
        font-size: 1.5rem
        line-height: 1.5em
        color: #888
    p.destaque
        font-weight: bold
    .icone
        width: 30px
        position: absolute
        top: 20px
        right: 20px
        flex-direction: row
        z-index: 3
    .icone i
        width: 30px
        height: 30px
        flexCenter()
