.bloco_relacionado
    maxWidth()
    flexCol()
    margin-top: 50px
    > header
        width: 100%
        flexRow()
        align-items: center
        margin-bottom: 10px
    > header h1
        flexGrow()
        titulo()
    > header a
        texto()
