flexCentro()
    display: flex
    align-items: center
    justify-content: center
flexRow()
    display: flex
    flex-direction: row
flexCol()
    display: flex
    flex-direction: column

bgDegradeVerde()
    background-image: linear-gradient(45deg, $cor, $corClara)
bgDegradeCinza()
    background-image: linear-gradient(45deg, #CCC, #BBB)
bgDegradeVermelho()
    background-image: linear-gradient(45deg, $corDeletar, $corDeletarClaro)
bgDegradeAzul()
    background-image: linear-gradient(45deg, darken(#3cf, 12), #3cf)

flexGrow()
    display: flex
    flex-grow: 1
    flex-basis: 0%

texto()
    line-height: 1.5em
    font-size: 1.5rem
textoFontSize()
    font-size: 1.5rem

titulo()
    line-height: 1.5em
    font-size: 2.4rem
