.bloco_noticia_texto p
.bloco_noticia_texto i
.bloco_noticia_texto strong
.bloco_noticia_texto b
.bloco_noticia_texto ul li
    texto()
.bloco_noticia_texto p
    margin: 10px 0
.bloco_noticia_texto ul
    list-style: circle
    list-style-position: inside
    margin: 10px 0
