$botaoAdd = #169e91
$botaoEditar = #00aced
$botaoDeletar = #FF6C60
$botaoDownload = #8B4513

$botaoVerde = #169e91
$botaoAzul = #00aced
$botaoVermelha = #FF6C60

$cor = #169e91
$corClara = #23dbc9
$corErro = #FF6C60
$corLoading = #00aced

$corBody = #F6F6F6
$corDeletar = #FF6C60
$corDeletarClaro = #ffaaa2

$corLink = #00aced

$corNotificacao = #FF6C60

$tituloFontSize = 2.4rem
$textoFontSize = 1.5rem
$pequenoFontSize = 1.3rem
