#bloco_demanda_editar
    max-width: 700px

.row_livre
    margin-top: 20px
    min-height: 45px
.row_livre .bloco_switch
    margin: 0
.row_livre .bloco_input
    margin: 0 0 0 20px
.bloco_input_data_entrega
    max-width: 200px
    &.ativo
        display: flex
