@template "painel"
@system "Esqueleto"
@painel "noticia"
@painel "kambam"
@import "lista"
@import "quadro"
@import "demanda_salvar"
@import "demanda_detalhe"
@import "demanda_editar"
@import "demanda_cancelar"
@import "tarefa_salvar"
@import "tarefa_recusar"
@system "Popup"
@import "filtro"
