@system "Form"
@template "site"
@resource "site/variavel"
@resource "site/loja/busca"
@resource "site/loja/parceiro"
@resource "site/loja/relacionado"
@resource "site/loja/detalhe"


#bloco_loja_confirmar
    max-width: 700px
    .conteudo_confirmar
        flexCol()
        align-items: center
        padding: 20px
    .conteudo_confirmar h1
        titulo()
    .conteudo_confirmar p
        texto()
    .conteudo_confirmar a
        margin-top: 30px

.bloco_botao .botao
    width: 200px

.bloco_botao .destaque
    padding: 0px

@media screen and ( max-width: 900px)
    .bloco_botao .botao
        max-width: 250px

@media screen and ( max-width: 600px )
    .bloco_desconto_procedimento
        flex-direction: column
    .bloco_desconto_procedimento .bloco
        width: 100%
    .bloco_botao .botao
        width: 200px
        &:first-child
            margin-top: 20px
