@system "Form"
@template "site"
@resource "site/variavel"
@resource "site/loja/detalhe"
@resource "site/parceiro_header"

#bloco_sos_mulher
    .atencao
        margin-top: 20px
    .bloco_logo
        width: 100%
        flexRow()
        justify-content: center
        margin: 30px 0 20px
    .bloco_logo a
        blocoShadow()
        margin: 0 10px
    .bloco_whatsapp
        texto()
        flexRow()
        align-items: center
        background: $corClube
        border-radius: 4px
        padding: 10px 20px
        color: #FFF
        fill: #FFF
        margin-bottom: 40px
    .bloco_whatsapp i
        width: 40px
        height: 40px
        flexCenter()
        margin-right: 15px
    .bloco_whatsapp p
        texto()
        max-width: 350px
    .botao_loja
        botaoPadraoDestaque()
        background: $corClube
        color: #FFF
        margin: 30px 0 80px
        fill: #FFF
    .botao_loja svg
        margin-right: 10px

