#bloco_login .bloco_categoria
    width: calc(100% - 40px)
    max-width: 1000px
    position: relative
    alignItemStart()
    flex-direction: row
    justify-content: space-between
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05)
    background: #FFF
    padding: 80px 120px
    border-radius: 20px
    overflow: hidden
    z-index: 2
    .icone
        width: 40%
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 1px
        overflow: hidden
        margin-right: 80px
        border-radius: 10px
        border: 1px solid #CCC
        position: relative
    .icone i
        flexCenter()
        position: relative
        height: 130px
        font-size: 4.5em
        color: #CCC
        cursor: pointer
        &::before
            content: ''
            flexCenter()
            position: absolute
            top: -1px
            right: -1px
            bottom: -1px
            left: -1px
            background-color: #ddd
    .icone i span
        z-index: 2
        fill: #ccc
    .icone i::after
        width: 100%
        height: 130px
        flexCenter()
        content: ''
        position: absolute
        background-color: #fff
    .icone i.hover::after
        background-color: $corClube
        color: #FFF
    .icone i.hover span
        fill: #FFF
    // Conteúdo
    .conteudo
        max-width: 350px
        height: 500px
        flex-grow: 1
        flex-basis: 0%
        position: relative
        display: flex
    .conteudo article
        width: 100%
        height: 500px
        background: #FFF
        alignItemCenter()
        directionColumn()
        position: absolute
        top: 0
        left: 0
        opacity: 0
        transition: opacity 0.3s ease-out
        display: none
        &.animacao_atual
            opacity: 0
            z-index: 1
        &.categoria_atual
            opacity: 1
            display: flex
        &.animacao_proximo
            opacity: 1
            z-index: 2
    .conteudo article i
        font-size: 5em
        color: #CCC
        display: none
    .conteudo article .item
        width: 100%
        alignItemCenter()
        directionColumn()
        flex-grow: 1
        flex-basis: 0%
    .conteudo article .item header h1
        width: 100%
        text-align: center
        font-size: 3.5em
        font-weight: bold
    .conteudo article .item header p
        width: 100%
        line-height: 1.5em
        text-align: center
        font-size: 1.7em
        margin: 10px 0 40px 0
        color: #666
    .conteudo article .item .parceiro
        width: 100%
        flexWrap()
        flexGrow()
        flex-direction: row
    .conteudo article .item .parceiro .imagem
        width: calc((100% / 2) - 10px)
        height: 100px
        border-radius: 3px
        padding: 10px
        margin: 0 10px 10px 0
        overflow: hidden
    .conteudo article .item .parceiro figure
        width: 100%
        max-width: 110px
        height: 100%
        margin: 0 auto
        background-size: 70%
        background-position: center center
        background-repeat: no-repeat
        background-color: #fff
        z-index: 1
    .conteudo article .item footer
        margin-top: 40px
    .conteudo article .item footer h2
        height: auto
        line-height: 1.5em
        color: #fff
        font-weight: bold
        padding: 10px 40px
        border-radius: 20px
        font-size: 2em
        text-align: center
    .conteudo article .item footer p
        width: 100%
        text-align: center
        margin-top: 20px
        font-size: 1.6em
        color: #666

@media screen and (max-width: 1040px)
    #bloco_login .bloco_categoria
        margin-top: 150px
        padding: 80px 50px
        .item-slide .parceiro figure
            background-size: 60%
        .conteudo article .item header h1
            font-size: 3em
        .item-slide .parceiro .imagem
            height: 90px

//midia queries bloco_categoria//
@media screen and (max-width: 700px)
    #bloco_login .bloco_categoria
        display: none
    #bloco_login .bloco_categoria .icone
        width: 50%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        margin-right: 100px
        border: 1px solid #ccc
        border-radius: 10px
        overflow: hidden
    #bloco_login #carrousel
        width: 100%
        display: flex
        flex-direction: column
        z-index: 1
    .controle-slide
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
        justify-items: center
        align-items: center
        margin-bottom: 20px
    .controle-slide  i
        font-size: 3rem
        color: #e1e1e1
        transition: .4s
        transform: scale(.5)
        cursor: pointer
        -webkit-touch-callout: none
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
    .controle-slide  i svg
        fill: #ccc
    .controle-slide .area-icone.active i
        color: inherit
        transform: scale(1)
    .controle-slide .area-icone.active i svg
        fill: $corClube
    .controle-slide&:nth-child(1) i
        position: relative
        top: 5
        font-size: 3rem
    .controle-slide&:nth-child(2) i
        position: relative
        top: 6
        font-size: 2.5rem
    .controle-slide&:nth-child(3) i
        font-size: 2.7rem
    .area-icone
        visibility: hidden
        width: 100%
        display: flex
        justify-content: center
        align-items: center
    .embrulho-slide
        overflow: hidden
    .controle-embrulho
        overflow: hidden
        transition: .4s
    .area-slide
        display: flex
        margin-bottom: 50px
        justify-content: flex-start
        align-items: center
        margin-left: 7vw
    .item-slide
        flex-shrink: 0
        background-color: #fff
        width: 80vw
        height: 350px
        margin-bottom: 50px
        padding: 30px
        border-radius: 10px
        margin: 0px 10px
        opacity: 0.8
        transition: .4s
    .item-slide.active
        opacity: 1
    .item-slide header h1
        width: 100%
        text-align: center
        font-size: 2.5em
        font-weight: 700
    .item-slide header p
        width: 100%
        line-height: 1.5em
        text-align: center
        font-size: 1.4em
        color: #666
        margin: 5px 0 10px 0
    .item-slide footer h2
        height: 40px
        line-height: 40px
        border-radius: 25px
        color: #fff
        font-weight: 700
        padding: 0 20px
        font-size: 1.2em
        text-align: center
    .item-slide footer p
        width: 100%
        text-align: center
        margin-top: 20px
        font-size: 1.6em
        color: #666
    .item-slide .parceiro
        width: 100%
        line-height: 1.5em
        text-align: center
        font-size: 1em
        color: #666
    .item-slide .parceiro
        width: 100%
        display: flex
        flex-direction: row
        flex-grow: 1
        flex-basis: 0%
        margin-top: 20px auto
    .item-slide .parceiro .imagem
        width: calc((100% / 2) - 10px)
        height: 100px
        border-radius: 3px
        padding: 10px
        margin: 0 10px 10px 0
        overflow: hidden
    .item-slide .parceiro figure
        width: 100%
        max-width: 110px
        height: 100%
        margin: 0 auto
        background-size: 70%
        background-position: center center
        background-repeat: no-repeat
        background-color: #fff
        z-index: 1


@media screen and (max-width: 530px )
    .item-slide .imagem figure
        background-size: 80%

@media screen and (max-width: 450px)
    .item-slide
        height: 370px
@media screen and (max-width: 386px)
    .item-slide
        height: 440px
