//MEU PARCEIRO//
.meu_parceiro
    display: flex
    width: 100%
    margin-top: 40px
    padding: 60px 100px
    max-width: 1100px
    background-color: #fff
    border-radius: 15px 15px 0px 0px
    justify-content: space-between
    .item
        flexCenter()
        directionColumn()
    img
        height: 100px
        width: 350px
    a
        flexCenter()
        border-radius: 25px
        color: white
        height: 40px
        line-height: 40px
        margin-top: 30px
        padding: 0 50px
        font-size: 1.8em
    .item h1
        font-size: 20px
        font-weight: bold
        text-align: center
        font-size: 3.5rem
    .item h2
        font-size: 2rem
        text-align: center
        color: #333
        margin-top: 30px

#bloco_login .formulario_mobile
    width: 100%
    height: auto
    max-width: 500px
    display: none
    flex-direction: column
    align-items: center
    padding: 20px
    margin-top: 40px
    justify-content: space-around
    h1
        font-weight: bold
        text-align: center
        font-size: 2rem
        padding-bottom: 20px
    form
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        height: auto
        justify-content: space-around
        .botao_enviar
            width: 100%
            max-width: 250px
            height: 40px
            font-size: 1.8rem
            color: #fff
            border-radius: 6px
            margin-top: 25px

@media screen and (max-width: 900px)
    .meu_parceiro
        flex-direction: column-reverse
        padding: 40px
        border-radius: 0px
    .meu_parceiro h2
        display: none
    .meu_parceiro h1
        margin-bottom: 40px

@media screen and (max-width: 700px)
    #bloco_footer .contato_mobile
        display: flex
        width: 100%
        padding: 65px 0px 43px
        font-size: 1.5rem
