@system "Form"
@system "Alerta"
@template "site"
@resource "site/passo_passo"
@resource "site/loja/parceiro"
@resource "site/preferencia/personaliza"

#bloco_pagina_preferencia form
    width: 100%
    max-width: $maxWidth


@media screen and (max-width: 740px)
    #bloco_pagina_preferencia .conteudo .bloco_tag .container_tag
        grid-template-columns: repeat(3, 1fr)

@media screen and (max-width: 570px)
    #bloco_pagina_preferencia .conteudo .bloco_tag .container_tag
        grid-template-columns: repeat(2, 1fr)
