
.tutorial
    width: 100%
    flexCenter()
    directionColumn()

.tutorial .logo
    width: 100%
    max-height: 80px
    text-align: center
    padding: 20px
    margin: 20px 0 60px

.tutorial .logo img
    max-width: 100%
    max-height: 100%

.tutorial__banner
    width: 100%
    height: 800px
    alignItemStart()
    justify-content: center
    position: relative
    background-position: top center
    background-repeat: no-repeat
    background-size: cover
    padding-top: 20px

.tutorial__banner--clube
    width: 100%
    spaceBetween()
    position: relative

.tutorial__banner .inline-menu
    alignItemCenter()

.tutorial__banner .inline-menu ul
    alignItemCenter()
    justify-content: space-around
    position: relative
    padding-right: 20px

.tutorial__banner .inline-menu ul.ativar
    width: 200px
    flexCol()
    position: absolute
    top: 80px
    right: 0
    padding-right: 0
    text-align: right

.tutorial__banner .inline-menu ul.ativar li
    padding-top: 10px

.tutorial__banner .inline-menu ul li
    font-size: 1.5em
    line-height: 1.5em
    padding: 0 10px

.tutorial__banner .inline-menu ul li a
    color: var(--active-color) !important

.tutorial__banner .inline-menu ul li a:hover
    text-decoration: underline
    font-weight: 700

.tutorial__banner.inline-menu ul li a: .ativo
    text-decoration: underline
    font-weight: 700

.tutorial__banner .inline-menu button
    height: 40px
    width: 40px
    margin-right: 20px
    background-color: var(--active-color) !important
    flexCenter()
    border-radius: 3px
    opacity: 0.9
    display: none

.tutorial__banner .inline-menu button i
    font-size: 1.5em
    line-height: 40px
    color: $corClube

.tutorial__banner--titulo
    position: absolute
    bottom: 200px
    left: 20px

.tutorial__banner--titulo h1
    font-size: 3em
    line-height: 2em
    font-weight: 700

.tutorial__banner--titulo h1 span
    font-size: 2.5em
    font-weight: 700

.tutorial__convenio
    width: 100%
    flexCenter()
    height: 700px
    background-position: center center
    background-size: cover
    position: relative

.tutorial__convenio .poligono
    width: 75%
    height: 100%
    flexCenter()
    directionColumn()
    position: absolute
    top: -50px
    right: 0
    background-position: center center
    background-size: cover
    border-top-left-radius: 3px
    border-bottom-left-radius: 3px
    z-index: 100

.tutorial__convenio .poligono .sombra
    width: 100%
    height: 100%
    position: absolute
    opacity: 0.7

.tutorial__convenio .poligono--texto
    flexCenter()
    directionColumn()
    z-index: 500

.tutorial__convenio .poligono--texto h1.topo
    font-size: 2.5em
    line-height: 1.5em
    color: $corClube
    text-align: center

.tutorial__convenio .poligono--texto img
    margin-top: 100px

.tutorial__convenio .poligono--texto .descricao
    line-height: 1.5em
    color: $corClube
    text-align: center
    margin-top: 40px

.tutorial__convenio .poligono--texto .descricao span
    font-weight: 700
    text-transform: uppercase

.tutorial__convenio .poligono--texto .descricao span.medio
    font-size: 2.5em

.tutorial__convenio .poligono--texto .descricao span.grande
    font-size: 4.5em
    line-height: 1.5em

.tutorial__convenio .poligono--texto .descricao span.pequeno
    font-size: 2em

.tutorial__convenio figure.homem
    width: auto
    height: 800px
    position: absolute
    top: -82px
    left: 0
    background-position: center center
    background-size: contain
    background-repeat: no-repeat
    z-index: 100

.tutorial__convenio figure.homem img
    height: 800px

@media screen and (max-width: 730px)
    .tutorial__banner .inline-menu ul
        display: none

    .tutorial__banner .inline-menu button
        display: -ms-flexbox
        display: flex


@media screen and (max-width: 500px)
    .tutorial__banner--clube figure img
        height: auto
        width: 100%

    .tutorial__banner--titulo h1
        font-size: 2em

    .tutorial__banner--clube a
        padding-right: 20px


.tutorial__ativar
    width: 100%
    flexCenter()
    directionColumn()
    position: relative
    margin-top: 180px
    padding-bottom: 200px

.tutorial__ativar .ativar
    width: 100%
    flexCenter()
    directionColumn()
    margin-top: 50px
    z-index: 9999

.tutorial__ativar .ativar--centralizar
    width: 100%
    max-width: 1000px
    flexCenter()
    directionColumn()

.tutorial__ativar .ativar--texto
    width: 100%
    max-width: 700px
    flexCol()

.tutorial__ativar .ativar--texto h1.inicio
    font-size: 2.5em
    line-height: 1.5em
    font-weight: 400
    text-align: center

.tutorial__ativar .ativar--texto h1.segundo
    font-size: 3.5em
    line-height: 1.5em
    font-weight: 700
    color: $corClube
    margin-bottom: 50px
    text-align: center

.tutorial__ativar .ativar--texto span
    font-size: 1em
    font-weight: 700

.tutorial__ativar .ativar--texto span.alfa
    color: #eaa700

.tutorial__ativar .ativar--link
    width: 100%
    max-width: 700px
    flexCenter()
    directionColumn()

.tutorial__ativar .ativar--link h1.inicio
    font-size: 2em
    line-height: 1.5em
    font-weight: 400
    color: $corClube
    text-align: center

.tutorial__ativar .ativar--link .link
    width: 100%
    max-width: 700px
    flexCenter()
    background-color: $corClube
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    padding: 20px

.tutorial__ativar .ativar--link .link a
    line-height: 1.5em
    font-weight: 700

.tutorial__ativar .ativar--tutorial
    width: 100%
    flexCenter()
    directionColumn()

.tutorial__ativar .ativar--tutorial header
    width: 100%
    max-width: 700px
    flexCenter()
    directionColumn()
    position: relative
    background-color: $corClube
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1)
    margin-top: 20px

.tutorial__ativar .ativar--tutorial header .banner
    width: 100%
    height: 20px

.tutorial__ativar .ativar--tutorial header .banner figure
    width: auto
    height: 20px
    background-size: cover
    background-position: center center

.tutorial__ativar .ativar--tutorial header .centralizar
    width: 100%
    max-width: 1000px
    alignItemCenter()
    justify-content: space-between
    position: relative
    padding: 20px 10px

.tutorial__ativar .ativar--tutorial header .esquerdo
    alignItemCenter()
    directionColumn()
    justify-content: space-between

.tutorial__ativar .ativar--tutorial header .esquerdo p
    font-size: 1.5em
    line-height: 1.5em
    color: #333

.tutorial__ativar .ativar--tutorial header .esquerdo p.login
    font-size: 1.5em
    line-height: 1.5em
    color: $corClube
    padding: 8px 40px
    margin-left: 20px
    border-radius: 3px

.tutorial__ativar .ativar--tutorial header .esquerdo .primeiro_passo
    position: absolute
    top: 50%
    right: 35%

.tutorial__ativar .ativar--tutorial .passo
    width: 100%
    flexCenter()
    directionColumn()
    position: relative
    background-color: #fafafa
    padding-top: 50px
    margin-top: -4px

.tutorial__ativar .ativar--tutorial .passo .print
    margin-top: 50px


@media screen and (max-width: 700px)
    .tutorial__ativar
        margin-top: 0px

@media screen and (max-width: 800px)
    .tutorial__ativar .ativar--link
        padding: 0 10px

    .tutorial__ativar .ativar--tutorial header .centralizar
        padding-left: 20px
        padding-right: 20px

    .tutorial__ativar .ativar--tutorial header .centralizar .logo figure img
        height: 20px

    .tutorial__ativar .ativar--tutorial header .esquerdo p.login
        padding: 5px 10px
        font-size: 1.2em

    .tutorial__ativar .ativar--tutorial header .esquerdo .primeiro_passo
        top: 75%
        right: 20px
        z-index: 9999

    .tutorial__ativar .ativar--tutorial header .esquerdo .primeiro_passo img
        height: 70px

    .tutorial__ativar .ativar--tutorial .passo
        padding-left: 10px
        padding-right: 10px

    .tutorial__ativar .ativar--tutorial .passo:first-of-type
        padding-top: 80px

    .tutorial__ativar .ativar--tutorial .passo .print img
        width: 100%


@media screen and (max-width: 500px)
    .tutorial__ativar .ativar--tutorial .passo
        padding-left: 10px
        padding-right: 10px

    .tutorial__ativar .ativar--tutorial .passo figure img
        width: 100%
        height: auto

    .tutorial__ativar .ativar--tutorial header .centralizar .logo figure img
        width: auto

    .tutorial__ativar .ativar--tutorial header .centralizar
        padding-left: 5px
        padding-right: 5px


.footer
    width: 100%
    flexCenter()
    directionColumn()
    position: relative

.footer--imagem
    width: 100%
    position: relative
    spaceBetween()
    background-repeat: no-repeat
    background-size: 100% 550px

.footer--imagem .esquerdo
    margin-right: 20%
    margin-top: 100px
    width: 320px

.footer--imagem .esquerdo h1
    font-size: 3.5em
    line-height: 1.2em
    font-weight: 700
    color: #031868
    text-align: center

.footer--imagem .esquerdo p
    font-size: 2.5em
    line-height: 1.5em
    font-weight: 400
    color: #666
    text-align: center
    margin-top: 20px

.footer--imagem .botao_aplicativo
    width: 300px
    flexCenter()
    margin-top: 40px

.footer--imagem .botao_aplicativo .aplicativo
    width: 200px
    height: 50px
    margin: 0 5px

.footer--imagem .botao_aplicativo .aplicativo .android,
.footer--imagem .botao_aplicativo .aplicativo .apple
    width: 100%
    height: 100%
    flexCenter()
    background: #151414
    border-radius: 3px
    padding: 0px 10px

.footer--imagem .botao_aplicativo .aplicativo .android .imagem img,
.footer--imagem .botao_aplicativo .aplicativo .apple .imagem img
    width: 30px
    height: 30px

.footer--imagem .botao_aplicativo .aplicativo .android .texto,
.footer--imagem .botao_aplicativo .aplicativo .apple .texto
    color: $corClube
    margin-left: 10px
    margin-bottom: 25px
    font-weight: 700
    font-size: 1em

.footer--imagem .botao_aplicativo .aplicativo .android .texto span,
.footer--imagem .botao_aplicativo .aplicativo .apple .texto span
    font-size: 0.6em
    line-height: 1em
    color: $corClube

.footer--imagem .botao_aplicativo .aplicativo .android .texto p,
.footer--imagem .botao_aplicativo .aplicativo .apple .texto p
    font-size: 1.5em
    line-height: 1em
    color: $corClube

.footer--contato
    width: 100%
    position: absolute
    justifyEnd()
    directionColumn()
    margin-right: 100px
    bottom: 100px
    text-align: right

.footer--contato h1
    font-size: 2.5em
    font-weight: 700
    color: $corClube

.footer--contato p
    font-size: 2em
    line-height: 1.5em
    font-weight: 400
    color: $corClube

.footer--contato p:first-of-type
    margin-top: 20px

.footer--contato a
    font-size: 2em
    line-height: 1.5em
    font-weight: 700
    color: $corClube !important
    margin-top: 20px

@media screen and (max-width: 1000px)
    .footer--imagem
        justifyCenter()
        padding-top: unset

    .footer--imagem .esquerdo
        width: 100%
        margin-right: 0
        padding-bottom: 150px
        margin-top: 120px

    .footer--imagem .celular
        display: none

    .footer--contato
        position: relative
        margin-top: 100px
        margin-left: 20px
        margin-right: 20px
        padding: 0 20px

    .footer--imagem .botao_aplicativo
        width: 100%
        justifyCenter()

    .footer--imagem .botao_aplicativo .aplicativo:first-of-type
        margin-right: 10px


.bloco_atencao
    width: 100%
    max-width: 600px
    background-color: $corClube
    border-radius: 5px
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1)
    padding: 20px
    margin: -20px 0 40px
    alignItemCenter()
    flex-direction: column

.bloco_atencao h1
    font-size: 3em
    text-align: center

.bloco_atencao p
    font-size: 1.6em
    line-height: 1.5em
    font-weight: 400
    margin: 10px 0 20px
    text-align: center

.botao_escolha
    width: 100%
    flexCenter()
    flex-direction: row
    color: $corClube
    margin-bottom: 50px

.botao_escolha a
    height: 50px
    line-height: 50px
    font-size: 2em
    border: 1px solid $corClube
    border-radius: 5px
    padding: 0 25px
    margin: 0 10px

@media screen and (max-width: 700px)
    .botao_escolha
        flex-direction: column

    .botao_escolha a
        text-align: center
        margin-top: 20px


.bloco_menu
    width: 100%
    flexCenter()
    flex-wrap: wrap
    margin: 20px 0 80px

.bloco_menu p
    width: 100%
    text-align: center
    font-size: 3em
    font-weight: 700
    margin-bottom: 20px

.bloco_menu a
    font-size: 1.8em
    padding: 10px 20px
    border-right: 1px solid #ccc
    text-align: center

.bloco_menu a:last-child
    border-right: none

@media screen and (max-width: 700px)
    .bloco_menu a:nth-child(3)
        border-right: none

.link.voltar_inicio
    width: unset
    height: 50px
    position: absolute
    bottom: 0
    flexCenter()
    font-size: 1.3rem
    background-color: $corClube
    border-radius: 5px 5px 0 0
    border: transparent
    line-height: unset
    padding: 5px 10px
    font-weight: 700
    box-shadow: 2px 0 2px rgba(0,0,0,.2)
    transition: .3s ease height
