#bloco_demanda_tarefa
    width: calc(100% - 40px)
    max-width: 1100px
    max-height: calc(100vh - 40px)
    margin: 20px
    overflow-y: auto
    boxShadow()
    background-color: #FFF
    border-radius: 5px
#bloco_demanda_tarefa > header
    width: 100%
    padding: 20px 20px 0
    flexRow()
    align-items: center
    h1
        flexGrow()
        titulo()
    .botao_topo
        position: relative
        flexRow()
        align-items: center
        margin-right: 10px
    i
        width: 30px
        height: 30px
        flexCenter()
        cursor: pointer
    .linha
        width: 1px
        height: 24px
        position: relative
        background-color: #CCC
        margin: 0 15px 0 5px

#bloco_demanda_tarefa .bloco_equipe
    width: 100%
    flexRow()
    padding: 13px 20px
    margin-top: 20px
    align-items: center
    border-top: 1px solid #DDD
    border-bottom: 1px solid #DDD
    figure
        width: 44px
        height: 44px
        imagemRedonda()
        border: 2px solid #FFF
        background-color: #EEE
        transition: margin-right .3s ease-out
    .bloco_grupo
        flexRow()
    .bloco_grupo figure
        margin-right: -25px
    .bloco_grupo figure:last-child
        margin-right: 0
    .bloco_grupo:hover figure
        margin-right: 5px
    .linha
        width: 1px
        height: 30px
        background-color: #CCC
        margin: 0 10px
    .resto
        flexGrow()
    .botao
        height: 30px
        line-height: 28px
        textoFontSize()
        margin-left: 20px
        border: 1px solid $cor
        border-radius: 20px
        padding: 0 14px
        cursor: pointer
        &.sim
            background-color: $cor
            color: #fff
        &.nao
            color: $cor

#bloco_demanda_tarefa .bloco_data
    width: 100%
    flexRow()
    padding: 20px
    .data
        flexCenter()
        border-right: 1px solid #CCC
        padding-right: 10px
        margin-right: 10px
        &:last-child
            border-right: none
    .data i
        margin-right: 10px
        flexCenter()
    .data p
        font-size: 1.3rem
#bloco_demanda_tarefa .bloco_tarefa
    width: 100%
    flexCol()
    padding: 0 20px
    article
        width: 100%
        position: relative
        flexRow()
        margin: 10px 0
        blocoShadow()
        border-left: 5px solid #FFF
        align-items: center
        &:hover
            background-color: #F6F6F6
            border-color: #F6F6F6
        &.concluida
            border-color: $corVerde
            background-color: #FFF
    article .bloco_botao
        position: absolute
        top: 10px
        right: 10px
        flexRow()
        opacity: 0
        transition: opacity .3s ease-out
    article:hover .bloco_botao
        opacity: 1
    article .bloco_botao i
        width: 30px
        height: 30px
        flexCenter()
        margin: 0 5px
        border-radius: 50%
        cursor: pointer
        transition: background-color .3s ease-out
        fill: #666
        &:hover
            background-color: #DDD
    article > figure
        width: 50px
        height: 50px
        imagemRedonda()
    article .conteudo
        flexGrow()
        flexCol()
        padding: 0 20px
        align-items: flex-start
    article .conteudo h1
        font-size: 2rem
    article .conteudo .dado
        flexRow()
        flex-wrap: wrap
        margin-top: 10px
    article .conteudo .dado .item
        flexCol()
        border: 1px solid #DDD
        border-radius: 5px
        padding: 5px 5px 0
        margin-right: 10px
    article .conteudo .dado .item span
        font-size: 1.2rem
    article .conteudo .dado .item p
        texto()
    article .conteudo .bloco_testado
        flexCol()
        flex-wrap: wrap
        margin-top: 15px
    article .conteudo .bloco_testado p
        width: 100%
        color: #333
    article .conteudo .bloco_testado .bloco_imagem
        flexRow()
        background: #EEE
        padding: 5px 0 5px 5px
        margin-top: 3px
        border-radius: 2px 20px 20px 20px
    article .conteudo .bloco_testado .bloco_imagem figure
        width: 30px
        height: 30px
        imagemRedonda()
        margin-right: 5px
        background-color: #FFF
    article .conteudo .bloco_teste
        height: 40px
        flexRow()
        margin-top: 20px
        background: #EEE
        padding: 5px 10px
        border-radius: 20px
    article .conteudo .bloco_teste .bloco_imagem
        flexRow()
    article .conteudo .bloco_teste .bloco_imagem figure
        width: 30px
        height: 30px
        imagemRedonda()
        margin-right: 5px
        background-color: #FFF
        &:last-child
            margin-right: 15px
    article .conteudo .bloco_teste i
        width: 30px
        height: 30px
        flexCenter()
        cursor: pointer
        &.like
            fill: $corVerde
            margin-right: 15px
        &.deslike
            margin-top: 2px
            fill: $corVermelho
    article > .botao
        fill: $corVermelho
        cursor: pointer
    article > .check
        width: 40px
        height: 40px
        flexCenter()
        fill: #FFF
        background-color: $corVerde
        border-radius: 50%

#bloco_demanda_tarefa .bloco_tarefa
    article.concluida .texto
        display: none
    article.concluida.ativo .texto
        display: block
#bloco_demanda_tarefa .bloco_arquivo
    background: #eee
    padding: 10px 0 20px
    margin-top: 30px
    h2
        padding-left: 20px
    .fw_form_arquivo_lista_upload
        width: auto !important
        border-radius: 20px !important
        justify-content: flex-start
        padding: 0 20px
        &::after
            content: "Enviar arquivo"
            color: #FFF
            padding-left: 10px
            font-size: 1.4rem
            font-weight: 300

#bloco_demanda_tarefa .bloco_historico
    padding: 40px 20px 0

#bloco_demanda_tarefa
    h2
        width: 100%
        font-size: 1.6rem
        font-weight: bold
        color: #666
    .botao_add
        width: 180px
        height: 40px
        line-height: 40px
        position: relative
        background-color: $cor
        color: #FFF
        margin: 10px 0 20px
        text-align: center
        textoFontSize()
        border-radius: 20px
        cursor: pointer
        overflow: hidden
    .botao_add input
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 2
        opacity: 0
        cursor: pointer

.bloco_adicionar_motivo
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
    background-color: rgba(0,0,0,.7)
    z-index: 100
    padding: 20px
    display: flex
    justify-content: center
    align-items: flex-start
    opacity: 0
    transition: opacity .3s ease-out
    &.ativo
        opacity: 1
    .conteudo
        width: 100%
        max-width: 700px
        boxShadow()
        background-color: #FFF
        border-radius: 10px
        flexCol()
        align-items: flex-end
        margin-top: -100px
        transition: margin-top .3s ease-out
    &.ativo .conteudo
        margin-top: 0
    .conteudo header
        width: 100%
        flexRow()
        align-items: center
        box-shadow: 0 4px 5px rgba(0,0,0,.1)
        padding: 10px 20px
    .conteudo header h1
        titulo()
        flexGrow()
    .conteudo .bloco_texto
        width: 100%
        max-height: calc(100vh - 180px)
        padding: 10px 20px 20px
        overflow-y: auto
    .conteudo .bloco_botao
        width: 100%
        flexRow()
        justify-content: space-between
        padding: 0 20px 20px
    .conteudo .bloco_botao button
        height: 40px
        line-height: 40px
        padding: 0 20px
        border-radius: 20px
        textoFontSize()
        &.salvar
            bgDegradeVerde()
            color: #FFF
        &.cancelar
            bgDegradeCinza()
