#bloco_demanda_index
    width: 100%
    padding: 20px 0 20px 20px
    overflow-x: auto
    .conteudo_geral
        width: 100%
        min-width: 1800px
        display: flex
        flex-direction: row

#bloco_demanda_index .bloco_coluna
    width: 280px
    margin-right: 20px
    > header
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
    > header h1
        height: 30px
        line-height: 30px
        font-weight: bold
        font-size: 1.8rem
        color: #666
    > header .botao
        height: 25px
        line-height: 25px
        border-radius: 13px
        background: $cor
        padding: 0 10px
        margin-left: 10px
        color: #FFF
        font-size: 1.4rem
        cursor: pointer
    > header i
        width: 25px
        height: 25px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        font-size: 2rem
        color: #999
        cursor: pointer
        &.hide
            display: none
    > header .flex
        flex-grow: 1
        flex-basis: 0%
    .conteudo
        width: 100%
        height: calc(100vh - 135px)
        margin-top: 5px
        overflow-y: auto
    .conteudo .tarefa_zero
        width: 100%
        padding: 50px 0
        font-size: 1.3rem
        color: #999
        background-color: #FFF
        border-radius: 5px
        text-align: center
        &.hide
            display: none
    .conteudo article
        width: 100%
        background: #FFF
        box-shadow: 0 4px 4px rgba(0,0,0,.1)
        border-radius: 4px
        margin-top: 20px
        cursor: pointer
        border-left: 3px solid #FFF
        transition: opacity .3s ease-out
        overflow: hidden
        &:first-child
            margin-top: 0
        &.prioridade_1
            border-color: #FF6C60
        &.prioridade_2
            border-color: #00aced
        &.prioridade_3
            border-color: #169e91
    .conteudo:hover article
        opacity: .5
    .conteudo:hover article:hover
        opacity: 1
    .conteudo article > figure
        width: 100%
        height: 150px
        background-size: cover
        background-position: center center
    .conteudo article header
        width: 100%
        padding: 20px 20px 0 20px
    .conteudo article header h1
        width: 100%
        font-size: 1.5rem
        color: #333
        font-weight: bold
    .conteudo article header p
        width: 100%
        max-height: 4.5em
        line-height: 1.5em
        font-size: 1.5rem
        color: #999
        margin-top: 5px
        overflow: hidden
    .conteudo article footer
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        border-top: 1px solid #DDD
        margin-top: 15px
        padding: 15px 20px 20px 20px
    .conteudo article footer i
        width: 30px
        height: 30px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        fill: #FFF
        margin-right: 10px
        &.tipo.bug
            background-color: $corErro
    .conteudo article footer figure
        width: 30px
        height: 30px
        border-radius: 50%
        background-size: cover
        background-position: center center
        margin-right: 10px
    .conteudo article footer .linha
        width: 1px
        height: 20px
        background: #CCC
        margin-right: 10px
#bloco_demanda_index .bloco_coluna.curto
    .conteudo article > figure
        display: none
    .conteudo article header
        padding-bottom: 20px
    .conteudo article footer
        display: none
