#bloco_app_lista_detalhe
    width: 100%
    flexCol()
    padding: 20px 0 90px
    .tarefa_zero
        width: 100%
        text-align: center
        padding: 100px 20px
        texto()
#bloco_app_lista_detalhe .bloco_botao
    width: calc(100% - 40px)
    margin: 0 0 10px 20px
    flexRow()
    overflow-x: auto
    .barra
        width: 1px
        height: 30px
        background-color: #CCC
        margin-right: 10px
    .botao
        height: 30px
        line-height: 30px
        border: 1px solid #CCC
        border-radius: 4px
        color: #333
        margin-right: 10px
        padding: 0 10px
        font-size: 1.2rem
        &:last-child
            margin-right: none
        &.add
            background-color: $cor
            border-color: $cor
            color: #FFF
#bloco_app_lista_detalhe
    .linha
        width: 100%
        padding: 5px 20px
    .lista
        width: 100%
        display: flex
        flex-direction: column
        &.loading
            width: calc(100% - 40px)
            margin: 5px 20px
    .lista.geral
        width: 100%
        background: #fff
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
        border-radius: 5px
        align-items: center
        border: 1px solid #fff
        opacity: 1
        transition: opacity 0.3s ease-out
    .linha:hover .lista.geral
        border: 1px solid $cor
    .linha:hover .lista.geral.loading
        border: 1px solid #FFF
    .lista .header
        width: 100%
        min-height: 50px
        flexRow()
        padding-left: 20px
        align-items: center
    .lista .header .drag
        width: 30px
        fill: #999
        cursor: pointer
        margin-right: 10px
    .lista .header figure
        width: 30px
        height: 30px
        border-radius: 50%
        background-position: center center
        background-size: cover
        background-color: #EEE
    .lista .header h1
        font-size: 1.7rem
        line-height: 1.5em
        padding: 0 10px
        flexGrow()
    .lista .header h1 p
        color: #FFF
        texto()
    .lista .header .botao_acao
        width: 30px
        height: 30px
        flexCenter()
        cursor: pointer
        margin-right: 10px
        fill: #999
        border-radius: 5px
        &:hover
            background-color: #F6F6F6
    .lista .header .abrir
        display: flex
    .lista .header .fechar
        display: none
    .lista.aberto .header .abrir
        display: none
    .lista.aberto .header .fechar
        display: flex
    .lista .conteudo
        width: 100%
        padding: 0 20px 10px
        display: none
    .lista .conteudo .bloco_data
        width: 100%
        border-top: 1px solid #CCC
        padding-top: 15px
        flexRow()
    .lista .conteudo .bloco_data .data
        font-size: 1.2rem
        margin-right: 10px
        flexCol()
        color: #999
    .lista .conteudo .bloco_data .data span
        texto()
        border: 1px solid #CCC
        color: #333
        border-radius: 5px
        padding: 0 5px
        margin-top: 5px
    .lista .conteudo .bloco_data .data.entrega span
        color: #FFF
        background-color: $corDeletar
        border-color: $corDeletar
    .lista.aberto .conteudo
        flexCol()
    .lista .conteudo .texto
        color: #666
        margin-top: 10px
    .lista .conteudo .bloco_botao
        width: 100%
        flexRow()
        justify-content: space-between
    .lista .conteudo .bloco_botao .botao
        height: 35px
        line-height: 35px
        border: 1px solid #CCC
        border-radius: 5px
        cursor: pointer
        textoFontSize()
        padding: 0 10px
        &.sprint
            background-color: $cor
            border-color: $cor
            color: #FFF
            display: none
        &.remover
            background-color: $corDeletar
            border-color: $corDeletar
            color: #FFF
            display: none
#bloco_app_lista_detalhe.sprint_ativa .linha .lista .conteudo .bloco_botao .botao
    &.sprint
        display: flex
    &.remover
        display: none
#bloco_app_lista_detalhe.sprint_ativa .linha.na_sprint .lista .conteudo .bloco_botao .botao
    &.sprint
        display: none
    &.remover
        display: flex

#bloco_botao_salvar .botao.sprint
    background-color: $corAzul
    &:hover
        width: 120px
