#bloco_demanda_tarefa
    width: calc(100% - 40px)
    max-width: 1100px
    max-height: calc(100vh - 40px)
    margin: 20px
    overflow-y: auto
    blocoShadow()
#bloco_demanda_tarefa > header
    width: 100%
    flexRow()
    h1
        flexGrow()
        titulo()
    i
        width: 30px
        height: 30px
        flexCenter()
        cursor: pointer

#bloco_demanda_tarefa .bloco_equipe
    width: 100%
    flexRow()
    margin-top: 30px
    align-items: center
    figure
        width: 44px
        height: 44px
        imagemRedonda()
        border: 2px solid #FFF
        background-color: #EEE
        transition: margin-right .3s ease-out
    .bloco_grupo
        flexRow()
    .bloco_grupo figure
        margin-right: -25px
    .bloco_grupo figure:last-child
        margin-right: 0
    .bloco_grupo:hover figure
        margin-right: 5px
    .linha
        width: 1px
        height: 30px
        background-color: #CCC
        margin: 0 10px
    .resto
        flexGrow()
    .botao
        height: 30px
        line-height: 28px
        textoFontSize()
        margin-left: 20px
        border: 1px solid $cor
        border-radius: 20px
        padding: 0 14px
        cursor: pointer
        &.sim
            background-color: $cor
            color: #fff
        &.nao
            color: $cor

#bloco_demanda_tarefa .bloco_tarefa
    width: 100%
    flexCol()
    margin-top: 40px
    h2
        font-size: 1.6rem
        font-weight: bold
        color: #666
    .botao_add
        width: 180px
        height: 40px
        line-height: 40px
        background-color: $cor
        color: #FFF
        margin: 10px 0 20px
        text-align: center
        textoFontSize()
        border-radius: 20px
        cursor: pointer
    article
        width: 100%
        position: relative
        flexRow()
        margin: 10px 0
        blocoShadow()
        align-items: center
        &:hover
            background-color: #F6F6F6
    article .bloco_botao
        position: absolute
        top: 10px
        right: 10px
        flexRow()
        opacity: 0
        transition: opacity .3s ease-out
    article:hover .bloco_botao
        opacity: 1
    article .bloco_botao i
        width: 30px
        height: 30px
        flexCenter()
        margin: 0 5px
        border-radius: 50%
        cursor: pointer
        transition: background-color .3s ease-out
        fill: #666
        &:hover
            background-color: #DDD
    article figure
        width: 50px
        height: 50px
        imagemRedonda()
    article .conteudo
        flexGrow()
        flexCol()
        padding: 0 20px
    article .conteudo h1
        font-size: 2rem
    article .conteudo .dado
        flexRow()
        flex-wrap: wrap
        margin-top: 10px
    article .conteudo .dado .item
        flexCol()
        border: 1px solid #DDD
        border-radius: 5px
        padding: 5px 5px 0
        margin-right: 10px
    article .conteudo .dado .item span
        font-size: 1.2rem
    article .conteudo .dado .item p
        texto()
    article > .botao
        fill: $corVermelho
        cursor: pointer

#bloco_demanda_tarefa .texto
    margin-top: 20px
