@template "site"
@resource "site/banner"

#bloco_sicoob
    maxWidth()
    .banner
    .atencao
        espacoBottomPadrao()
.bloco_credito_index .bloco_escolha
        padding-bottom: 20px
    .bloco_botao
        margin-top: 20px
        display: flex
        flex-wrap: wrap
        justify-content: center
        gap: 20px
@media screen and (max-width: 800px)
    .bloco_botao a
        width: calc(( 100% / 2) - 40px)
@media screen and (max-width: 550px)
    .bloco_credito_index .bloco_escolha
        flex-direction: column
        .bloco_botao
            flex-direction: column
            width: 100%
        .bloco_botao a
            width: 70%
            margin: auto
@media screen and (max-width: 425px)
    .bloco_credito_index .bloco_escolha
        flex-direction: column
        .bloco_botao
            flex-direction: column
            width: 100%
        .bloco_botao a
            width: 100%

