@template "site"
@resource "site/banner"

#bloco_sicoob
    maxWidth()
    .banner
    .atencao
        espacoBottomPadrao()

@media screen and (max-width: 580px)
    .bloco_credito_index .bloco_escolha .bloco_botao
        flex-direction: column
        .botao
            margin-bottom: 20px
    #bloco_sicoob
        .bloco_escolha
            padding-top: 0px
            padding-bottom: 0px
