@system "Form"
@template "site"
@resource "site/variavel"
@system "Alerta"
@system "Loading"
@system "Pagina"

#bloco_convenio-mapa
	width: 100%
	height: 100vh
	flexRow()
	align-items: flex-start
	.buscar_popup
		display: none
		cursor: pointer

#bloco_convenio-mapa .bloco_mapa
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0

#bloco_convenio-mapa .bloco_header
	position: absolute
	top: 20px
	left: 20px
	flexRow()
	z-index: 2

#bloco_convenio-mapa .bloco_header a.voltar
	height: 50px
	line-height: 50px
	position: relative
	color: #666
	font-size: 1.4em
	padding: 0 15px
	background-color: #FFF
	boxShadow()
	border-radius: 3px
	cursor: pointer
	i
		width: 40px
		height: 40px
		margin-right: 10px

#bloco_convenio-mapa .bloco_header form
	position: relative
	border-radius: 3px
	margin-left: 10px
	display: flex
	align-items: center
	.bloco_input
		background-color: #FFF
	input
		width: 200px
		height: 50px
		line-height: 40px
		font-size: 1.4em
	.cidade
		flexCenter()
		flex-direction: row
		background-color: #FFF
		margin: 0px 5px
		border: 1px solid #ddd
		.bloco_input .borda
			border: none
		.bloco_input input:focus ~ .cidade
			border-color: #169e91
			border-width: 2px
		i
			flexCenter()
			flex-direction: row
		i svg
			width: 15px
			height: 15px
			fill: #fff
	button
		font-size: 1.4em
		color: #999
		display: flex
		margin-right: 10px
	button i
		width: 25px
		height: 25px
		line-height: 25px
		text-align: center
		background-color: $azul4
		color: #FFF
		border-radius: 3px
		cursor: pointer
	ul
		width: 100%
		top: 51px
		left: 0
		position: absolute
		background-color: #FFF
		border-radius: 3px
		boxShadow()
		overflow: hidden
		display: none
	ul li
		width: 100%
		padding: 10px
		font-size: 1.4em
		cursor: pointer
		&:hover
			background-color: #EEE

#bloco_convenio-mapa .botao_localizacao
	height: 50px
	line-height: 50px
	border-radius: 3px
	margin-left: 20px
	text-align: center
	font-size: 2.0em
	cursor: pointer
	color: #666


#bloco_convenio-mapa .bloco_header .botao_raio
	height: 50px
	position: relative
	flexCenter()
	flex-direction: column
	background-color: #FFF
	font-size: 1.4em
	color: #666
	ul
		width: 240px
		top: 52px
		left: 0
		background-color: #FFF
		position: absolute
		padding: 5px 0
		boxShadow()
		border-radius: 3px
		display: none
	ul li
		font-size: 1.4em
		padding: 5px 10px
		cursor: pointer
		&:hover
			background: #EEE
@media screen and (max-width: 960px)
	#bloco_convenio-mapa .bloco_header form input
		width: 150px
@media screen and (max-width: 850px)
	#bloco_convenio-mapa .bloco_header form input
		width: 100px

@media screen and (max-width: 700px)
	#bloco_convenio-mapa .bloco_header
		width: 100%
		top: 0
		left: 0
		flex-direction: column
	#bloco_convenio-mapa .buscar_popup
		width: 40px
		height: 40px
		flexCenter()
		position: absolute
		right: 9px
		bottom: 114px
		background-color: #FFFFFF
		color: #666
		font-size: 1.8em
		z-index: 9999
		border-radius: 3px
		boxShadow()
	#bloco_convenio-mapa .bloco_header a.voltar
		box-shadow: none
		border-radius: 0
	#bloco_convenio-mapa .bloco_header form,
	#bloco_convenio-mapa .bloco_header .raio
		display: none

#bloco_convenio-mapa .bloco_parceiro
	width: calc(100% - 40px)
	max-width: 1000px
	max-height: calc(100vh - 100px)
	position: fixed
	bottom: 0
	left: 0
	right: 0
	margin: 0 auto
	z-index: 3
	display: none
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	background-color: #FFF
	border-radius: 5px 5px 0 0
	boxShadow()
	overflow-y: auto
	header
		width: 100%
		height: 50px
		display: flex
		align-items: center
		position: relative
		border-bottom: 1px solid #DDD
		line-height: 50px
	header h1
		flexGrow()
		font-size: 2.4em
	header i.voltar
		width: 40px
		color: #999
		font-size: 1.4em
		text-align: center
	header i.fechar
		width: 40px
		color: #999
		text-align: center
		cursor: pointer
		&:hover
			color: #333
	figure
		width: 180px
		height: 180px
		background-position: center center
		background-size: 70% auto
		background-repeat: no-repeat
		margin: 20px 0 20px 20px
	.dado
		flexGrow()
		flexCol()
		align-items: flex-start
		border-left-width: 2px
		border-left-style: solid
		border-color: $corClube
		padding-left: 10px
		margin: 20px 0 20px 20px
	.dado p
		font-size: 1.4em
		line-height: 1.5em
	.dado h2
		font-size: 1.4em
		font-weight: bold
		padding: 10px
		margin-top: 20px
		border-width: 1px
		border-style: solid
		border-color: $corClube
		color: $corClube
	.dado .botao
		display: none
	.botao
		width: 220px
		flexCol()
		margin: 0 40px
	.botao .detalhe
		width: 100%
		height: 50px
		line-height: 50px
		color: #FFF
		border-radius: 3px
		font-size: 1.4em
		text-align: center
		background-color: $corClube
	.botao .rota
		height: 30px
		line-height: 30px
		margin-top: 20px
		border: 1px solid #DDD
		border-radius: 3px
		text-align: center
	.botao .rota i
		margin-right: 10px
#atualizar_mapa
	position: absolute
	left: 0
	right: 0
	bottom: 20px
	text-align: center
	margin-left: auto
	margin-right: auto
	.botao_atualizar_mapa
		display: none
		position: relative
		background: #ffffff
		border-radius: 8px
		cursor: pointer
		line-height: 1.15
		padding: 0 25px
		text-align: center
		text-transform: none
		transform: translateZ(0)
		transition: all .2s,box-shadow .08s ease-in
		user-select: none;
		-webkit-user-select: none
		touch-action: manipulation
		font-size: 1.5rem
		font-weight: bold
		color: $corClube
		boxShadow()
		bordaSolida()
	.botao_atualizar_mapa.atualizar
		display: inline-block
#atualizar_mapa .atualizar
	display: block
@media screen and (max-width: 1000px)
	#bloco_convenio-mapa .bloco_parceiro
		width: 100%
		border-radius: 0
		.dado
			margin-right: 40px
		.botao
			display: none
		.dado .botao
			display: flex
			margin: 20px 0 0 0
		.dado .botao .rota
			margin-top: 10px
@media screen and (max-width: 700px)
	#bloco_convenio-mapa .bloco_parceiro
		flex-direction: column
		figure
			margin: 20px 0 0 0
		.dado
			margin: 20px
			border-left: none
			text-align: center
			align-items: center
		.botao
			width: calc(100% - 40px)
			display: flex
			margin: 20px 0 40px 0
			border-top: 1px solid #DDD
			padding-top: 40px
		.dado .botao
			display: none

#bloco_convenio-mapa .bloco_previa
	position: absolute
	z-index: 10
	background-color: rgba(0,0,0,.7)
	border-radius: 3px
	padding: 10px
	text-transform: uppercase
	color: #FFF
	font-size: 1.2em
	display: none
	&.ativo
		display: flex
@media screen and (max-width: 1000px)
	#bloco_convenio-mapa .bloco_previa.ativo
		display: none

.modal_busca_mapa
	width: 100%
	height: 100%
	display: none
	position: absolute
	align-items: center
	justify-content: center
	top: 0
	bottom: 0
	left: 0
	right: 0
	background-color: rgba(0,0,0,.2)
	z-index: 99999
	.container
		width: 100%
		flexCenter()
		flex-direction: column
		background-color: #FFF
		margin: 0px 40px
		.header-popup
			width: 100%
			height: 50px
			line-height: 50px
			flexRow()
			border-bottom: 1px solid #DDD
			i
				width: 40px
				height: 50px
				text-align: center
				font-size: 1.2em
				cursor: pointer
				&.fechar
					color: #666
			h1
				flexGrow()
				font-size: 1.6em
				color: #666
			@media screen and (max-width: 1000px)
				.h1_voltar
					font-size: 1.4em
		.modal_campanha-conteudo
			width: 100%
			flexCol()
			justify-content: flex-start
			overflow-y: auto
			padding: 0 20px
			h1
				width: 100%
				max-width: 500px
				position: relative
				text-align: center
				font-size: 1.2em
				margin: 10px auto
				margin-top: 20px
				z-index: 1
				span
					padding: 0 15px
					background-color: $branco
					color: #666
					font-size: 1.3em
				&:after
					border-bottom: 1px solid #E8E8E8
					border-top: none
					content: ""
					margin: 0 auto
					position: absolute
					top: 45%
					left: 0
					right: 0
					width: 100%
					z-index: -1
			form
				width: 100%
				height: auto
				position: relative
				flexCol()
				padding-bottom: 90px
				ul
					width: 100%
					position: absolute
					background-color: #FFF
					top: 160px
					left: 0
					border-radius: 3px
					boxShadow()
					overflow: hidden
					display: none
				ul li
					width: 100%
					padding: 10px
					font-size: 1.4em
					cursor: pointer
					&:hover
						background-color: #EEE
			label
				width: 100%
				margin-top: 20px
				position: relative
			input
				width: 100%
				height: 50px
				border: 1px solid #CCC
				border-radius: 3px
				padding: 0 50px 0 10px
				font-size: 1.4em
			input
				padding: 0 10px
				margin-top: 20px
			.seta-esquerdo:after
				top: -5px
				font-size: 1.5em
			.resto
				width: 100%
				flex-grow: 1
				flex-basis: 0%
			button
				width: 100%
				height: 50px
				position: absolute
				bottom: 20px
				left: 0
				border-radius: 3px
				color: $branco
				font-size: 1.4em

.form_geral .bloco_input
	margin: 0px 5px


#form_buscar_mobile .bloco_input
	margin: 20px 0px

#form_buscar_mobile .footer_pagina_popup
	display: flex
	align-items: center
	justify-content: flex-end

#form_buscar_mobile button
	height: 40px
	line-height: 40px
	border-radius: 20px
	background-color: $corClube
	color: #FFF
	padding: 0 25px
	font-size: 1.2rem
