@system "Form"
@template "site"
@resource "site/variavel"
@resource "site/banner"
@resource "site/saude/operadora"

#bloco_odonto
    max-width: $maxWidth
    flexCol()
    .preco
        width: 100%
        display: flex
        flex-direction: column
        margin-top: 20px
    .preco h2
        width: 100%
        font-size: 1.2em
        line-height: 1.5em
        color: #666
    .preco p.apenas
        width: 100%
        texto()
        color: #333
        margin-bottom: 5px
        text-indent: inherit
    .preco .valor
        display: flex
        flex-direction: row
        titulo()
        color: #999
    .preco .valor b
        bold()
        font-size: 2.2em
        margin-top: -4px
    .preco .valor span
        font-size: .8em
    .preco p
        color: #666
        font-size: 1.2em
        text-indent: 86px
        margin-top: -4px
    .aviso_preco
        espacoTopPadrao()
    .aviso_preco p
        bold()
        disclaimerFontSize()
    .acessa_rede
        espacoTopPadrao()
    .acessa_rede p
        margin-bottom: 10px
    .bloco_plano_saude .lista_passo_a_passo .bloco_geral_ul li span
        bold()
    .bloco_plano_saude.procedimento .lista_passo_a_passo .bloco_geral_ul
        flexWrap()
        li
            width: calc((100%/4) - 20px)
