/node_modules
/vendor
/public/teste.php
/public/error_log
/files/log/*
/files/chave/*
/files/phpmussel/cache/*
/files/phpmussel/quarentena/*
/files/phpmussel/assinatura/*
/files/banco/mariadb*
/files/sessions/*
/files/webdriver/*
/public/arquivo_privado/*
/public/arquivo_publico/*
/error_log
/package-lock.json
/docker-compose.yml
/composer.lock
/phpmussel.yml
/.env
/.env.*
/.prettierrc
/phpunit.xml
/.eslintignore
/tests/server/*
!/tests/server/selenium.jar
/adp.phar
/src/Files/.adp
/src/Files/.config
/src/Gulpfile/gulp.json
.DS_Store
._*
.ftp*
.vscode
