/node_modules
/vendor
/files
/error_log
/package-lock.json
/docker-compose.yml
/composer.lock
/phpmussel.yml
/.env
/.env.*
/.prettierrc
/phpunit.xml
/.eslintignore
/tests/server
/adp.phar
/files/.adp
/files/.config
/files/gulp.json
.DS_Store
._*
.ftp*
.vscode
