/node_modules
/vendor
/public
/files
/error_log
/package-lock.json
/docker-compose.yml
/composer.lock
/phpmussel.yml
/.env
/.env.*
/.prettierrc
/.eslintignore
/tests/server
/adp.phar
.DS_Store
._*
.ftp*
/.chave_*
/.idea
composer.phar
/.php-cs-fixer.cache
/.editorconfig
/.php-cs-fixer.dist.php
/captainhook.json
/postman/temp
/php-cs-fixer.phar
/cypress.local.json
/tests/Frontend/config/screenshots
