@template "painel"

#bloco_data_policy_contexto
    width: 100%
    display: flex
    align-items: center
    flex-direction: column
    padding: 20px
    > header
        width: 100%
        max-width: 1000px
        padding-bottom: 15px
        border-bottom: 1px solid #CCC
        display: flex
        flex-direction: row
    > header p
        line-height: 1.4em
        font-size: 2rem
        color: #666
        margin-right: 8px
    > header h1
        line-height: 1.4em
        font-size: 2rem
        color: #666

#bloco_data_policy_contexto .lista
    width: 100%
    max-width: 1000px
    display: flex
    flex-direction: column
    article
        width: 100%
        margin-top: 20px
        display: flex

#bloco_data_policy_contexto .lista article a
    width: 100%
    background: #FFF
    border-radius: 5px
    box-shadow: 0 4px 5px rgba(0,0,0,.1)
    padding: 20px
    display: flex
    flex-direction: column
    justify-content: flex-start
    header
        display: flex
        align-items: flex-start
        margin-bottom: 5px
    header h1
        font-size: 1.6rem
        line-height: 1.5em
        background-color: $cor
        color: #FFF
        padding: 5px 10px
        border-radius: 3px
    p
        width: 100%
        line-height: 1.5em
        font-size: 1.6rem
        margin-top: 10px

#bloco_data_policy_contexto .controle
    width: 100%
    max-width: 1000px
    margin-top: 40px
    display: flex
    flex-direction: row
    justify-content: space-between
    a
        height: 50px
        line-height: 50px
        padding: 0 40px
        background-color: $cor
        color: #FFF
        border-radius: 5px
        font-size: 1.6rem
