@template "site"
@system "Esqueleto"
@resource "site/loja/parceiro"

#bloco_easylive
    maxWidth()
    .bloco_botao
        width: 100%
        margin: 40px 0
        flexRow()
        align-itens: center
        justify-content: center

#container_sem_shows
    display: flex
    justify-content: center
    flex-direction: column
    blocoShadow()
    padding: 20px
    gap: 15px
    border-radius: 5px
    h1
        titulo()
    p, a
        texto()
        text-align: justify
    a
        flexCenter()
        max-width: 200px


