@template "site"
@system "Esqueleto"
@resource "site/loja/parceiro"

#bloco_easylive
    maxWidth()
    .bloco_botao
        width: 100%
        margin: 40px 0
        flexRow()
        align-itens: center
        justify-content: center
