@template "site"
@system "Esqueleto"
@resource "site/loja/parceiro"

#bloco_easylive
    maxWidth()
    .bloco_botao
        width: 100%
        margin: 40px 0
        flexRow()
        align-itens: center
        justify-content: center

#container_sem_shows
    flexCol()
    padding: 20px
    gap: 15px
    border-radius: 5px
    align-items: center
    blocoShadow()
    background: $corBrancoPreto
    h1
        titulo()
    p
        max-width: 70%
    a
        flexCenter()
        max-width: 200px
    p, a
        texto()
        text-align: center


@media screen and (max-width: 600px)
    #container_sem_shows
        align-items: flex-start
    #container_sem_shows p
        max-width: 100%
        text-align: left
