#bloco_bloquear
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
    overflow-x: hidden
    overflow-y: auto
    z-index: 500
    background: #FFF
    display: none
    opacity: 0
    align-items: center
    justify-content: center
    transition: opacity .3s ease-out
    &.abrir_bloqueio
        opacity: 1
    .conteudo
        width: calc(100% - 40px)
        max-width: 500px
        display: flex
        flex-direction: column
        align-items: center
    .conteudo header
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 40px
    .conteudo header h1
        color: $cor
        font-size: 2rem
    .conteudo header p
        line-height: 1.5em
        font-size: 1.4rem
        margin-top: 5px
        color: #666
    .conteudo figure
        width: 100px
        height: 100px
        background-position: center center
        background-size: cover
        background-color: #EEE
        border-radius: 50%
        margin-bottom: 20px
    .conteudo .bloco_input
        max-width: 250px
    .conteudo .bloco_input input
        text-align: center
    .conteudo .bloco_input label
        width: 46px
        left: calc(50% - 23px)
        text-align: center
    .conteudo .input_checkbox
        margin: 10px 0 20px 0
    .conteudo .button
        width: 140px
    .conteudo > p
        width: 100%
        text-align: center
        margin-top: 40px
        font-size: 1.4rem
        color: #666
    .conteudo a
        display: flex
        flex-direction: row
        align-items: center
        margin-top: 20px
        color: #666
        fill: #888
        border: 1px solid #FFF
        padding: 5px 8px
        border-radius: 3px
        transition: all .3s ease-out, fill .3s ease-out
        &:hover
            border-color: #CCC
            color: #000
            fill: #000
    .conteudo a svg
        margin-right: 5px
