#bloco_notificacao
    width: calc(100% - 30px)
    max-width: 450px
    position: fixed
    top: 57px
    right: 15px
    box-shadow: 0 2px 8px rgba(0,0,0,.2)
    background-color: #FFF
    z-index: 111
    border-radius: 10px
    display: block
    header
        width: 100%
        flexRow()
        flexCenter()
        padding: 0 20px
        box-shadow: 0 4px 5px rgba(0,0,0,.05)
    header h1
        height: 50px
        line-height: 50px
        tituloFontSize()
        flexGrow()
    header i
        width: 30px
        height: 30px
        cursor: pointer
        flexCenter()
    .conteudo
        max-height: calc(100vh - 130px)
        overflow-y: auto
        padding: 5px
    .conteudo h2
        font-size: 1.4em
        padding: 15px 10px 5px 15px
    .conteudo .item
        width: 100%
        flexRow()
        align-items: center
        padding: 5px 10px
        margin: 5px 0
        border-radius: 10px
        &:hover
            background-color: #F6F6F6
    .conteudo .item figure
        width: 50px
        height: 50px
        imagemRedonda()
        background-color: #EEE
    .conteudo .item .dado
        flexGrow()
        flexCol()
        padding: 0 20px 0 15px
        justify-content: flex-start
        align-items: flex-start
    .conteudo .item .dado p
        texto()
        margin: 5px 0
    .conteudo .item .dado strong
        color: #999
        font-size: 1.2rem
    .conteudo .item .dado .data
        font-size: 1.2rem
        color: #666
    .conteudo .item .bola
        width: 8px
        height: 8px
        border-radius: 50%
        background-color: $corAzul
        display: none
    .conteudo .item.visualizado .bola
    .conteudo .item.novo .bola
        display: block
