@template "painel"

.bloco_pagina_popup
    max-width: 500px
    .conteudo_pagina_popup
        flexCenter()

        .texto_descricao
            texto()
            text-align: center
            margin-top: 10px
        #botao_mudar_empresa
            margin-top: 10px
            text-align: center
