@template "painel"
@resource "painel/app_geral_estrutura"
@resource "painel/app_geral_add"

.bloco_app_estrutura
    .texto_descricao
        texto()
        text-align: center
        margin-top: 10px
    .bloco_botao
        width: 100%
        flexCenter()
        margin-top: 10px
