#bloco_regulamento
    width: 100%
    flexCenter()

#bloco_regulamento .regulamento_conteudo
    width: 100%
    max-width: 700px
    flexCenter()
    directionColumn()
    espacoVerticalPadrao()
    article
        padding: 0px 20px
        espacoVerticalPadrao()
    article p.recuo
        padding-left: 10px
    article p span,
    article p span.bold
        font-size: 1em


#bloco_regulamento .regulamento_conteudo a.sair
    width: 200px
    background-color: $corClube
    color: $branco
