@system "Form"
@template "site"
@resource "site/banner"
@resource "site/loja/parceiro"
@resource "site/variavel"
@resource "site/automovel/mensagem"

#bloco_automovel
    maxWidth()
    .banner
        espacoBottomPadrao()
