@template "site"
@resource "site/mixim"
@resource "site/variavel"
@resource "site/geral"
@resource "site/regulamento/index"


.bloco_regras4
    background-color: #FDFD96

.cor_subitem_destaque
    font-weight: 500
    padding-left: 10px
