@system "Loading"
@system "Pagina"
@template "site"
@system "Galeria"
@resource "site/variavel"

#bloco_promocao
    maxWidth()
    flexRow()
    flex-wrap: wrap
    gap: 20px
    .article_fake
        width: calc((100% / 3) - 18px)
    article
        width: calc((100% / 3) - 18px)
        flexCol()
        boxShadow()
        cursor: pointer
        border-radius: 3px
        margin-bottom: 5px
        borderRadiusPadrao()
        overflow: hidden
    article figure
        width: 100%
        height: 250px
        background-size: cover
        background-position: top center

@media screen and (max-width:900px)
    #bloco_promocao
        .article_fake
        article
            width: calc(50% - 10px)

@media screen and (max-width:600px)
    #bloco_promocao
        .article_fake
        article
            width: 100%
