@template "painel"

#bloco_app_lista
    width: 100%
    display: flex
    flex-flow: column nowrap
    margin: 2rem 0 0 0

    .lista
        display: flex
        flex-flow: row nowrap
        justify-content: space-around
        align-items: center
        border-radius: .5rem
        padding: 1.25rem 1.5rem
        margin: .5rem 1.75rem
        transition: all 100ms ease-in-out
        &:nth-child(2)
            background-color: #169e91 !important
            border: 1px solid #ddd
            margin-bottom: 1.25rem
            h1
                color: #fff
            h3
                color: #fff
            p
                color: #fff

        h1
            width: 100%
            min-width: 128px
            font-size: 2.5rem
            font-weight: 700
            color: #666

        h3
            width: 100%
            min-width: 512px
            font-size: 1.5rem
            font-weight: 500
            color: #666

        p
            width: 100%
            min-width: 128px
            font-size: 1.5rem
            font-weight: 500
            color: #666

    .lista.header
        background-color: #eee
        border: 1px solid #ddd
        h1
            font-size: 2.5rem
            font-weight: 700
            color: #666

        h3
            font-size: 2.5rem
            font-weight: 700
            color: #666

        p
            font-size: 2.5rem
            font-weight: 700
            color: #666

    .lista.body
        background-color: #fff
        border: 1px solid #ddd
