@system "Form"
@template "site"
@resource "site/variavel"
@resource "site/banner"
@system "Alerta"
@system "Loading"
@system "Pagina"

#bloco_corretora_alfa
    flexCenter()
    directionColumn()
    max-width: $maxWidth
    .bloco_conteudo
        width: 100%
        spaceAround()
        espacoVerticalPadrao()
        padding: 0px 10px
    .bloco_conteudo .descricao
        width: 50%
        justifyStart()
        alignItemStart()
        directionColumn()
        h1
            titulo()
            color: $corClube
        hr
            width: 50%
            bordaBottomPadraoTabela()
            margin: 20px 0px
        p
            texto()
        p span
            font-size: 1em
            color: $corClube
    .bloco_conteudo .lista
        width: 50%
        ul li
            list-style: none
            margin-bottom: 10px
            padding: 10px
            texto()
            borderRadius()
            boxShadow()
            background-color: #fff
            border: 1px solid $corClube
    .bloco_conteudo.relatorio
        width: 100%
        flexCenter()
        directionColumn()
        header
            width: 100%
            justifyStart()
            alignItemStart()
            directionColumn()
            espacoBottomPadrao()
        header h1
            titulo()
            color: $corClube
        header p
            texto()
        .bloco_geral_article
            width: calc(100% + 10px)
        article
            alignSelfStretch()
            list-style: none
            margin-bottom: 10px
            padding: 10px
            line-height: 1.5em
            font-size: 1.6rem
            border-radius: 5px
            background-color: #fff
            box-shadow: 0 2px 10px rgba(0,0,0,0.1)
            border: 1px solid $corClube
            margin: 5px
        article p
            texto()
        article p span
            font-size: 1em
            acessar_corretora
    .acessar_corretora
        espacoVerticalPadrao()
        a
            texto()
    .disclaimer
        width: 100%
        alignItemStart()
        espacoTopPadrao()
        directionColumn()
        p
            padding: 10px
            disclaimerFontSize()


@media screen and (max-width: 670px)
    #bloco_corretora_alfa .bloco_conteudo
        directionColumn()
    #bloco_corretora_alfa .bloco_conteudo .descricao,
    #bloco_corretora_alfa .bloco_conteudo .lista
        width: 100%
    #bloco_corretora_alfa .bloco_conteudo .lista
        espacoTopPadrao()
