@system "Form"
@template "site"
@system "Pagina"
@resource "site/banner"
@resource "site/variavel"
@resource "site/tab"
@resource "site/tabela"
@resource "site/geral"
@template "painel"
@system "Variavel"

#bloco_pagina_cashback
    width: 100%
    flexCenter()
    position: relative

#bloco_pagina_cashback .conteudo
    maxWidth()
    figure
        flexCenter()
        espacoBottomPadrao()

#bloco_pagina_cashback .conteudo .bloco_saldo
    width: 100%
    gap: 20px
    .regulamento
        width: 230px
        flexCenter()
        bordaSolida()
        color: $corClube
    .saldo_conta
        margin: 20px 0px 10px
        p
            texto()
            font-weight: bold
        span
            texto()
            color: red
            margin-left: 5px

div#botao_popup_resgate
    width: 190px
    height: 40px
    border-radius: 8px
    background-color: $corClube
    flexCenter()
    font-size: $texto
    color: #fff
    cursor: pointer
    texto()

.bloco_atencao_geral
    margin: 20px 0px
    background: $corBrancoCinza

.bloco_extrato
    padding: 10px 0px 20px
    espacoTopPadrao()
    blocoShadow()
    background: $corBrancoCinza
    h1
        font-size: $tituloFontSize
        color: $corClube
        margin-bottom: 20px

@media screen and (max-width: 425px)
    #bloco_pagina_cashback .conteudo .saldo
        flex-direction: column
        align-items: flex-start
        margin: 10px 0px 40px
        .saldo_conta
            border: none
            justify-content: flex-start

#bloco_pagina_cashback  .bloco_tabela_geral
    width: 100%
    table
        box-shadow: none
        text-align: center
    table thead tr th
        background: $corBoxShadow
        font-weight: bold
        text-align: center
    table .bloco_status
        text-align: center
        width: 20px
        height: 20px
        border-radius: 50%
        margin: auto
    table .creditado
        background: green
    table .negado
        background: red
    table .aguardando
        background: #ff6f00



.bloco_tab_geral .bloco_botao
    .botao.ativo, .botao:hover
        background: $corBrancoCinza
    .botao.ativo .texto_ativo,
    .botao:hover .texto_ativo
        color: $corClube

[data-theme="dark"] .bloco_tab_geral .bloco_botao
    .botao.ativo .texto_ativo,
    .botao:hover .texto_ativo
        color: $corPretoBranco

[data-theme="dark"] #conteudo_principal
    background: $corBrancoPreto

.bloco_geral_banner figure
    background-size: 60% auto
    background-repeat: no-repeat

.bloco_popup_geral .popup_conteudo
    padding: 20px
    form
        flexCenter()
        directionColumn()
    form button
        alignSelfEnd()
        width: 180px
        espacoTopPadrao()

#bloco_resgatar_ponto
    div#botao_solicitar_ponto
        height: 30px
        width: 200px
        border-radius: 5px
        flexCenter()
        font-size: 1.5rem
        margin-top: 10px
        cursor: pointer

.titulo_dados_bancarios
    font-size: 2rem
    margin-top: 20px
    color: $corClube
    bold()

fieldset
    padding: 0px 10px

.conteudo_pagina_popup .bloco_botao
    padding-left: 10px

@media screen and (max-width: 1024px)
    #bloco_pagina_cashback .bloco_tabela_geral
        overflow-x: auto
