@system "Form"
@template "site"
@system "Pagina"
@resource "site/banner"
@resource "site/variavel"
@resource "site/tab"
@resource "site/tabela"



#bloco_pagina_cashback
    width: 100%
    flexCenter()
    position: relative

#bloco_pagina_cashback .conteudo
    maxWidth()
    figure
        flexCenter()
        espacoBottomPadrao()
    figure img
        width: 100%
        max-width: 500px
        background-color: $branco
        boxShadow()
        padding: 20px
#bloco_pagina_cashback .conteudo .regulamento
    width: 230px
    flexCenter()
    bordaSolida()
    espacoTopPadrao()
    color: $corClube
#bloco_pagina_cashback .conteudo .saldo
    width: 100%
    justifyStart()
    margin: 20px 0px
    .botao_resgata
        flexCenter()
        width: 200px
        height: 50px
        background: $verde4
        bordaPadrao()
        button
            flexCenter()
            color: #FFF
        button span
            texto()
    .saldo_conta
        flexCenter()
        width: 100%
        height: 50px
        max-width: 250px
        margin-right: 10px
        border: 1px solid #bebebe
        bordaPadrao()
        p
            texto()
            color: #bebebe
        span
            texto()
            color: red
            margin-left: 5px
    .saldo_zero
        width: 100%
        max-width: 740px
        padding: 10px
        background: #bebebe
        flexCenter()
        color: #fff
        border-radius: 3px
        p
            texto()

#bloco_pagina_cashback  .bloco_tabela_geral
    width: 100%
    table
        box-shadow: none

.bloco_geral_banner figure
    background-size: 60% auto
    background-repeat: no-repeat

.bloco_popup_geral .popup_conteudo
    padding: 20px
    form
        flexCenter()
        directionColumn()
    form button
        width: 200px
        espacoTopPadrao()
