@system "Form"
@template "site"
@resource "site/tab"
@resource "site/tabela"
@resource "site/geral"

#bloco_pagina_cashback
    width: 100%
    flexCenter()
    position: relative

#bloco_pagina_cashback .conteudo
    maxWidth()
    figure
        flexCenter()
        espacoBottomPadrao()

#bloco_pagina_cashback .conteudo .bloco_saldo
    width: 100%
    gap: 20px
    .regulamento
        width: 230px
        flexCenter()
        bordaSolida()
        color: $corClube
    .saldo_conta
        margin: 20px 0px 10px
        p
            texto()
            font-weight: bold
        span
            texto()
            font-weight: bold
            margin-left: 5px
    .botao_resgate_cashback
        max-width: 200px
        height: 40px
        border-radius: 5px
        background-color: $corClube
        flexCenter()
        color: #fff
        cursor: pointer
        texto()
        margin-bottom: 10px
@media screen and (max-width: 425px)
    #bloco_pagina_cashback .conteudo .saldo
        flex-direction: column
        align-items: flex-start
        margin: 10px 0px 40px
        .saldo_conta
            border: none
            justify-content: flex-start

.bloco_atencao_geral
    margin: 20px 0px

.bloco_extrato
    padding: 10px 0px 20px
    espacoTopPadrao()
    blocoShadow()
    background: $corBrancoCinza
    h1
        titulo()
        color: $corClube
        margin-bottom: 20px

#bloco_pagina_cashback  .bloco_tabela_geral
    table
        box-shadow: none
        text-align: center
        min-width: auto
    table thead tr th
        background: $corBoxShadow
        font-weight: bold
        text-align: center
        vertical-align: middle
        border: 1px solid #eaeef1
        width: 200px
    table .bloco_status
        text-align: center
        width: 20px
        height: 20px
        border-radius: 50%
        margin: auto
    table .cashback_status
        text-transform: capitalize

.bloco_tab_geral .bloco_botao
    .botao.ativo, .botao:hover
        background: $corBrancoCinza
    .botao.ativo .texto_ativo,
    .botao:hover .texto_ativo
        color: $corClube

[data-theme="dark"] .bloco_tab_geral .bloco_botao
    .botao.ativo .texto_ativo,
    .botao:hover .texto_ativo
        color: $corPretoBranco


.form_geral .bloco_input label
    background-color: $corBrancoCinza

#bloco_resgatar_ponto
    background: $corBrancoPreto
    div#botao_solicitar_ponto
        width: 200px
        height: 40px
        border-radius: 5px
        background-color: $corClube
        flexCenter()
        color: #fff
        cursor: pointer
        texto()
    .titulo_dados_bancarios
        subTituloFontSize()
        margin-top: 20px
        color: $corClube
        &:first-child
            margin-top: 0px

.conteudo_pagina_popup .bloco_botao
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 20px
    a
        texto()
        padding-left: 10px
@media screen and (max-width: 375px)
    .conteudo_pagina_popup .bloco_botao
        flex-direction: column-reverse
        gap: 20px
        a
            padding-left: 0px
    div#botao_solicitar_ponto
        width: 100%

#botao_popup_metodo
    width: 150px
    height: 40px
    border-radius: 5px
    background-color: $corClube
    flexCenter()
    color: #fff
    cursor: pointer
    texto()
    margin-top: 20px

@media screen and (max-width: 1024px)
    #bloco_pagina_cashback .bloco_tabela_geral
        overflow-x: auto
