@template "login"

#bloco_como_funciona_detalhe
    width: 100%
    min-height: calc(100vh - 400px)
    margin-top: 140px
    padding: 0 20px 20px
    z-index: 2
    flexCol()
    align-items: center
    .conteudo
        width: 100%
        max-width: 800px
        blocoShadow()
        margin-bottom: 40px
    .conteudo h1
        width: 100%
        text-align: center
        titulo()
        color: $corClube
        margin-bottom: 40px
        font-weight: bold
    .conteudo .texto
        margin-bottom: 40px
    .conteudo .texto .bloco_observacao
        border-left: 4px solid #e2d44c
        background-color: #eee
        padding: 10px 20px
        font-size: 1.8rem
        color: #333
        margin-bottom: 40px
    .conteudo .texto p
        texto()
        margin: 10px 0
    .conteudo .texto p strong
        textoFontSize()
        font-weight: bold
    .conteudo .texto figure.image
        text-align: center
    .conteudo .texto hr
        width: 100%
        height: 1px
        background-color: #CCC
        margin: 40px 0
        border: none
