@template "login"

#bloco_como_funciona_detalhe
    width: 100%
    min-height: calc(100vh - 400px)
    margin-top: 140px
    padding: 0 20px 20px
    z-index: 2
    flexCol()
    align-items: center
    .conteudo
        width: 100%
        max-width: 1300px
        blocoShadow()
        margin-bottom: 40px
    .conteudo h1
        titulo()
        color: $corClube
        margin-bottom: 10px
