@template "login"
@resource "site/como_funciona/index"

.bloco_menu
    margin-top: 180px

.tutorial__ativar
    margin-top: 0px

@media screen and (max-width: 700px)
    .bloco_menu
        margin-top: 0px
