@template "painel"
@painel "app_relatorio"
@system "Grafico"
@system "Popup"
@resource "site/pagina_popup"
@painel 'relatorio_empresas'

.bloco_filtros
    min-width: auto !important


@media print
    #grafico_genero
        break-before: page

    #grafico_genero
    #grafico_situacao
    #grafico_estado_civil
        margin-top: 70px
