@template "site"
@system "Esqueleto"
@resource "site/variavel"
@resource "site/busca"
@resource "site/loja/busca"
@resource "site/loja/parceiro"
@resource "site/loja/relacionado"
@resource "site/loja/detalhe"
@resource "site/parceiro_header"
@resource "site/texto_destaque"

#bloco_endereco
    .conteudo_pagina_popup
        display: flex
        align-items: center
        margin: 10px 0

        .bloco_categoria_estado
            width: calc(100% - 40px)
            text-align: center

            .divisoria_estado
                width: 90%
                border-top: 1px solid #ddd
                opacity: 0.5

            .bloco_estado_titulo
                font-size: 1.8rem !important

            .bloco_cidade_titulo
            .bloco_estado_titulo
                texto()
        .bloco_categoria_cidade
            text-align: left
            padding: 10px
        .bloco_endereco_item
            list-style-type: disc
            margin-left: 20px
            font-size: 20px

            .bloco_detalhe_endereco
                margin: 10px 0
                display: flex
                justify-content: center
                align-items: center

                .botao_buscar_endereco
                    height: 30px
                    line-height: 30px
                    color: white
                    background: var(--cor-clube);

                .endereco
                    flex: 1
        p
            texto()

#bloco_loja_detalhe
    margin-top: 20px

#bloco_loja_confirmar
    max-width: 700px
    .conteudo
        width: 100%
        padding: 20px
        flexCol()
        position: relative
    h2
        texto()
        margin-bottom: 20px
    .bloco
        width: 100%
        flexCol()
        margin: 10px 0
        padding: 15px 20px
        border: 1px dashed $corClube
        border-radius: 5px
    .bloco h3
        subTitulo()
        color: $corClube
    .bloco p
        texto()

.bloco_loja_detalhe .bloco_mapa
    width: 100%
    margin-top: 40px
    position: relative
    flexCol()
    align-items: flex-start
    border-radius: 10px
    boxShadow()
    background: #FFF
    overflow: hidden
    header
        width: 100%
        max-width: $maxWidth
        z-index: 2
        flexRow()
        align-items: center
        padding: 10px 10px 10px 20px
        border-bottom: 1px solid #DDD
    header h1
        titulo()
        line-height: 1em
    header .grow
        flexGrow()
    header .botao
        flexCenter()
        background-color: $corClube
        color: #FFF
        fill: #FFF
        padding: 0 5px 0 15px
        margin-left: 20px
        font-size: 1.4rem
        border-radius: 5px
        cursor: pointer
    header .botao i
        width: 30px
        height: 30px
        flexCenter()
    .detalhe
        min-width: 100px
        max-width: calc(100% - 40px)
        min-height: 1.5em
        margin: 5px 20px
        display: flex
        texto()
    .mapa_falso
        width: calc(100% - 40px)
        height: 580px
        min-height: 380px
        max-height: calc(100vh - 240px)
        position: absolute
        bottom: 20px
        left: 20px
        z-index: 2
    .mapa
        width: 100%
        height: 600px
        min-height: 400px
        max-height: calc(100vh - 200px)
        position: relative
        z-index: 1

@media screen and ( max-width: 400px)
    .bloco_endereco_item
        list-style-type: none !important
        margin-left: 10px !important
    .bloco_categoria_estado
        width: 100% !important
