@template "site"
@system "Esqueleto"
@resource "site/variavel"
@resource "site/busca"
@resource "site/loja/busca"
@resource "site/loja/parceiro"
@resource "site/loja/relacionado"
@resource "site/loja/detalhe"
@resource "site/parceiro_header"
@resource "site/texto_destaque"

#bloco_loja_detalhe
    margin-top: 20px

.conteudo_pagina_popup .texto_titulo
    font-size: 20px
    margin: 20px 12px

.conteudo_pagina_popup .arquivo
    margin: 8px 25px
    padding: 12px 20px
    display: flex
    align-items: center
    .arquivo_nome
        flex: 1
        font-size: 14px
    .botao_geral_cor
        color: white

.bloco_loja_detalhe
    width: 100%
    max-width: $maxWidth
    flexCol()
    align-items: center

.bloco_desconto_procedimento
    maxWidth()
    flexRow()
    justify-content: space-between
    espacoBottomPadrao()
    .bloco
        width: calc(50% - 10px)

.bloco_botao
    display: flex
    width: 100%
    flex-wrap: wrap
    justify-content: center
    padding-bottom: 10px
    .linha
        width: 1px
        height: 30px
        background-color: #CCC
        margin-left: 20px
    .borda
        color: $corClube
        border-color: $corClube
        margin-right: 20px
        margin-top: 20px
        padding-right: 5px
        flexRow()
        align-items: center
        cursor: pointer
    .botao
        background: $corClube
        color: #FFF
        margin-right: 20px
        margin-top: 20px
        flexRow()
        align-items: center
        cursor: pointer
    .borda i
    .botao i
        width: 40px
        height: 40px
        flexCenter()
        fill: #FFF
    .borda i
        fill: $corClube
    .branco
        background-color: #FFF
        boxShadow()
        padding-left: 5px
    .branco i
        border-right: 1px solid #DDD
        margin-right: 15px
    .destaque
        padding-right: 10px
    .destaque i
        margin-left: 5px

@media screen and (max-width: 940px)
    .bloco_loja_detalhe .bloco_botao
        justify-content: center
        .botao
            width: 45%
            margin: 10px
        .botao &:first-child
            margin-top: 0px
        .botao &:last-child
            margin-bottom: 0px

@media screen and (max-width: 615px)
    .bloco_loja_detalhe .bloco_botao
        padding-top: 0px
        padding-bottom: 0px
        margin-bottom: 0px
        .botao
            width: 100%
            flexCenter()
        .botao i
            display: none

@media screen and ( max-width: 700px)
    .bloco_botao .branco i
        border: none
        margin: none
@media screen and ( max-width: 600px )
    .bloco_desconto_procedimento
        flex-direction: column
    .bloco_desconto_procedimento .bloco
        width: 100%
        &:first-child
            margin-bottom: 20px

#bloco_loja_confirmar
    max-width: 700px
    .conteudo
        width: 100%
        padding: 20px
        flexCol()
        position: relative
    h2
        texto()
        margin-bottom: 20px
    .bloco
        width: 100%
        flexCol()
        margin: 10px 0
        padding: 15px 20px
        border: 1px dashed $corClube
        border-radius: 5px
    .bloco h3
        subTitulo()
        color: $corClube
    .bloco p
        texto()

.bloco_loja_detalhe .bloco_mapa
    width: 100%
    margin-top: 40px
    position: relative
    flexCol()
    align-items: flex-start
    border-radius: 10px
    boxShadow()
    background: $corBrancoCinza
    overflow: hidden
    header
        width: 100%
        max-width: $maxWidth
        z-index: 2
        flexRow()
        align-items: center
        padding: 20px 20px 10px 20px
        border-bottom: 1px solid #DDD
    header h1
        titulo()
        line-height: 1em
    header .grow
        flexGrow()
    header .botao
        flexCenter()
        background-color: $corClube
        color: #FFF
        fill: #FFF
        padding: 0 5px 0 15px
        margin-left: 20px
        font-size: 1.4rem
        border-radius: 5px
        cursor: pointer
    header .botao i
        width: 30px
        height: 30px
        flexCenter()
    .detalhe
        min-width: 100px
        max-width: calc(100% - 40px)
        min-height: 1.5em
        margin: 5px 20px
        display: flex
        texto()
    .mapa_falso
        width: calc(100% - 40px)
        height: 580px
        min-height: 380px
        max-height: calc(100vh - 240px)
        position: absolute
        bottom: 20px
        left: 20px
        z-index: 2
    .mapa
        width: 100%
        height: 600px
        min-height: 400px
        max-height: calc(100vh - 200px)
        position: relative
        z-index: 1
