@template "site"
@resource "site/variavel"
@resource "site/banner"
@resource "site/credito/index"


.bloco_credito_index
    .bloco_escolha .bloco_botao .botao
        width: 180px
    .disclaimer
        disclaimerFontSize()
