@template "site"
@resource "site/variavel"
@resource "site/banner"
@resource "site/credito/index"


.bloco_credito_index
    .bloco_escolha .bloco_botao .botao
        width: 180px
    .disclaimer
        font-size: 1.2rem
        disclaimerFontSize()

@media screen and ( max-width: 425px)
    #bloco_credito_alfa
        .bloco_escolha
            margin-bottom: 20px
            padding: 20px
    #bloco_credito_alfa .bloco_escolha .bloco_botao
        flex-direction: column
        a
            margin: 0px
            width: 100%
            border-radius: 5px
            &:first-child
                margin-bottom: 20px

