.bloco_credito_index
    maxWidth()
    .banner
        espacoBottomPadrao()
    .bloco_escolha
        espacoBottomPadrao()
        padding: 40px 20px 50px
    .bloco_escolha p
        max-width: 400px
    .bloco_escolha .bloco_botao
        width: 100%
        flexRow()
        justify-content: center
        margin-top: 30px
    .bloco_escolha .bloco_botao .botao
        margin: 0 10px
