@system "Form"
@system "Alerta"
@system "Loading"
@template "site"
@resource "site/variavel"
@resource "site/banner"
@resource "site/passo_passo"
@resource "site/dependente"

#bloco_simulacao
    width: 100%
    max-width: $maxWidth
    flexCenter()
#bloco_simulacao_saude
    width: 100%
    max-width: $maxWidth
    espacoTopPadrao()
    #bloco_tipo_amil
    #bloco_central_plano
        display: none
        espacoTopPadrao()
    .bloco_simulacao
        width: 100%
        height: 100%
        max-width: 700px
        flexCol()
        align-items: center
        position: relative
        padding: 20px 20px 75px 20px
        h1
            width: 100%
            text-align: center
            titulo()
        p
            width: 100%
            max-width: 500px
            text-align: center
            texto()
        form
            width: 100%
    .bloco_simulacao.bloco_geral_dependente .dependente p
        text-align: left
    .bloco_simulacao.bloco_geral_dependente .dependente .adicionaDependente p
        text-align: center
    .bloco_simulacao .botao_acomodacao
        flexCenter()
        height: 100%
    .bloco_simulacao .bloco_botao
        width: calc(100% - 40px)
        flexRow()
        position: absolute
        bottom: 20px
        justify-content: space-between
    .bloco_simulacao .bloco_botao .cinza
        background-color: #DDD
    .bloco_simulacao .aviso
        espacoBottomPadrao()
    .conteudo
        flexCenter()
    .resultado_dependente
        flexCenter()
        margin: 10px 0px
    .resultado_dependente p
        height: 100%
        texto()
        flexCenter()
        color: $branco
        border: 1px solid #ff6f00
        background-color: $corClube
        padding: 10px 20px
    .resultado_dependente .valor
        width: auto
        texto()
        color: #333
        background-color: $branco
        border: 1px solid $corClube
        border-left: none
        padding: 6px 20px

#bloco_simulacao_saude #bloco_tipo_amil
    flexCenter()
    flex-wrap: wrap
#bloco_simulacao_saude #bloco_tipo_amil .botao_input
    width: 210px
    height: 50px
    margin-top: 10px


@media screen and (max-width: 900px)
    #bloco_simulacao_saude #bloco_tipo_amil
        espacoBottomPadrao()
    #bloco_simulacao_saude .bloco_simulacao .bloco_regional
        flexCenter()
        flex-wrap: wrap
    #bloco_simulacao_saude .bloco_simulacao .bloco_regional .botao_input
        margin: 10px
    #bloco_simulacao_saude .form_geral .bloco_input
        width: 100%

@media screen and (max-width: 650px)
    #bloco_simulacao_saude .bloco_simulacao
        width: calc(100% - 100px)
        max-width: 100%

@media screen and (max-width: 460px)
    #bloco_simulacao_saude .bloco_simulacao
        width: 100%
