@system "Form"
@system "Alerta"
@system "Loading"
@system "Calendario"
@template "site"
@resource "site/mixim"
@resource "site/variavel"
@resource "site/banner"
@resource "site/passo_passo"

#bloco_simulacao_saude
    maxWidth()
    .conteudo
        padding: 20px
        position: relative
        padding-top: 80px
        flexCenter()
#bloco_simulacao_saude .conteudo
    header
        width: 100%
        height: 60px
        position: absolute
        top: 0
        padding-top: 20px
        overflow: hidden
    header h1
        titulo()
        text-align: center
    .botao_selecao
        width: 100%
        justify-content: center
        flexRow()
        flex-wrap: wrap
        padding: 30px 0 60px
    .botao_selecao .com_botao_padrao
        margin: 10px
    .conteudo_menor
        width: 100%
        max-width: 500px
    .bloco_botao
        width: 100%
        flexRow()
        justify-content: space-between
        margin-top: 40px
    .bloco_botao .cinza
        background-color: #DDD

@media screen and (max-width: 600px)
    #bloco_simulacao_saude .conteudo .botao_selecao
        flexCol()
        .botao
            margin: 10px 0
#bloco_simulacao_saude .bloco_simulacao
    h2
        subTitulo()
        margin-top: 20px
    p
        texto()
        &.pequeno
            font-size: 1.2rem
            line-height: 1.5em
    .botao
        textoFontSize()
        border: 2px dashed $corClube
        border-radius: 5px
        padding: 10px 20px
        text-align: center
        color: $corClube
        margin-top: 20px
        cursor: pointer
    .linha_dependente
        flexRow()
        border: 1px solid #CCC
        border-radius: 5px
        padding: 10px 20px
        margin-top: 20px
        align-items: center
    .linha_dependente .bloco_input
        margin: 10px 0
    .linha_dependente .remover
        width: 30px
        height: 30px
        background-color: $corVermelho
        margin-left: 10px
        flexCenter()
        border-radius: 5px
        fill: #FFF
        cursor: pointer
@media screen and (max-width: 600px)
    #bloco_simulacao_saude .bloco_simulacao .linha_dependente
        border: none
        border-top: 1px solid #CCC
        border-radius: 0
        padding: 10px 0 0 0
        margin-top: 10px
        &:first-child
            margin-top: 25px

#bloco_simulacao_saude .bloco_resultado
    .bloco_valor
        width: 100%
        flexCol()
    .resultado
        width: 100%
        flexCol()
        margin-top: 15px
        &:first-child
            margin-top: 30px
        &.total
            margin: 30px 0
            padding-top: 30px
            border-top: 1px solid #CCC
    .resultado h2
        texto()
        width: 100%
        color: #000
    .resultado .dado
        width: 100%
        flexRow()
        align-items: center
    .resultado .dado p
        texto()
    .resultado .dado p.valor
        background-color: $corVermelho
        color: #FFF
        padding: 5px
        border-radius: 5px
    .resultado .dado .linha
        width: 100%
        border-top: 2px dashed #DDD
        flexGrow()
        margin: 0 10px
    .resultado.total .dado .data
        font-weight: bold
    .atencao h2
        color: $corClube
        margin-bottom: 5px

.titulo_resultado_simulacao
    color: $corPretoBranco !important

@media screen and ( max-width: 425px )
    #bloco_simulacao_saude .conteudo
        justify-content: flex-start
        header
            overflow: initial

