@system "Form"
@system "Alerta"
@system "Loading"
@system "Calendario"
@template "site"
@resource "site/mixim"
@resource "site/variavel"
@resource "site/banner"
@resource "site/passo_passo"

#bloco_simulacao_saude
    maxWidth()
    flexCol()
    align-items: center
    .conteudo
        blocoShadow()
    .conteudo header
        width: 100%
        margin-bottom: 20px
    .conteudo header h1
        tituloFontSize()
        color: $corClube
        margin-bottom: 5px
    .conteudo h2
        textoFontSize()
        font-weight: bold
    .conteudo h3
        textoPequeno()
        font-weight: bold
    .conteudo p
        texto()
    .bloco_botao
        width: 100%
        flexCol()
        align-items: center

#bloco_simulacao_saude .bloco_simulacao
    max-width: 500px
    h2
        margin-bottom: 10px
    .bloco_dado
        width: 100%
        flexCol()
        padding-left: 10px
        border-left: 3px solid $corClube
        margin-bottom: 20px
    .bloco_dado.titular .bloco_input
        margin-bottom: 0
    .botao
        textoFontSize()
        border: 2px dashed $corClube
        border-radius: 5px
        padding: 10px 20px
        text-align: center
        color: $corClube
        margin-top: 10px
        cursor: pointer
    .bloco_dependente
        width: 100%
        border: 1px dashed #CCC
        margin-top: 10px
        border-radius: 5px
        overflow: hidden
    .bloco_dependente .zero
        texto()
        color: #999
        text-align: center
        padding: 20px
    .linha_dependente
        flexRow()
        padding: 0 10px
        align-items: center
        border-bottom: 1px dashed #CCC
        &:last-child
            border-bottom: none
    .linha_dependente .bloco_input
        margin: 10px 0
    .linha_dependente .remover
        width: 30px
        height: 30px
        background-color: $corVermelho
        margin-left: 10px
        flexCenter()
        border-radius: 5px
        fill: #FFF
        cursor: pointer
@media screen and (max-width: 600px)
    #bloco_simulacao_saude .bloco_simulacao .linha_dependente
        border: none
        border-top: 1px solid #CCC
        border-radius: 0
        padding: 10px 0 0 0
        margin-top: 10px
        &:first-child
            margin-top: 25px

#bloco_simulacao_saude .bloco_resultado
    width: 100%
    flexCol()
    h2
        subTituloFontSize()
    h3
        textoFontSize()
        margin-top: 20px
    .bloco_escolher
        width: 100%
        overflow-y: hidden
        overflow-x: auto
        margin-bottom: 15px
        position: relative
    .plano_lista
        flexRow()
        margin-bottom: 5px
    .plano_lista .plano
        max-width: 350px
        border: 1px solid #CCC
        flexCol()
        flex-basis: 0%
        flex-grow: 1
        margin-right: 20px
        margin-top: 30px
        border-radius: 4px
        position: relative
        padding: 10px
        &.melhor
            border-color: $corClube
            border-radius: 0 0 4px 4px
        &:last-child
            margin-right: 0
    .plano_lista .plano.melhor::before
        width: calc(100% + 2px)
        height: 30px
        line-height: 30px
        position: absolute
        top: -30px
        left: -1px
        content: "melhor escolha"
        background-color: $corClube
        border-radius: 10px 10px 0 0
        text-align: center
        textoFontSize()
        color: #FFF
    .plano_lista .plano h3
        margin-top: 20px
    .plano_lista .plano .dinheiro
        position: relative
        flexRow()
    .plano_lista .plano .dinheiro .sifrao
        color: #666
        display: flex
        padding: 4px 5px 0 0
    .plano_lista .plano .dinheiro .valor
        font-size: 4rem
        font-weight: bold
        color: $corClube
    .plano_lista .plano .dinheiro .virgula
        color: #999
        font-size: 3rem
        padding-top: 7px
    .plano_lista .plano .dinheiro .centavo
        textoFontSize()
        color: $corClube
        display: flex
        align-items: flex-end
        padding: 0 0 3px 3px
    .plano_lista .plano .botao
        margin: 20px 0 15px
    .plano_lista .plano .botao .com_botao_texto
        width: 100%
        flexCenter()
    .plano_lista .plano .valor_lista .valor_linha
        width: 100%
        flexRow()
        margin: 5px 0
        padding-bottom: 5px
        border-bottom: 1px solid #DDD
        &:last-child
            border-bottom: none
    .plano_lista .plano .valor_lista .valor_linha .indice
        flexGrow()
        padding-left: 0
        position: relative
        flexRow()
        align-items: center
    .plano_lista .plano .valor_lista .valor_linha .indice .ponto
        flexGrow()
        border-top: 1px dashed #999
        z-index: 1
    .plano_lista .plano .valor_lista .valor_linha .dado
        flexCol()
        background-color: #FFF
        padding-right: 5px
    .plano_lista .plano .valor_lista .valor_linha .dado .nome
        color: #000
    .plano_lista .plano .valor_lista .valor_linha .dado .data
        color: #666
    .plano_lista .plano .valor_lista .valor_linha .valor
        flexCol()
        justify-content: center
        padding-left: 10px
        font-weight: bold
    .plano_lista .plano .valor_lista .valor_linha .nome
    .plano_lista .plano .valor_lista .valor_linha .data
    .plano_lista .plano .valor_lista .valor_linha .valor
        texto()
    .plano_lista .plano table
        width: 100%
    .plano_lista .plano table.borda tr
        border-bottom: 1px solid #CCC
    .plano_lista .plano table.borda tr:last-child
        border-bottom: none
    .plano_lista .plano table tr td
        textoFontSize()
        padding: 5px
        line-height: 1.2em
        color: #666
    .plano_lista .plano table tr td .indice
        z-index: 2
        position: relative
    .plano_lista .plano table tr td .indice div
        textoFontSize()
        background-color: #FFF
        padding-right: 3px
    .plano_lista .plano table.borda tr td:first-child
        text-align: right
    .plano_lista .plano table tr td:last-child
        font-weight: bold
    .plano_lista .plano table.detalhe
        margin-bottom: 10px
