@system "Resetar"
@system "Pagina"
@system "Form"
@system "Animacao"
@system "Loading"
@system "Alerta"

@resource "site/mixim"
@resource "site/variavel"
@resource "site/geral"

body
    background-color: #F6F6F6
    font-family: 'Inter', sans-serif
    color: #495057

#site
    width: 100%
    border-top: 10px solid $corClube
    min-height: 100vh
    flexCenter()
    directionColumn()
    overflow: hidden

/* Estilos para a versão desktop */
@media (min-width: 701px)
    .navbar_hamburguer
        display: none

// footer //
#bloco_footer
    width: 100%
    display: flex
    justify-content: center
    background-color: #FFF
    padding: 50px 20px 20px
    .centralizar
        width: 100%
        max-width: 1000px
        flexRow()
    figure
        max-width: 250px
        padding-right: 100px
    figure img
        max-width: 100%
    section
        display: flex
        padding-right: 30px
        flexGrow()
    section ul
        display: flex
        flex-direction: column
        margin-bottom: 20px
        font-size: 1.1em
    section ul li
        margin-top: 15px
        display: flex
        flex-direction: row
        align-items: center
    section ul li a
        font-size: 1.5rem
        margin-right: 15px
    section ul li a svg
        fill: $corClube
    section ul li .link_container
        font-size: unset
        display: flex
        justify-content: center
        align-items: center
    section ul li .link_container i
        margin-right: 15px
    section ul li,
    section ul li span
        font-size: 1.2em
        color: #333

#bloco_footer .ul_icones_mobile
    display: none

#bloco_footer .contato_mobile
    display: none

#bloco_footer .clube_centralizado
    display: flex
    flex-direction: row
    justify-content: space-around

//bloco_footer//
@media screen and (max-width: 700px)
    #bloco_footer
        flex-direction: column
        align-items: center
        justify-content: center
        width: 80%
    #bloco_footer section
        margin: 0px
    #bloco_footer section:first-child
        display: none
    #bloco_footer section ul
        width: 100%
        margin: 0px

@media screen and (max-width: 700px)
    #bloco_footer .ul_icones_mobile
        display: flex
        width: 100%
        justify-content: flex-start
        font-size: 25px
        ul, li
            display: flex
            flex-direction: row
            width: 60%
            padding: 25px 0px 10px
        ul, li a i svg
            fill: $corClube

@media screen and (max-width:1000px)
    #bloco_footer section ul span
        margin-right: 30px
@media screen and (max-width: 850px)
    #bloco_footer
        flex-direction: column
        align-items: center
        justify-content: center
        width: 80%
        margin-bottom: 100px
    #bloco_footer .contato_mobile
        display: flex
        width: 100%
        padding: 65px 0px 43px
        font-size: 2.5rem
    #bloco_footer section
        margin: 0px
    #bloco_footer section:first-child
        display: none
    #bloco_footer section ul
        width: 100%
        margin: 0px
@media scren and (max-width: 800px)
    #bloco_footer .contato_mobile
        display: flex
        width: 100%
        padding: 65px 0 43px
        font-size: 1.5rem
