#bloco_form_buscar
#bloco_form_login
#bloco_escolha_login
    max-width: 500px
#bloco_form_ativar
    max-width: 800px

#bloco_escolha_login
    flexCol()
    align-items: center
    position: relative
    .fechar
        width: 30px
        height: 30px
        flexCenter()
        position: absolute
        top: 10px
        fill: #666
        cursor: pointer
        &.esquerda
            left: 15px
        &.direita
            right: 15px
    .icone
        width: 80px
        height: 80px
        border-radius: 50%
        border: 1px solid #CCC
        flexCenter()
        fill: #CCC
        margin: 20px 0
    h1
        titulo()
        color: $corClube
    p
        texto()
        margin-bottom: 30px
    .botao
        width: 100%
        max-width: 250px
        botaoPadraoGrande()
        background-color: $corClube
        color: #FFF
        margin-bottom: 15px

.bloco_form_login
    width: calc(100% - 40px)
    max-height: calc(100vh - 40px)
    margin: 20px
    overflow-y: auto
    overflow-x: hidden
    blocoShadow()
    .conteudo
        flexRow()
        flex-wrap: wrap
        justify-content: space-between
    header
        width: 100%
        margin-bottom: 30px
    header h1
        titulo()
        color: $corClube
    header p
        texto()
    .bloco_input
        width: 100%
        margin-top: 10px
    .bloco_botao
        width: 100%
        flexRow()
        justify-content: flex-end
        margin-top: 10px
    .bloco_botao .botao
        botaoPadraoGrande()
        background-color: $corClube
        color: #FFF
    .bloco_link
        width: 100%
        border-top: 1px solid #DDD
        flexRow()
        justify-content: center
        margin-top: 30px
        padding-top: 30px
    .bloco_link .botao
        texto()
        color: $corAzul
        margin: 0 10px
        cursor: pointer
    h2
        width: 100%
        texto()
    ul
        width: 100%
        list-style: circle
        list-style-position: inside
        padding-left: 10px
    ul li
        width: 100%
        margin: 5px 0
    .texto_pequeno
        font-size: 1.2rem
        color: #999
    .bloco
        width: calc(50% - 10px)
        flexCol()
    .lista
        width: 100%
        flexRow()
        flex-wrap: wrap
        justify-content: space-between
    .lista .bloco_input
        width: calc(50% - 10px)
    .linha
        width: 100%
        height: 1px
        background-color: #DDD
        margin: 25px 0 30px

#bloco_form_login
    .bloco_ativar
        width: 100%
        flexCenter()
    .bloco_ativar .ativar
        background-color: $corClube
        margin-top: 20px
        color: #FFF
        texto()
        padding: 7px 20px
        border-radius: 4px
        cursor: pointer

#bloco_form_ativar
    .bloco_senha
        margin-top: 10px
    .texto_senha
        margin-top: 10px
    .bloco_cep
        width: 150px
    .bloco_logradouro
        width: calc(100% - 170px)
    .bloco_numero
        width: 200px
    .bloco_complemento
        width: calc(100% - 220px)
    .bloco_bairro
    .bloco_estado
    .bloco_cidade
        width: calc((100% / 3) - 13.3px)
    .bloco_termo
        margin-top: 40px
    .termo
        flexRow()
        flexGrow()
        align-items: center
        padding-right: 40px
    .termo .botao_termo
        texto()
        padding-left: 10px
        cursor: pointer
        &:hover
            text-decoration: underline

#bloco_form_recuperar_senha
    max-width: 500px
    .bloco_geral
        width: 100%
        border-top: 1px solid #CCC
        padding: 20px 0
        flexCol()
    .bloco_geral p
        texto()
    .bloco_geral ul
        margin-top: 10px
    .bloco_geral ul li
        font-size: 1.5rem
    .bloco_geral .bloco_input
        margin: 30px 0 0
    .bloco_geral .atencao
        margin: 10px 0 20px
    .bloco_geral .separador
        width: 100%
    .bloco_escolha
        width: 100%
        flexRow()
        flex-wrap: wrap
        justify-content: center
    .bloco_escolha h2
        text-align: center
        color: $corClube
        font-weight: bold
    .bloco_escolha p
        texto()
        text-align: center
        margin-bottom: 20px
    .bloco_escolha .botao
        height: 40px
        line-height: 40px
        margin: 10px 10px 0 10px
        border: 1px solid #CCC
        border-radius: 5px
        padding: 0 20px
        textoFontSize()
        cursor: pointer
        &:hover
            border-color: $corClube
            color: $corClube
    .bloco_usar_codigo
        justify-content: center
        flexRow()
        flex-wrap: wrap
    .bloco_usar_codigo > input
        width: 45px
        height: 45px
        border: 1px solid #CCC
        border-radius: 5px
        text-align: center
        textoFontSize()
        margin: 20px 5px 0
    .bloco_usar_codigo .botao
        texto()
        margin-top: 20px
    .bloco_usar_codigo .botao span
        texto()
        font-weight: bold
