@system "Form"
@template "site"
@resource "site/banner"
@resource "site/loja/busca"
@resource "site/loja/parceiro"

#bloco_loja_index
    width: 100%
    flexCol()
    align-items: center
    .banner
        margin: 20px 0
    .bloco_parceiro
        max-width: 1130px
