@template "site"
@resource "site/banner"
@resource "site/busca"
@resource "site/loja/busca"
@resource "site/loja/parceiro"

#bloco_loja_index
    width: 100%
    flexCol()
    align-items: center
    margin-top: 40px
    .banner
        margin-bottom: 40px
