header
    position: relative

.bloco_checkbox
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    margin: 65px 5px;
    z-index: 999;
    transition: all 0.5s ease-in-out;

.bloco_checkbox section
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;

.form_geral
    position: initial !important;

.input_checkbox
    margin: 0 10px 10px 0;
    display: flex;
    flex-direction: row;
    item-align: center;
    width: 200px;
    height: 42px;

.botao_filtrar
    background-color: #00aced;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
