#bloco_limpar_pesquisa
    width: 100%
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    margin-top: 40px
    border: 1px solid #DDD
    padding: 10px 0 0 10px
    border-radius: 50px
    h2
        width: 100%
        position: absolute
        border-top: 1px solid #EEE
        left: 0
        top: -40px
        padding: 20px 0 0 30px
        color: #999
        font-size: 1.2rem
    .item
        border: 1px solid #ddd
        border-radius: 30px
        margin: 0 10px 10px 0
        padding: 10px
        display: flex
        flex-direction: row
        align-items: center
    .item p
        font-size: 1.4rem
        color: $corCinzaCinza
    .item p strong
        font-weight: bold
        font-size: 1.4rem
        color: #333
    .item i
        width: 20px
        height: 20px
        background: #DDD
        border-radius: 10px
        margin-left: 10px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
    .flex
        flex-grow: 1
        flex-basis: 0%
    .limpar_todos
        width: 40px
        height: 40px
        background: $corDeletar
        fill: #FFF
        border-radius: 50%
        margin: -10px 5px 0 0
        display: flex
        align-items: center
        justify-content: center
