@system "Resetar"

body
    font-family: 'Inter', sans-serif
    color: #495057
    background-color: #f8f9fa
    display: flex
    flex-direction: column
    align-items: center
    h1
        font-size: 2.4em
        padding: 40px 20px 0
    p
        font-size: 1.6em
        line-height: 1.5em
        padding: 20px 20px 40px
