:root {
    --verde: #169e91;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #F6F6F6;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    width: 300px;
    height: 100vh;
    background-color: #FFF;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
    overflow-x: hidden;
    overflow-y: auto;
}
nav h1 {
    font-size: 2rem;
    padding: 20px 10px;
}
nav > ul > li {
    margin-bottom: 10px;
}
nav ul li h2 {
    font-size: 2rem;
    font-weight: bold;
    background-color: #EEE;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
}
nav ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav label {
    position: relative;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    cursor: pointer;
}
nav label .check {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #CCC;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav label .check svg {
    display: none;
    fill: #FFF;
}
nav input:checked + label .check {
    background-color: var(--verde);
}
nav input:checked + label .check svg {
    display: block;
}
nav input {
    display: none;
}
