@template "site"
@system "Historico"
@resource "site/banner"
@resource "site/loja/parceiro"
@import "favorito"

.bloco_historico
    width: 100%
    margin-bottom: 20px
    position: relative
    .seta
        width: 30px
        height: 30px
        background: #FFF
        position: absolute
        boxShadow()
        top: 20px
        border-radius: 50%
        flexCenter()
        z-index: 2
    .seta.anterior
        left: 10px
    .seta.proximo
        right: 10px
#bloco_index
    maxWidth()
    .bloco
        width: 100%
        margin-top: 40px
    .bloco_favorito_zero
        margin: 60px 0 80px
.bloco_geral_imagem_esquerda
    height: auto
.bloco_plano
    flexCenter()
.bloco_atencao_geral
    margin-top: 25px
@media screen and (max-width: 800px)
    .bloco_plano
        padding: 20px
        figure
            display: none
    .final
        padding: 20px 0px

@media screen and (max-width: 450px)
    .bloco_geral_imagem_esquerda
        flex-direction: column
    .bloco_geral_imagem_esquerda header
        flex-grow: 1
        flex-basis: 0%
        padding-right: 0px
        margin-right: 0px
        padding-bottom: 20px
        border-right: none
        border-bottom: 1px solid #ddd
    .bloco_geral_imagem_esquerda .final
        width: 100%
        margin-right: 0px
        padding-left: 20px
        padding-top: 0px
