.bloco_ajuda_geral
    width: 100%
    max-width: $maxWidth
    flexCenter()
    directionColumn()
    padding: 20px
    header
        flexCenter()
        directionColumn()
    header h1
        subTitulo()
    header p
        texto()
    p.fechar
        disclaimerFontSize()
        margin-bottom: 10px
        cursor: pointer
    fieldset
        width: 100%
        flexCenter()
        espacoTopPadrao()
        flex-wrap: wrap
        width: 100%
        padding: 20px
    fieldset a
        blocoShadow()
        width: calc((100% / 3) - 25px)
        height: 80px
        order: 1
        bold()
        flexCenter()
        margin: 6px 25px 6px 0px
        textoTelaPequena()
        font-size: 1.2rem
        border: 1px solid transparent
    fieldset a:hover
        border: 1px solid $corClube


