.bloco_lista_artigo
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    margin-bottom: 80px
    .centro
        width: 100%
        max-width: 1000px
.bloco_lista_artigo .lista
    width: calc(100% + 20px)
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-left: -10px
    article
        col(3, 20px)
        margin-bottom: 40px
        position: relative
    article figure
        width: 100%
        height: 200px
        position: relative
        background-color: #EEE
        display: flex
        overflow: hidden
    article figure .bg
        width: 100%
        height: 100%
        position: absolute
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        top: 0
        left: 0
        transition: width .3s ease-out, height .3s ease-out, left .3s ease-out, top .3s ease-out
        z-index: 1
    article figure:hover .bg
        width: calc(100% + 20px)
        height: calc(100% + 20px)
        left: -20px
        top: -20px
    article figure a
        width: 100%
        height: 100%
        z-index: 3
    article figure span
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-color: $azul_padrao
        opacity: 0
        z-index: 2
        transition: opacity .3s
    article figure:hover span
        opacity: .5
        transition: opacity .3s ease-out
    article header
        display: flex
        flex-direction: column
    article header h1
        display: flex
        margin-top: 10px
        font-weight: 900
        font-size: 2.0em
    article header h1 a
        color: $azul_padrao
    article header .data_lista
        display: flex
        background-color: $azul_padrao
        margin-top: 7px
        margin-bottom: 7px
        padding: 5px 0 5px 2px
        justify-content: space-between
    article header .data_lista span a
        color: #FFF
        font-size: 1.5em
        font-weight: bold
        padding: 5px 5px 5px 2px
    article header p
        display: flex
        margin-top: 5px
        line-height: 1.5em
        font-size: 1.7em
    article header p a
        color: #666
    article header p.tres_linhas a
        overflow: hidden
        display: -webkit-box
        text-overflow: ellipsis
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
    article header a:hover
        text-decoration: underline

.bloco_lista_artigo.fazemos
    .lista
        width: calc(100% + 20px)
        margin-left: -10px
    article
        col(3, 20px)
        background-color: #FFFFFF
        margin: 0 10px 30px 10px
        .titulo
            width: 100%
            display: flex
            align-items: flex-end
            justify-content: space-between
            margin-bottom: 20px
            h1
                color: #333
                font-size: 1.8rem
                line-height: 1.5em
                span
                    font-weight: bold
                    font-size: 1.8rem
            .numero
                font-size: 4.3em
                line-height: 1.2em
                color: #003366
                font-weight: bold
        p
            font-size: 1.7rem
            line-height: 1.5em
            color: #666
            margin-bottom: 10px
        a
            font-size: 1.7rem
            position: absolute
            width:100%
            height: 100%
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: 400
            &:hover
                text-decoration: underline
@media screen and (max-width: 1000px)
    .bloco_lista_artigo
        padding: 0 20px

@media screen and (max-width:700px)
    .bloco_lista_artigo .lista article
        col(2, 20px)
@media screen and (max-width:480px)
    .bloco_lista_artigo .lista article
        col(1, 20px)

p.link
    margin-top: 0px
    margin-bottom: 0px

.bloco_lista_artigo.dica
    .lista
        width: calc(100% + 20px)
        margin-left: -10px
        flex-direction: column
    .lista article
        width: 100%
        display: flex
        flex-direction: row
        position: relative
        border-bottom: 1px solid #DDD
        margin: 0
        margin-bottom: 20px
        padding-bottom: 20px
        align-items: flex-start
        &:last-child
            margin-bottom: 0
            padding-bottom: 0
            border: none
        .titulo
            display: flex
            align-items: flex-start
            justify-content: flex-start
            flex-direction: column
            margin: 10px 0 0 20px
            position: relative
        .logo
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            position: relative
            h1
                max-width: 280px
                font-size: 1.5em
                line-height: 1.5em
                font-weight: bold
                padding: 5px 0px
                text-align: center
            figure
                width: 300px
                height: 200px
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                margin: 10px auto
                position: relative
        h2
            width: 100%
            max-width: 500px
            font-size: 2rem
            line-height: 1.5em
            color: #666
            margin-bottom: 10px
            text-align: left
            position: relative
            padding-bottom: 5px
            &:after
                content: ''
                display: block
                width: 80px
                height: 2px
                position: absolute
                bottom: -5px
                background-color: #003366
        p.texto
            width: 100%
            margin-top: 5px
            line-height: 1.5em
            font-size: 1.7rem
            color: #666
            &:after
                background-color:transparent
        a
            font-size: 1.3em
            position: absolute
            width:100%
            height: 100%
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: 400
            &:hover
                text-decoration: underline
@media screen and (max-width:700px)
    .bloco_lista_artigo.dica .lista article
        width: calc(100% - 20px)
        margin-left: 10px
        flex-direction: column
        align-items: flex-start
        .logo
            width: 100%
        .logo figure
            width: 100%
            height: 350px
        .titulo
            margin-top: 10px
            margin-left: 0px
