.bloco_geral_banner
    width: 100%
    max-width: 1130px
    flexCol()
    align-items: center
    .conteudo
        width: 100%
        flexRow()
        align-items: center
        boxShadow()
        position: relative
        border-radius: 15px
        background: #FFF
        overflow: hidden
    .seta
        width: 80px
        height: 80px
        position: absolute
        fill: #FFF
        border-radius: 50%
        flexCenter()
        background-color: rgba(0,0,0,.7)
        cursor: pointer
        z-index: 2
        opacity: 0
        transition: opacity .3s ease-out
    .seta.anterior
        left: 30px
    .seta.proximo
        right: 30px
    &:hover .seta
        opacity: 1
    .imagem
        width: 100%
        position: relative
        z-index: 1
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 1fr
        &.mobile
            display: none
    .imagem figure
        width: 100%
        opacity: 1
        flexCol()
        grid-column-start: 1
        grid-column-end: 1
        grid-row-start: 1
        grid-row-end: 1
        &:first-child
            opacity: 1
    .imagem figure img
        width: 100%
    .imagem figure a
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 3

@media screen and (max-width:600px)
    .bloco_geral_banner .imagem
        &.mobile
            display: grid
        &.desktop
            display: none
