.busca_convenio
    width: 100%
    max-width: 1130px
    blocoShadow()
    border-radius: 15px
    form
        width: 100%
        flexCol()
    form legend
        titulo()
    form fieldset
        width: 100%
        flexRow()
        flex-wrap: wrap
    form fieldset .busca_estado
        max-width: 100px
        margin-right: 20px
    form fieldset .busca_categoria
        width: calc(100% - 440px)
        margin-right: 20px
    form fieldset .busca_tag
        max-width: 140px
        margin-right: 20px
    form fieldset .busca_estabelecimento
        max-width: 140px
    form fieldset .busca_pesquisa
        max-width: calc(100% - 320px)
        margin-right: 20px
    form fieldset .busca_ordem
        max-width: 140px
        margin-right: 20px
    form fieldset button
        width: 140px
        margin-top: 20px
