.bloco_geral_dependente
    width: 100%
    flexCol()
    margin-bottom: 20px
    border-radius: 15px
    button
        align-self: end
    .dependente
        width: 100%
    .dependente .adicionaDependente
        blocoAvisoDashed()
        bordaTracejada()
        cursor: pointer
        p
            margin-top: 0px
    .dependente p
        text-align: left
        texto()
        color: $corClube
        espacoTopPadrao()
    .dependente .linha_dependente
        width: 100%
        max-width: $maxWidth
        padding: 0 20px 20px 20px
        espacoTopPadrao()
        espacoBottomPadrao()
        border: 1px solid #EEE
        display: flex
        &.default
            display: none
    .dependente .linha_dependente .remove
            fill: #fff;
            border-radius: 5px;
            height: 35px;
            cursor: pointer;
            width: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f00;
            margin-top: 33px;
            margin-left: 20px;
    .dependente .linha_dependente .bloco_input
        margin-top: 30px


@media screen and (max-width: 900px)
    .bloco_geral_dependente .dependente .linha_dependente .bloco_input
        width: 100%
