.form_geral
    blocoShadow()
    flexCol()
    header
        margin-bottom: 20px
    header h1
        titulo()
        color: $corClube
    header p
        texto()
    header p strong
        texto()
        font-weight: bold
        color: $corClube
    .bloco_grupo
        width: 100%
        flexRow()
    .bloco_grupo > div
        margin-right: 20px
        &:last-child
            margin-right: 0
    .bloco_botao
        width: 100%
        flexRow()
        margin-top: 20px
        justify-content: space-between
