.bloco_geral_texto
    blocoShadow()
    header h1
        titulo()

.texto
    width: 100%
    texto()
.texto p
.texto b
.texto strong
.texto a
.texto i
.texto li
    texto()

.botao_geral_cor
    height: 45px
    line-height: 45px
    border-radius: 5px
    textoFontSize()
    padding: 0 20px
    text-align: center
    cursor: pointer
.botao_pequeno_cor
    height: 26px
    line-height: 26px
    border-radius: 5px
    font-size: 1.2rem
    padding: 0 10px
    text-align: center
    cursor: pointer
.botao_pequeno_borda
    height: 26px
    line-height: 26px
    border-radius: 5px
    font-size: 1.2rem
    padding: 0 10px
    text-align: center
    border: 1px dashed
    cursor: pointer

.bloco_geral_ul
    width: 100%
    li
        list-style: disc
        texto()

.bloco_geral_tabela
    width: 100%
    overflow-x: auto

.bloco_geral_sub_menu
    blocoShadow()
    flexCol()
    position: absolute
    padding: 10px 0
    a
        height: 48px
        line-height: 48px
        texto()
        flexRow()
        align-items: center
        padding: 0 20px
        &:hover
            background-color: #F8F9FA
    a i
        margin-right: 10px

.bloco_geral_sem_resultado
    width: 100%
    flexCol()
    position: relative
    align-items: center
    i
        fill: #DDD
        margin-bottom: 15px
    h1
        titulo()
        text-align: center
        margin-top: 5px
    p
        max-width: 450px
        texto()
        text-align: center
        margin-top: 5px
    a
        margin-top: 20px

.bloco_geral_imagem_direita
.bloco_geral_imagem_esquerda
    width: 100%
    height: 200px
    flexRow()
    boxShadow()
    align-items: center
    background-color: #FFF
    border-radius: 10px
    overflow: hidden
    figure
        width: 250px
        height: 200px
        margin-right: 40px
    header
        flexGrow()
        padding-right: 40px
        margin-right: 40px
        border-right: 1px solid #DDD
    header h1
        titulo()
    header p
        texto()
    .final
        margin-right: 40px
        flexCol()
        align-items: flex-start
    .valor
        width: 100%
        flexCol()
        margin-bottom: 20px
    .valor .apartir
        width: 100%
        margin-bottom: 2px
        font-size: 1.2rem
        color: #999
    .valor .preco
        flexRow()
    .valor .preco .sifrao
        font-size: 1.1rem
        margin: 5px 5px 0 0
    .valor .preco .real
        font-weight: 500
        font-size: 3rem
    .valor .preco .asterisco
        font-size: 1.2rem
        margin-top: 2px
        color: #999
    .valor .observacao
        font-size: 1.1rem
        line-height: 1.5em
        margin-top: 5px

.bloco_geral_imagem_direita
    flex-direction: row-reverse
    figure
        margin: 0
    .final
        margin-left: 40px
        margin-right: 0
    header
        padding: 0 0 0 40px
        margin: 0 40px
        border-left: 1px solid #DDD
        border-right: none

.display_none
    display: none !important
.display_block
    display: block !important
.display_flex
    display: flex !important

.titulo_geral
    width: 100%
    flexRow()
    margin-bottom: 10px
    h1
        titulo()
        flexGrow()
    a
        texto()

.bloco_atencao_geral
    width: 100%
    padding: 10px
    border: 1px dashed #f00
    borderRadius()
    p
        texto()

.bloco_titulo_texto
.bloco_titulo_texto_centralizado
    flexCol()
    boxShadow()
    borderRadius()
    background: #FFF
    padding: 10px 20px
    > h1
        titulo()
        margin-top: 5px
    > p
        texto()
        margin: 15px 0
        color: #666
.bloco_titulo_texto_centralizado
    text-align: center
    align-items: center

.bloco_geral_article
    maxWidth()
    flexRow()
    spaceBetween()
    flex-wrap: wrap
    .article_fake
    article
        width: calc((100% / 3) - 15px)

@media screen and (max-width:900px)
    .bloco_geral_article
        .article_fake
        article
            width: calc(50% - 20px)
            min-height: 250px
            &:nth-child(even)
                margin-left: 30px

@media screen and (max-width:600px)
    .bloco_geral_article
        justify-content: center
        .article_fake
        article
            width: 100%
            &:nth-child(even)
                margin-left: 0
    .bloco .bloco_promocao
        flex-direction: column
    .bloco .bloco_promocao .promocao
        width: 100%
        margin-bottom: 25px
