maxWidth()
    width: 100%
    max-width: $maxWidth
tituloGrande()
    line-height: 1.5em
    font-size: 3rem
titulo()
    line-height: 1.7em
    font-size: 2.4rem
tituloTelaPequena()
    line-height: 1.7em
	text-transform: uppercase
	font-size: 2.1rem
textoTelaPequena()
    font-size: 1.3rem
subTitulo()
    line-height: 1.5em
    font-size: 2rem
subTituloMaiusculo()
    line-height: 1.5em
    font-size: 1.8rem
texto()
    line-height: 1.5em
    textoFontSize()
textoMobile()
    line-height: 1.5em
    font-size: 1.5rem
textoTelaPequena()
    line-height: 1.5rem
    textoSizeTelaPequena()
FontSizeTelaPequena()
    font-size: 20px
textoCorClara()
    color: #BBB
textoFontSize()
    font-size: 1.6rem
disclaimerFontSize()
    font-size: 1.1rem
bold()
    font-weight: 500
flexCenter()
    display: flex
    align-items: center
    justify-content: center
justifyStart()
    display: flex
    align-items: center
    justify-content:  flex-start
justifyCenter()
    display: flex
    justify-content: center
spaceBetween()
    display: flex
    align-items: center
    justify-content:  space-between
flexRow()
    display: flex
    flex-direction: row
flexCol()
    display: flex
    flex-direction: column
flexGrow()
    flex-grow: 1
    flex-basis: 0%
flexWrap()
    display: flex
    flex-wrap: wrap
alignItemEnd()
    display: flex
    align-items: flex-end
alignItemStart()
    display: flex
    align-items: flex-start
alignSelfStart()
    display: flex
    align-self: flex-start
directionColumn()
    flex-direction: column
borderRadius()
    border-radius: 5px
blocoShadow()
    background-color: #FFF
    borderRadius()
    boxShadow()
    padding: 20px
blocoCorPadrao()
    background-color: $corClube
    background-color: #FFF
    border-radius: 5px
    border: 1px solid $corClube
    boxShadow()
    padding: 20px
boxShadow()
    box-shadow: 0 2px 10px rgba(0,0,0,.1)
bordaPadrao()
    border-radius: 5px
imagemRedonda()
    border-radius: 50%
    overflow: hidden
    background-size: cover
    background-position: center center
espacamentoPadrao()
    margin:25px
espacoBottomPadrao()
    margin-bottom: 25px
espacoTopPadrao()
    margin-top: 25px
espacoVerticalPadrao()
    margin-bottom: 25px
    margin-top: 25px
blocoAviso()
    espacoTopPadrao()
    espacoBottomPadrao()
    width: 100%
    padding: 15px
    border: 1px solid $corClube
    text-align: center
    border-radius: 5px

blocoAvisoGrande()
    espacoTopPadrao()
    espacoBottomPadrao()
    height: 110px
    flexCenter()
    flexCol()
    text-align: center
    border-radius: 5px
bordaTracejada()
    border: 3px dashed $corClube
bordaSolida()
    border: 1px solid $corClube
conteudoPrincipal()
    maxWidth()
    header
        height: 300px
        figure
            height: 200px
            width: 100%
        .bloco_aviso
            blocoAviso()

conteudoPricipalBannerGrande()
    maxWidth()
    header
        height: 450px
        width: 100%
        figure
            height: 330px
            width: 100%
blocoPlanoSaude()
    width: 100%
    blocoShadow()
    margin-bottom: 25px
    figure
        img
            width: 250px
blocoAvisoDashed()
    blocoAvisoGrande()
    h1
        titulo()
        color: $corClube
    p
        texto()
blocoBeneficio()
    display: flex
    flexCol()
    padding-top: 20px
    padding-bottom: 20px
    header
        display: flex
        align-items: center
        h1
            width: 80%
        p
            width: 20%
            color: $corClube
    .bloco_vantagem
        min-height: 150px
        display: flex
        .bloco_icone_vantagem
            width: 200px
            text-align: center
            margin: 10px
            flexCol()
            flexCenter()
            height: 100px
    .rede_credenciada_botao
        .segunda_via_boleto
            margin-left: 20px
blocoUniflex()
    espacoTopPadrao()
    blocoShadow()
    min-height: 450px
    p
        texto()
        espacoVerticalPadrao()
        span
            padding-right: 5px
            font-weight: bold
            texto()
    table
        width:100%
        espacoTopPadrao()
        texto()
        thead
            tr
                th
                    padding: 10px
                    height: 52px
                    width: 50%
                    border-bottom: 1px solid #bebebe
                    color: black
        tbody
            tr
                width: 50%
                &:last-child
                    td
                        border-bottom: none
                td
                    padding: 10px
                    text-align: center
                    height: 52px
                    border-bottom: 1px solid #bebebe
                    border-right: 1px solid #bebebe
                    width: 25%
                    &:last-child
                        border-right: none

blocoPlanoSaude()
    maxWidth()
    blocoShadow()
    espacoTopPadrao()
    h1
        espacoBottomPadrao()
    table
        width:100%
        espacoBottomPadrao()
    th
        text-align: center
        padding-top: 15px
        padding-bottom: 15px
        texto()
        border: 1px solid #ccc
        min-width: 140px
        &:first-child
            padding-right: 5px
            border: none
            border-bottom: 1px solid #ccc
    button
        padding: 20px
        border-radius: 10px
        background-color: $corClube
    thead, tfoot
        bold()
    thead
        tr
            th
                &:last-child
                    border-right: none
    tbody
        tr
            border-bottom: none
        td
            text-align: center
            texto()
            border: 1px solid #ccc
            &:first-child
                border-left: none
            &:last-child
                border-right: none

    .coluna
        text-align: center
    .titulo_table
        color: black
    .uniflex_opcao
        th
            &:first-child
                border-right: none

blocoAuxilioRessarcimento()
    blocoShadow()
    min-height: 200px
    p
        margin: 20px 0px
    button
        width: 200px
        background-color: $corClube
        height: 50px
        border-radius: 5px
        color: white
        opacity: 0.9
        &:hover
            opacity: 1
modalPlanoSaude()
    background-color: white
    width: 80%
    margin: auto
    height: 600px
    h1
        text-align: center
        margin-bottom: 15px
    table
        text-align: center
        height: 80%
        width:90%
        margin: auto
        padding: 20px
        espacoBottomPadrao()
        thead
            margin-top: 10px
            border-bottom: 1px solid rgb(190, 190, 190)
        tbody
            td
                padding-top: 20px
                border-bottom: 1px solid rgb(190, 190, 190)
    .aviso_plano
        text-align: center

blocoCarencia()
    maxWidth()
    blocoShadow()
    espacoTopPadrao()
    h1
        espacoBottomPadrao()
    table
        width:100%
        espacoBottomPadrao()
        border-radius: 5px
    th
        text-align: left
        padding-top: 15px
        padding-bottom: 15px
        texto()
    button
        padding: 20px
        border-radius: 10px
        background-color: $corClube
    thead, tfoot
        bold()
    caption
        padding: 10px
        caption-side: bottom
    table
        border-collapse: collapse
    td, th
        border-bottom: 1px solid rgb(190, 190, 190)
    td
        text-align: center
        texto()
    .coluna
        text-align: center
    .titulo_table
        color: black

blocoExploreRede()
    blocoShadow()
    min-height: 350px
    .titulo_rede
        height: 50px
    .lista_passo_a_passo
        height: 180px
        padding-top: 10px
        padding-left: 20px
        li
            list-style-type: disc
    .bloco_botao_explore
        height: 80px
        padding-top: 30px
        a
            padding: 15px
            background-color: $corClube
            border-radius: 5px
            color: white
            opacity: 0.9
            &:hover
                opacity: 1
bordaPadraoTabela()
    border: 1px solid #ccc
bordaBottomPadraoTabela()
    border-bottom: 1px solid #ccc
buttonCard()
    width: auto
    min-width: 180px
    height: 40px
    line-height: 40px
    border-radius: 8px
    color: #FFF
    background-color: $corClube
    padding: 0px 10px
    font-size: 1.4rem
    line-height: 1.5em

hoverButtonPadrao()
    background-color: var(--corClube)
    opacity: .8

anchorButton()
    display: inline-block
    text-align: center
    text-decoration: none
    cursor: pointer
    buttonCard()
    padding: 10px 20px

backgroundCoverCenterNotRepeat()
    background-size: cover
    background-position: center center
    background-repeat: no-repeat

