$corClube = var(--cor-clube)
maxWidth()
    width: 100%
    max-width: $maxWidth
tituloGrande()
    line-height: 1.5em
    font-size: 3rem
titulo()
    line-height: 1.7em
    font-size: 2.4rem
tituloTelaPequena()
    line-height: 1.7em
	text-transform: uppercase
	font-size: 2.1rem
textoTelaPequena()
    font-size: 1.3rem
subTitulo()
    line-height: 1.5em
    font-size: 2rem
subTituloMaiusculo()
    line-height: 1.5em
    font-size: 1.8rem
texto()
    line-height: 1.5em
    textoFontSize()
textoMobile()
    line-height: 1.5em
    font-size: 1.5rem
textoTelaPequena()
    line-height: 1.5rem
    textoSizeTelaPequena()
FontSizeTelaPequena()
    font-size: 20px
textoCorClara()
    color: #BBB
textoFontSize()
    font-size: 1.6rem
disclaimerFontSize()
    font-size: 1.2rem
bold()
    font-weight: 500
flexCenter()
    display: flex
    align-items: center
    justify-content: center
flexEnd()
    display: flex
    align-items: flex-end
    justify-content: flex-end
justifyStart()
    display: flex
    align-items: center
    justify-content:  flex-start
justifyCenter()
    display: flex
    justify-content: center
spaceBetween()
    display: flex
    align-items: center
    justify-content:  space-between
spaceAround()
    display: flex
    align-items: center
    justify-content:  space-around
flexRow()
    display: flex
    flex-direction: row
flexCol()
    display: flex
    flex-direction: column
flexGrow()
    flex-grow: 1
    flex-basis: 0%
flexWrap()
    display: flex
    flex-wrap: wrap
alignItemCenter()
    display: flex
    align-items: center
alignItemEnd()
    display: flex
    align-items: flex-end
alignItemStart()
    display: flex
    align-items: flex-start
alignSelfStart()
    display: flex
    align-self: flex-start
alignSelfEnd()
    align-self: end
alignSelfStretch()
    align-self: stretch
alignSelfEnd()
    align-self: end
alignItemStretch()
    align-items: stretch
directionColumn()
    flex-direction: column
borderRadius()
    border-radius: 5px
blocoShadow()
    background-color: #FFF
    borderRadius()
    boxShadow()
    padding: 20px
blocoCorPadrao()
    background-color: $corClube
    background-color: #FFF
    border-radius: 5px
    border: 1px solid $corClube
    boxShadow()
    padding: 20px
boxShadow()
    box-shadow: 0 2px 10px rgba(0,0,0,.1)
bordaPadrao()
    border-radius: 5px
imagemRedonda()
    border-radius: 50%
    overflow: hidden
    background-size: cover
    background-position: center center
espacamentoPadrao()
    margin:25px
espacoBottomPadrao()
    margin-bottom: 25px
espacoTopPadrao()
    margin-top: 25px
espacoVerticalPadrao()
    margin-bottom: 25px
    margin-top: 25px
blocoAviso()
    espacoTopPadrao()
    espacoBottomPadrao()
    width: 100%
    padding: 15px
    border: 1px solid $corClube
    text-align: center
    border-radius: 5px

blocoAvisoGrande()
    espacoTopPadrao()
    espacoBottomPadrao()
    height: 110px
    flexCenter()
    flexCol()
    text-align: center
    border-radius: 5px
bordaTracejada()
    border: 3px dashed $corClube
bordaSolida()
    border: 1px solid $corClube
conteudoPrincipal()
    maxWidth()
    header
        height: 300px
        figure
            height: 200px
            width: 100%
        .bloco_aviso
            blocoAviso()

conteudoPricipalBannerGrande()
    maxWidth()
    header
        height: 450px
        width: 100%
        figure
            height: 330px
            width: 100%
blocoPlanoSaude()
    width: 100%
    blocoShadow()
    margin-bottom: 25px
    figure
        img
            width: 250px
blocoAvisoDashed()
    blocoAvisoGrande()
    h1
        titulo()
        color: $corClube
    p
        texto()e

modalPlanoSaude()
    background-color: white
    width: 80%
    margin: auto
    height: 600px
    h1
        text-align: center
        margin-bottom: 15px
    table
        text-align: center
        height: 80%
        width:90%
        margin: auto
        padding: 20px
        espacoBottomPadrao()
        thead
            margin-top: 10px
            border-bottom: 1px solid rgb(190, 190, 190)
        tbody
            td
                padding-top: 20px
                border-bottom: 1px solid rgb(190, 190, 190)
    .aviso_plano
        text-align: center

bordaPadraoTabela()
    border: 1px solid #ccc
bordaBottomPadraoTabela()
    border-bottom: 1px solid #ccc
buttonCard()
    width: auto
    min-width: 180px
    height: 40px
    line-height: 40px
    border-radius: 8px
    color: #FFF
    background-color: $corClube
    padding: 0px 10px
    font-size: 1.4rem
    line-height: 1.5em

hoverButtonPadrao()
    background-color: var(--corClube)
    opacity: .8

anchorButton()
    display: inline-block
    text-align: center
    text-decoration: none
    cursor: pointer
    buttonCard()
    padding: 10px 20px

backgroundCoverCenterNotRepeat()
    background-size: cover
    background-position: center center
    background-repeat: no-repeat

