#bloco_fw_pagina .fw_pagina_conteudo
    overflow: scroll

.bloco_popup_geral
    overflow: scroll
    height: 100vh
    background-color: #FFF
    padding: 20px
    .popup_header
        display: flex
        align-items: center
        justify-content: space-between
        height: 40px
    .popup_header h1
        padding-left: 20px
        titulo()
    .popup_header i
        height: 100%
        width: 50px
        border-radius: 5px
        cursor: pointer
        flexCenter()
        background-color: #ff6c60
        fill: white
    .popup_header i:hover
        background-color: white
        border: 1px solid #ff6c60
        fill: #ff6c60
        transition: 0.5s
