.panel
    maxWidth()
    blocoShadow()
    padding: 20px
    espacoTopPadrao()
    espacoBottomPadrao()
    header
        flexCenter()
        flexCol()
        padding: 20px
        text-align: center
        h1
            titulo()
            color: $corClube

        p
            max-width: 420px
            texto()
    .panel_conteudo
        width: 100%
        flexCenter()
        alignItemStart()
        flexCol()
        espacoTopPadrao()
        espacoBottomPadrao()
        padding: 0px 20px
        a
            anchorButton()
            margin: 0px 10px
        p
            texto()
            text-align: left

