.bloco_parceiro_header
    maxWidth()
    boxShadow()
    border-radius: 10px
    overflow: hidden
    espacoBottomPadrao()
    flexRow()
    flex-wrap: wrap
    background: $corBrancoCinza

.bloco_parceiro_header .bloco_banner
    width: 100%
    flexCol()
    align-items: flex-start
    position: relative
    .banner
        width: 100%
        height: 100%
        max-height: 300px
        overflow: hidden
        flexCenter()
    .banner img
        width: 100%
        max-width: 100%
.bloco_parceiro_header .logo
    max-height: 140px
    boxShadow()
    background-color: #FFF
    borderRadius()
    flexCenter()
    padding: 20px
    margin: -20px 20px 20px 20px
    z-index: 2
    &.vazio
        margin-top: 20px
        box-shadow: none
    img
        max-width: 100%
        max-height: 100px
.bloco_parceiro_header .bloco_header
    margin: 20px 0
    padding-right: 20px
    flexCol()
    flexGrow()
    align-items: flex-start
    h1
        width: 100%
        titulo()
    p
        width: 100%
        max-width: 600px
        texto()
        margin: 10px 0


@media screen and (max-width: 375px)
    .bloco_parceiro_header
        flex-direction: column
        justify-content: center
        padding: 20px
        margin-bottom: 20px
        .bloco_header
            padding-right: 0px
