.bloco_passo_passo_geral
    width: 100%
    flexCol()
    .scroll
        max-width: 100%
        margin: 0 auto
        overflow-x: auto
        overflow-y: hidden

.bloco_passo_passo_geral .bloco_progresso
    max-width: 100%
    flexRow()
    margin-top: 20px
    .item
        flexCol()
        align-items: center
        padding: 0 10px
        position: relative
        width: 100px
    .item .bola
        border-radius: 50%
        width: 40px
        height: 40px
        border: 2px solid #CCC
        flexCenter()
    .item .bola span
        texto()
    .item .check
        display: none
    .item .linha_direita
    .item .linha_esquerda
        width: calc(50% - 30px)
        height: 2px
        background-color: #CCC
        position: absolute
        margin-top: 19px
    .item .linha_direita
        right: 0
    .item .linha_esquerda
        left: 0
    .item p
        font-size: 1.4rem
        margin-top: 5px
        text-align: center
    .item.concluido .bola span
        display: none
    .item.concluido .bola .check
        display: block
        fill: $corClube
    .item.concluido .linha_direita
        background-color: $corClube
    .item.atual
    .item.concluido
        color: $corClube
    .item.atual .bola
    .item.concluido .bola
        border-color: $corClube
    .item.atual .linha_esquerda
    .item.concluido .linha_esquerda
        background-color: $corClube
.bloco_passo_passo_geral .bloco_conteudo
    width: 100%
    overflow: hidden
    boxShadow()
    borderRadius()
    background: $corBrancoCinza
    espacoTopPadrao()
    &.sem_background
        box-shadow: none
    .conteudo
        width: 100%
        flexCol()
        align-items: center
        opacity: 1
        transition: opacity .3s ease-out
        &.sumir
            opacity: 0
