

.header_pagina_popup
    margin-bottom: 20px
#formulario_pesquisa fieldset
    display: flex
    text-align: start
    margin-bottom: 15px
    flex-direction: column
    align-items: center
    justify-content: center
.conteudo p
    width: 100%;
    margin-left: 17px
    line-height: 1.5em
    font-size: 1.6rem
    text-align: center
#formulario_pesquisa fieldset .pergunta
    width: 100%
    display: flex
    flex-wrap: wrap
    gap: 10px
    padding-left: 30px
#formulario_pesquisa fieldset .pergunta .botao_input
    margin-top: 10px
    width: auto
    width: calc((100% / 3) - 17px)
    text-align: center
    height: 44px
    margin-right: 0px
    label
        font-size: 1.4rem

.input_textarea textarea
    height: 40px
.form_geral .bloco_input
    width: 90%

@media screen and (max-width: 425px)
    .bloco_pagina_popup .header_pagina_popup
        height: auto
    .bloco_pagina_popup .header_pagina_popup h1
        padding: 0px
    .pergunta
        flex-direction: column
        align-items: center
        padding-left: 0px
    .pergunta .botao_input
        width: 80%
