.bloco_tabela_geral
    width: 100%
    overflow-x: auto
    padding-bottom: 20px
    table
        width: 100%
        min-width: 1000px
        border-collapse: collapse
        overflow: hidden
        boxShadow()
        position: relative
        espacoVerticalPadrao()
    table th,
    table td
        padding: 15px
        background-color: $corBrancoCinza
        color: $corPretoBranco
    table th
        text-align: left
    table thead
        th
            texto()
            background-color: $corBrancoCinza
            color: $corPretoBranco
    table tbody
        tr
            border-top: 1px solid #eee
            border-bottom: 1px solid #eee
        td
            vertical-align: middle
            texto()
            position: relative
            border-bottom: 1px solid #eee

