.texto_destaque
    p
    strong
    li
        texto()
    strong
        font-weight: bold
    strong.vermelho
        color: $corVermelho
    p
        margin: 5px 0
    ul
        margin: 15px 0
        list-style: disc
        list-style-position: inside
    ul li
        margin: 5px 0
    ul li p
        margin: 0
