/* COR PRINCIPAL */
$cor = #222
$painel = #18718B
$link = #FFBF11

$loading = #4AA9E9
$alerta = #FF6C60
$checkbox = #23b9a9

/* COR PARA EDITORES */
$cor_add = #23B9A9
$cor_visualizar = #18718B
$cor_editar = #4AA9E9
$cor_deletar = #FF6C60
$cor_relatorio = #F47521
$cor_download = #10ACF6
$cor_historico = #F0AD4E
$cor_salvar = #4AA9E9

/* COR PADRÕES */
$branco = #FFFFFF
$fundo-padrao = #F6F6F6
$preto = #000000
$azul_padrao = #003366
$amarelo_padrao = #ffeb07

/* COR PADRÕES */
$verde = #009900
$verde1 = #99FF99
$verde2 = #66FF99
$verde3 = #33ff33
$verde4 = #00CC00
$verde5 = #009900
$verde6 = #006600
$verde7 = #003300

$rosa = #CC33CC
$rosa1 = #FFCCFF
$rosa2 = #FF99FF
$rosa3 = #CC66CC
$rosa4 = #CC33CC
$rosa5 = #993366
$rosa6 = #663366
$rosa7 = #330033

$azul = #0000FF
$azul1 = #CCFFFF
$azul2 = #66FFFF
$azul3 = #33CCFF
$azul4 = #3366FF
$azul5 = #3333FF
$azul6 = #000099
$azul7 = #000066

$preto = #000
$preto1 = #CCC
$preto2 = #999
$preto3 = #666
$preto4 = #333
$preto5 = #000

$vermelho = #FF0000
$vermelho1 = #FFCCCC
$vermelho2 = #FF6666
$vermelho3 = #FF0000
$vermelho4 = #CC0000
$vermelho5 = #990000
$vermelho6 = #660000
$vermelho7 = #330000

$laranja = #FF6600
$laranja1 = #FFCC99
$laranja2 = #FFCC33
$laranja3 = #FF9900
$laranja4 = #FF6600
$laranja5 = #CC6600
$laranja6 = #993300
$laranja7 = #663300

$amarelo = #FFFF00
$amarelo1 = #FFFFCC
$amarelo2 = #FFFF99
$amarelo3 = #FFFF00
$amarelo4 = #FFCC00
$amarelo5 = #999900
$amarelo6 = #666600
$amarelo7 = #333300

$marrom = #8B4513
$marrom1 = #FF8247
$marrom2 = #EE7942
$marrom3 = #CD6839
$marrom4 = #8B4726
