@template "site"
@resource "site/variavel"

.bloco_carteirinha
    width: 400px
    height: 200px
    position: relative
    margin: 10px
    border-radius: 5px
    boxShadow()
    .bloco_info
        position: absolute
        top: 0
        width: 100%
        height: 80%
        display: flex
        align-items: center
        justify-content: flex-end
        .bloco_cpf
            position: absolute
            height: 100%
            width: 48%
            flexCenter()
            h1
                z-index: 9999
                color: #fff
                texto()
                font-weight: bold
    .bloco_nome
        position: absolute
        width: 100%
        height: 50px
        bottom: 0
        flexCenter()
        text-transform: uppercase
        font-size: 1.5em
        font-weight: 700
        z-index: 9999
        border-radius: 5px
        h1
            color: #003d78
            texto()

@media screen and ( max-width: 425px)
    .bloco_carteirinha
        rotate: 90deg
        height: 250px
        margin-top: calc(50vh - 125px)
