@system "Form"
@system "Alerta"
@system "Loading"
@system "Pagina"
@template "site"
@resource "site/variavel"
@resource "site/banner"
@resource "site/passo_passo"

#bloco_credito_alfa
    maxWidth()
    flexCenter()
    flexCol()
    .bloco_geral_banner
        espacoBottomPadrao()
    .form_geral .bloco_input
        margin-top: 5px
    .formulario_contratacao
        width: 100%
        espacoVerticalPadrao()
        flexCenter()
        directionColumn()
    .formulario_contratacao .coluna_divisoria
        width: 100%
        max-width: 500px
        spaceBetween()
        margin-top: 10px
        color: #666
        h1
            bold()
        h1,  p, p span
            textoMobile()
    .disclaimer
        maxWidth()
        espacoTopPadrao()
        padding: 0px 20px
        p
            disclaimerFontSize()
            color: #666
            text-align: left
    .aviso_resultado
        width: 100%
        flexCenter()
        directionColumn()
        espacoVerticalPadrao()
    #resultado_simulacao
        flexCenter()
        flexCol()
        .resultado
            espacoTopPadrao()
        .resultado h2
            color: #333
            texto()
        .aviso_resultado
            espacoBottomPadrao()
        .aviso_resultado h2
            color: #333
            texto()
        .aviso_resultado p
            texto()
            max-width: 300px
            texto()
            font-size: 1.5em
            border-radius: 8px
            background: #FA5252
            color: $branco
        .aviso_resultado span
            font-size: 1em
            line-height: 1.5em
        .resultado_valor
            width: 100%
            max-width: 200px
            height: 50px
            flexCenter()
            flexCol()
            margin: 10px auto
            border-radius: 3px
            border: 1px solid #009900
        .resultado_valor p
            color: #009900
            font-weight: bold
            font-size: 1.8em !important

#bloco_credito_alfa .bloco_credito
    width: 100%
    height: 100%
    max-width: 700px
    flexCol()
    align-items: center
    position: relative
    padding: 20px 20px 75px 20px
    h1
        width: 100%
        text-align: center
        titulo()
    p
        width: 100%
        max-width: 500px
        text-align: center
        texto()
    form
        width: 100%
        espacoVerticalPadrao()
    .bloco_botao
        width: calc(100% + 40px)
        flexRow()
        position: absolute
        bottom: 20px
        justify-content: space-between
    .bloco_botao .cinza
        background-color: #DDD
