@system "Form"
@system "Alerta"
@system "Loading"
@system "Pagina"
@template "site"
@resource "site/variavel"
@resource "site/banner"
@resource "site/passo_passo"
@resource "site/credito/simulacao"

#bloco_credito_alfa
    maxWidth()
    flexCenter()
    flexCol()
    .bloco_geral_banner
        espacoBottomPadrao()
    .form_geral .bloco_input
        margin-top: 5px

