.com_pai_campanha
    maxWidth()
    flexCol()
    > header
        width: 100%
        flexRow()
        align-items: center
        margin-bottom: -10px
    > header h1
        flexGrow()
    > header h1 span
        titulo()
    .conteudo
        width: 100%
        flexRow()
        flex-wrap: wrap
        justify-content: space-between
    .conteudo article
    .conteudo .article_fake
        width: calc((100% / 3) - (40px / 3))
    .conteudo article
        boxShadow()
        background-color: #FFF
        margin-top: 20px
        borderRadius()
        overflow: hidden
        position: relative
    .conteudo article a
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 2
    .conteudo article figure
        width: 100%
        height: 180px
        background-size: cover
        background-position: center center
    .conteudo article header
        width: 100%
        text-align: center
        padding: 20px
    .conteudo article header h1 span
        texto()
        font-weight: bold
    .conteudo article header p span
        texto()

@media screen and (max-width:900px)
    .com_campanha > header
        margin-bottom: 0
    .com_campanha .conteudo
        article
        .article_fake
            width: calc(50% - 10px)
@media screen and (max-width:600px)
    .com_campanha .conteudo
        article
        .article_fake
            width: calc(50% - 5px)
            margin-top: 10px
@media screen and (max-width:420px)
    .com_campanha > header
        margin-bottom: 0
    .com_campanha .conteudo
        article
        .article_fake
            width: 100%
            margin-top: 20px
