.com_div
    width: 100%
    display: flex
    &.direcao_linha
        flex-direction: row
    &.direcao_coluna
        flex-direction: column
    &.posicao_esquerda
        justify-content: flex-start
    &.posicao_direita
        justify-content: flex-end
    &.posicao_centralizado
        justify-content: center
    &.posicao_entre
        justify-content: space-between
