@template "site"
@system "Esqueleto"
@system "Banner"
@resource "site/banner"
@import "banner"
@import "margem"
@import "titulo_texto"
@import "div"
@import "campanha"
@import "linha"
@import "relacionado"
@import "parceiro"

#bloco_pagina
    width: 100%
    flexCol()
    align-items: center
