.com_lista
    width: 100%
    flexCol()
    ul
    ol
        width: 100%
    ul li
        list-style: disc
        list-style-position: inside
    ol li
        list-style: numeric
        list-style-position: inside
    li
        width: 100%
        texto()
        margin: 5px 0
    li span
        texto()
