
.com_pai_titulo-texto
    width: 100%
    flexCol()
    align-items: center
    h1
        titulo()
        text-align: center
    h1 span
        titulo()
    p
        texto()
        max-width: 400px
        text-align: center
    p span
        texto()

.com_pai_titulo span
    titulo()
.com_pai_subtitulo span
    subTitulo()
.com_pai_texto span
    texto()
