
.com_titulo_texto
    width: 100%
    flexCol()
    align-items: center
    h1
        titulo()
        text-align: center
    p
        texto()
        max-width: 400px
        text-align: center

.com_titulo
    titulo()
.com_subtitulo
    subTitulo()
.com_texto
    texto()
