@template "painel"

#bloco_usuario_apple
    width: 100%
    flexCol()
    align-items: center
    .bloco_dado
        width: 100%
        flexCol()
        padding: 40px 0 20px
        align-items: center
    .bloco_dado p
        margin-bottom: 10px
    .bloco_dado p
    .bloco_dado p span
        textoFontSize()
    .botao
        bgDegradeVerde()
        textoFontSize()
        color: #fff
        height: 60px
        line-height: 60px
        padding: 0 30px
        border-radius: 30px
        cursor: pointer
