@system "Resetar"

body
    background-color: #F6F6F6
    font-family: 'Roboto', sans-serif
#site
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding: 40px 20px
h1
    width: 100%
    text-align: center
    font-size: 4rem
    color: #FF6C60
    margin-bottom: 20px
p
    max-width: 500px
    text-align: center
    line-height: 1.5em
    font-size: 1.6rem
    font-weight: 300

ul
    max-width: 500px
    list-style: circle
    list-style-position: inside
    margin: 40px 0
    li
        width: 100%
        padding-left: 40px
        font-size: 1.6rem
        line-height: 1.5em
        font-weight: 300

