@system "Resetar"
@system "Form"
@template "site"
@resource "site/loja/busca"
@resource "site/variavel"
@resource "site/saude/operadora"
@resource "site/geral"
@resource "site/tabela"
@resource "site/passo_passo"
