@system "Form"
@template "site"
@resource "site/loja/busca"
@resource "site/variavel"
@resource "site/saude/operadora"
@resource "site/tabela"
@resource "site/passo_passo"


.bloco_atencao_geral
    margin-top: 20px
