@template "painel"
@system "Form"
@painel "app_geral_estrutura"
@painel "app_geral_add"

#main_template
    .painel_endereco_cep
        max-width: 120px
        margin-right: 20px
    .painel_endereco_logradouro
        width: calc(100% - 310px)
        margin-right: 20px
    .painel_endereco_numero
        max-width: 150px
    .painel_endereco_complemento
    .painel_endereco_bairro
    .painel_endereco_cidade
    .painel_endereco_estado
        max-width: calc(50% - 10px)
    .painel_endereco_complemento
    .painel_endereco_estado
        margin-right: 20px
