@template "login"

#bloco_faq
    width: 100%
    min-height: calc(100vh - 400px)
    flexCol()
    align-items: center
    directionColumn()
    padding: 0 20px 100px
    margin-top: 120px
    z-index: 2
    article
        width: 100%
        max-width: 1300px
        blocoShadow()
        margin: 20px 0
    article h1
        titulo()
        color: $corClube
        margin-bottom: 10px
