@template "painel"
@painel "app_geral_visualizar"

.bloco_endereco_geral
    width: 100%
.bloco_visualizar_lista_geral
    width: 100%
    flexCol()
    align-items: flex-start
    .botao_pequeno_geral
        margin-left: 20px
    .zero
        margin-top: 20px
        text-align: center
    .bloco_visuaizar_listar
        width: 100%
        max-height: 200px
        margin-top: 20px
        overflow-y: auto
        border-top: 1px solid #DDD
        border-bottom: 1px solid #DDD
.bloco_visualizar_lista_geral .form_visualizar_listar
    width: 100%
    flexRow()
    padding: 20px 20px 0
    input
        height: 30px
        line-height: 30px
        border: 1px solid #DDD
        border-radius: 15px
        textoFontSize()
        padding: 0 10px
        margin-right: 10px
        &:first-child
            flex-grow: 1
            flex-basis: 0%
    .botao
        height: 30px
        line-height: 30px
        padding: 0 10px
        bgDegradeVerde()
        color: #FFF
        cursor: pointer
        textoFontSize()
        border-radius: 15px
.bloco_visualizar_lista_geral .bloco_visuaizar_listar .bloco_visualizar_linha
    width: 100%
    padding: 10px 20px
    border-top: 1px solid #DDD
    flexRow()
    align-items: center
    &:hover
        background-color: #F6F6F6
    &:first-child
        border-top: none
    h1
        max-width: 200px
        texto()
        font-weight: bold
        color: #666
        flexGrow()
    p
    p span
        texto()
    p
        flex-grow: 1
        flex-basis: 0%
    i
        width: 30px
        height: 30px
        flexCenter()
        cursor: pointer
        margin-left: 10px
        cursor: pointer
        border-radius: 20px
        fill: #FFF
        &.editar
            background-color: $corAzul
        &.deletar
            background-color: $corVermelho
.bloco_visualizar_lista_geral .bloco_visualizar_carregar_mais
    width: 100%
    flexRow()
    margin-top: 20px
    align-items: center
    justify-content: center
    .botao_mais
        border: 1px solid #999
        textoFontSize()
        padding: 10px 20px
        border-radius: 20px
        color: #333
        cursor: pointer

.bloco_endereco_add
    width: 100VW
    height: 100vh
    position: fixed
    top: 0
    left: 0
    z-index: 100
    background: rgba(0,0,0,.7)
    flexRow()
    justify-content: center
    align-items: flex-start
    overflow-y: auto
    opacity: 0
    transition: opacity .3s ease-out
    &.ativo
        opacity: 1
    .conteudo
        max-width: 800px

.bloco_endereco_add .conteudo
    h2
        width: 100%
    .bloco
        width: 100%
        flexRow()
        flex-wrap: wrap
        padding: 0 20px
    .buscar_endereco
        width: 30px
        height: 30px
        flexCenter()
        margin: 27px 0 0 10px
        cursor: pointer
        fill: #666
    .bloco_endereco_titulo
        flexGrow()
        margin-right: 20px
    .bloco_endereco_telefone
        max-width: 200px
    .bloco_endereco_pais
        max-width: 200px
        margin-right: 20px
    .bloco_endereco_cep_brasil
    .bloco_endereco_cep_estrangeiro
        max-width: 160px
    .bloco_endereco_logradouro
        max-width: 300px
        margin-right: 20px
    .bloco_endereco_numero
        max-width: 100px
        margin-right: 20px
    .bloco_endereco_complemento
        width: calc(50% - 10px)
        margin-right: 20px
    .bloco_endereco_referencia
        width: calc(50% - 10px)
    .bloco_endereco_bairro
        max-width: 200px
        margin-right: 20px
    .bloco_endereco_estado_brasil
    .bloco_endereco_estado_estrangeiro
        max-width: 180px
        margin-right: 20px
    .bloco_endereco_cidade_brasil
    .bloco_endereco_cidade_estrangeiro
        flexGrow()
    .bloco_mapa
        width: 100%
        max-height: calc(100vh - 100px)
        margin-top: 20px
        border-top: 2px solid $cor
    .bloco_mapa h2
        width: calc(100% - 40px)
        margin-left: 20px
    .bloco_mapa .geolocalizacao
        width: 100%
        flexRow()
        padding: 0 0 10px 20px
        justify-content: space-between
    .bloco_mapa .geolocalizacao .bloco_input
        flexGrow()
        margin-right: 20px
    .bloco_mapa .geolocalizacao .botao
        height: 45px
        line-height: 45px
        padding: 0 15px
        bgDegradeCinza()
        textoFontSize()
        border-radius: 4px
        margin-top: 20px
        cursor: no-drop
        color: #666
    .bloco_mapa .geolocalizacao .botao.ativo
        bgDegradeVerde()
        color: #FFF
        cursor: pointer
    .bloco_mapa .bloco_renderizar
        width: 100%
        position: relative
        flexCol()
        align-items: center
    .bloco_mapa .bloco_renderizar .mapa
        width: 100%
        height: 500px
        background-color: #EEE
    .bloco_mapa .bloco_renderizar .buscar_titulo
        width: calc(100% - 40px)
        position: absolute
        top: 10px
        right: 20px
        flexRow()
    .bloco_mapa .bloco_renderizar .buscar_titulo input
        width: 100%
        height: 42px
        background: #FFF
        box-shadow: 0 2px 2px rgba(0,0,0,.1)
        border: 1px solid #EEE
        border-radius: 4px
        textoFontSize()
        padding: 0 10px
    .bloco_mapa .bloco_renderizar .buscar_titulo .botao
        height: 42px
        line-height: 42px
        padding: 0 15px
        bgDegradeVerde()
        textoFontSize()
        margin-left: 10px
        border-radius: 4px
        color: #FFF
        cursor: pointer
    .bloco_mapa .bloco_renderizar .botao_controle
        position: absolute
        bottom: 10px
        flexRow()
    .bloco_mapa .bloco_renderizar .botao_controle .botao
        font-size: 1.2rem
        margin: 0 10px
    .footer
        width: 100%
        flexRow()
        justify-content: flex-end
        padding: 10px 20px
