@import url("resetar.css");
@import url("template.css");

form {
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
    background-color: #FFF;
    box-shadow: 0 4px 5px rgba(0,0,0,.05);
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
form .select,
form .input {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
form .select label,
form .input label {
    font-size: 1.4rem;
    margin-bottom: 5px;
}
form .select .seta {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
form select,
form .input input {
    width: 100%;
    height: 40px;
    position: relative;
    line-height: 40px;
    border: 1px solid #CCC;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 1.4rem;
    z-index: 1;
}
form h2 {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 5px;
}
form .permissao {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #DDD;
    padding: 20px 20px 0 20px;
}
form .permissao .checkbox {
    width: 50%;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
form .permissao .checkbox input {
    display: none;
}
form .permissao .checkbox label {
    position: relative;
    padding-left: 10px;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    cursor: pointer;
}
form .permissao .checkbox .check {
    width: 18px;
    height: 18px;
    background-color: #DDD;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .permissao .checkbox .check img {
    display: none;
}
form .permissao .checkbox input:checked ~ .check {
    background-color: var(--cor);
}
form .permissao .checkbox input:checked ~ .check img {
    display: block;
}
form button {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    background-color: var(--cor);
    color: #FFF;
    font-size: 1.4rem;
    margin-top: 20px;
}
