.conteudo_popup
    padding: 20px
    flexCol()
    header
        margin-bottom: 20px
        position: relative
    header h1
        titulo()
        color: $corClube
        padding-right: 20px
    header p
        texto()
    header .fechar
        width: 30px
        height: 30px
        position: absolute
        top: 0
        right: 0
        flexCenter()
        cursor: pointer
        fill: #666
