@import "variavel"

@system "Resetar"
@system "Pagina"
@system "Form"
@system "Animacao"
@system "Loading"
@system "Alerta"
@system "Popup"

@resource "site/mixim"
@resource "site/variavel"
@resource "site/geral"
@resource "site/pagina_popup"
@resource "site/form_cor"
@import "login"
@import "ajuda"
@import "pesquisa"
@import "conteudo_popup"
@import "tema"
@import "popup_promocao"

$menuWidth = 300px

*::-webkit-scrollbar
    width: 10px
*::-webkit-scrollbar-track
    background: transparent
*::-webkit-scrollbar-thumb
    background: transparent
    border-radius: 15px
    height: 150px
*:hover::-webkit-scrollbar-thumb
    background: #cfcfcf

.fw_pagina_body
    padding-right: 10px
.scrollbar_hidden
    &::-webkit-scrollbar
        width: 0
        height: 0
    &::-webkit-scrollbar-track
        background: #CCC
    &::-webkit-scrollbar-thumb
        background: #CCC
        border-radius: 0
        height: 0
        width: 0

body
    font-family: 'Inter', sans-serif
    color: $corPretoBranco
    background-color: $corBody
    &::-webkit-scrollbar-track
        background: #DDD
    ::-webkit-scrollbar-thumb
        background: #DDD

a
    cursor: pointer

.botao_chat
    width: 60px
    height: 60px
    flexCenter()
    background-color: #34af23
    fill: #FFFFFF
    border-radius: 60px
    position: fixed
    bottom: 20px
    right: 20px
    z-index: 20
    &.chat_mapa
        right: 80px
@media screen and (max-width: 425px)
    .botao_chat.chat_mapa
        left: 12px
.body_scroll_hidden
    overflow: hidden
    padding-right: 10px
.display_none
    display: none

.mobile
    display: none !important
@media screen and (max-width: 1000px)
    .mobile
        display: flex !important
    .desktop
        display: none !important
#site
    width: 100%
    min-height: 100vh

#header_acesso_rapido
    width: 100%
    min-height: 110px
    flexCol()
    align-items: center
    justify-content: center
    boxShadow()
    background-color: $corBrancoPreto
    padding: 20px
    #menu_principal
        display: none
    figure
        height: 70px
        position: absolute
        top: 20px
    figure img
        height: 100%
        max-height: 100%
    .bloco_botao
        width: 100%
        flexRow()
        align-items: center
        justify-content: space-between

@media screen and (max-width:800px)
    #header_acesso_rapido figure
        display: none
    #header_acesso_rapido .bloco_botao
        margin-top: 0px
        display: flex
        align-items: center
        width: 100%
        flex-direction: row
        justify-content: space-between
        a
            display: flex
            align-items: center
            width: auto
            max-width: none
            margin: auto

#bloco_template_buscar
    z-index: 100

#header_principal
    width: 100%
    background-color: $corBrancoPreto
    box-shadow: 0 5px 5px rgba(0,0,0,.1)
    position: fixed
    top: 0
    left: 0
    z-index: 9
    flexRow()
    align-items: center
    padding: 10px 20px
    display: none
    .botao
        width: 40px
        height: 40px
        flexCenter()
        margin-right: 10px
        cursor: pointer
        fill: $corPretoBranco
    figure
        max-height: 50px
    figure img
        max-width: 100%
        max-height: 50px
@media screen and (max-width: 1250px)
    [data-theme="dark"]
        .bloco_logo_clube
            display: none

@media screen and (max-width:1250px)
    #header_principal
        display: flex

#menu_principal
    width: 100%
    max-width: $menuWidth
    position: fixed
    top: 0
    left: 0
    z-index: 4
    flexCol()
    .bg
        width: 100%
        max-width: $menuWidth
        height: 100%
        position: fixed
        top: 0
        left: 0
        background-color: rgba(0,0,0,0)
        z-index: 1
        box-shadow: 0 10px 15px rgba(0,0,0,.3)
        transition: background-color .3s ease-out
    .conteudo
        width: 100%
        max-width: $menuWidth
        height: 100vh
        position: relative
        background: $corBrancoPreto
        overflow-y: auto
        z-index: 2
    .conteudo > figure
        padding: 20px
        margin-top: 10px
    .conteudo > figure img
        max-width: 100%
        max-height: 100%
    .conteudo .perfil
        width: calc(100% - 30px)
        min-height: 60px
        position: relative
        flexCol()
        margin: 10px 15px
        justify-content: center
        padding: 10px 60px 10px 85px
        border-radius: 5px
        transition: background-color .3s ease-out
    .conteudo .perfil.hover
        background-color: $hoverBrancoPreto
    .conteudo .perfil a
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 2
        border-radius: 5px
    .conteudo .perfil figure
        imagemRedonda()
        width: 48px
        height: 48px
        position: absolute
        left: 20px
        background-color: #EEE
    .conteudo .perfil .nome
        subTitulo()
        font-weight: 500
    .conteudo .perfil .email
        texto()
        textoCorClara()
    .conteudo .perfil .nome
    .conteudo .perfil .email
        height: 30px
        line-height: 30px
        overflow: hidden
        position: relative
        &::after
            content: ""
            position: absolute
            top: 0
            right: 0
            width: 30px
            height: 100%
            background-image: linear-gradient(to right, rgba(255,255,255,0), $corBrancoPreto)
    .conteudo .perfil.hover .nome::after
    .conteudo .perfil.hover .email::after
        background-image: linear-gradient(to right, rgba(255,255,255,0), $hoverBrancoPreto)
    .conteudo .perfil i
        width: 20px
        height: 30px
        flexCenter()
        position: absolute
        right: 25px
        transition: .3s ease-out
        cursor: pointer
        border-radius: 4px
        z-index: 3
        fill: $corPretoBranco
        &.abrir:hover
            width: 26px
            height: 36px
            background: $hoverBrancoPreto
            right: 22px
    .conteudo .bloco_geral_sub_menu
        width: 100%
        max-width: 250px
        z-index: 20
        right: 10px
        margin-top: -35px
        opacity: 0
        transition: margin-top .3s ease-out, opacity .3s ease-out
        &.ativo
            opacity: 1
            margin-top: -15px
        .botao i
            fill: $corPretoBranco
        .pagina_atual
            fill: #FFF
        .botao:hover i
            fill: #FFF
    .conteudo .menu
        width: 100%
        flexCol()
    .conteudo .menu .categoria
        width: 100%
        padding: 30px 20px 0 20px
        subTituloMaiusculo()
        textoCorClara()
        font-weight: 500
    .conteudo .menu .botao
        width: calc(100% - 40px)
        margin: 10px 20px
        padding: 10px
        flexRow()
        border-radius: 8px
        texto()
        align-items: center
        cursor: pointer
        &:hover
            background-color: $hoverBrancoPreto
    .conteudo .menu .botao i
        width: 30px
        height: 30px
        flexCenter()
        margin-right: 20px
        fill: $corPretoBranco
    .conteudo .menu .botao .novo
        background-color: $corClube
        color: #FFF
        padding: 0 5px
        border-radius: 4px
        font-size: 1.2rem
        margin-left: 10px
        border: 1px solid #FFF
    .conteudo .menu .botao.footer
        margin: 2px 20px
    .conteudo .menu .botao.sair
        height: 40px
        left: 40px
        padding: 0 10px
        border: 1px solid #CCC
        justify-content: center
        font-size: 1.4rem
        color: $corCinzaCinza
        &:hover
            background: rgba(255,255,255, 0)
    .conteudo .menu .linha
        width: calc(100% - 60px)
        height: 1px
        background-color: #DDD
        margin: 30px 0 30px 30px
    .conteudo .menu .resto
        width: 100%
        margin-bottom: 40px
@media screen and (max-width:1250px)
    #menu_principal
        width: 100vw
        max-width: 100vh
        &.menu_fechado
            display: none
        .bg
            max-width: 100%
            height: 100%
        .conteudo
            width: $menuWidth
            max-width: 100%
            opacity: 0
            margin-left: -200px
            transition: opacity .3s ease-out, margin-left .3s ease-out
    #menu_principal.ativo
        .bg
            background-color: rgba(0,0,0,.7)
        .conteudo
            opacity: 1
            margin-left: 0
#menu_principal #bloco_perfil_mobile
    flexCol()
    height: auto
#menu_principal .conteudo figure
    .tema_escuro
        display: none

@media screen and (max-width: 425px)
    #menu_principal .conteudo .menu
        margin-top: 60px

#menu_principal .conteudo .menu

[data-theme="dark"] #menu_principal .conteudo figure
    &.cor_fundo
        width: calc(100% - 20x)
        background: #FFF
        margin: 15px 10px
        padding: 10px
        border-radius: 10px
    .tema_escuro
        display: block
    .tema_branco
        display: none
.dados_usuario_menu
    texto()
@media screen and (max-width: 1250px)
    #menu_principal
        .bloco_logo_menu
            display: none
        #bloco_perfil
            margin-top: 80px
#botao_swiped_esquerdo
    width: 15px
    height: 100vh
    position: fixed
    top: 0
    left: 0
    z-index: 10

#conteudo_principal
    flexCol()
    width: calc(100% - 300px)
    position: relative
    min-height: calc(100vh - 150px)
    margin-left: $menuWidth
    align-items: center
    padding: 20px 20px 60px
    z-index: 1
@media screen and (max-width:1250px)
    #conteudo_principal
        width: 100%
        margin-left: 0
        padding: 80px 10px 60px

#conteudo_acesso_rapido
    width: 100%
    padding: 40px 20px 60px
    align-items: center
    flexCol()
    background: $corBody

#header_acesso_rapido .botao_home
    flexCenter()

#rodape_principal
    width: calc(100% - 300px)
    margin-left: $menuWidth
    flexRow()
    position: relative
    flex-wrap: wrap
    justify-content: center
    background-color: $corBrancoPreto
    z-index: 3
    padding: 40px 0px
    .rodape_conteudo
        width: 100%
        max-width: 1130px
        margin: auto
        display: flex
        padding: 20px
        z-index: 3
    .dado i
        fill: $corPretoBranco
    .dado .texto_footer
        font-size: 1.6rem
        width: calc(100% - 40px)
        text-align: justify
        word-wrap: break-word
        padding-left: 1px
    .bloco
        flexCol()
    .bloco_contato
        width: 40%
    .bloco_indicacao, .bloco_termo
        width: 30%
    .bloco header h1
        titulo()
    .bloco .dado
        width: 100%
        flexRow()
        align-items: center
        texto()
        margin-top: 5px
    .bloco .dado i
        width: 40px
        height: 40px
        flexCenter()
    .linha
        width: 100%
        position: relative
        flexCenter()
        margin: 20px 0
        &::after
            content: ""
            width: 100%
            max-width: 1130px
            height: 1px
            background-color: #DDD
    p
        text-align: center
    .app
        flexRow()
        margin-top: 15px
        width: 100%
        max-width: $maxWidth
        align-items: center
        justify-content: center
    .app a
        border-radius: 10px
        margin: 0 10px
        overflow: hidden
        width: 220px
        display: flex
        background: #212529
        border: 1px solid #ccc
        img
            margin: auto
    .texto
        margin-bottom: 5px
        padding: 0px 40px
        text-align: center

@media screen and (max-width:1250px)
    #rodape_principal
        width: 100%
        margin-left: 0
@media screen and (max-width:900px)
    #rodape_principal
        border-top: 1px solid #DDD

@media screen and (max-width:1000px)
    #rodape_principal
        .bloco
            width: 100%
            max-width: 100%
            margin: 20px 0 0

@media screen and (max-width: 1000px)
    #rodape_principal
        padding-top: 30px
        .app
            width: 100%
            flexCol()
            align-items: center
        .app a
            width: 100%
            max-width: 230px
            margin: 10px 0
            justify-content: center
        .rodape_conteudo
            flexCol()
        .texto
            margin-bottom: 20px
            padding: 0px 40px
            text-align: center

@media screen and (max-width: 425px)
    #rodape_principal .texto
        margin-bottom: 20px
