#pesquisa_satisfacao_popup fieldset
    display: flex
    text-align: start
    flex-direction: column
    padding: 10px
    border: 1px solid #CCC
    border-radius: 5px
    margin: 10px 0
    h2
        texto()
    .pergunta
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    .pergunta .botao_input
        width: calc(50% - 10px)
        margin: 10px 0
