#bloco_popup_promocao .conteudo_popup
    align-items: flex-start
    header
        width: 100%
    header h1
        flexGrow()
    p
        width: 100%
        texto()
        margin: 10px 0
    span
        font-size: 1.3rem
        color: #666
        margin-bottom: -10px
    figure
        width: 100%
        margin: 10px 0
        text-align: center
    figure img
        max-width: 100%
    a
        botaoPadraoGrande()
        margin-top: 10px

