$corBody = var(--cor-body)
$corClube = var(--cor-clube)
$corBrancoPreto = var(--cor-branco-preto)
$corBrancoCinza = var(--cor-branco-cinza)
$corCinzaCinza = var(--cor-cinza-cinza)
$corPretoBranco = var(--cor-preto-branco)
$hoverBrancoPreto = var(--hover-branco-preto)
$corBoxShadow = var(--cor-box-shadow)
