@system "Form"
@template "site"
@resources "site/loja/busca"
@resources "site/variavel"
@resource "site/saude/operadora"
@resource "site/tabela"

.bloco_saude .bloco_plano_saude .bloco_lista
    box-shadow: none
    margin: 0px
    espacoTopPadrao()
    .lista_passo_a_passo
        margin: 0px
