@system "Form"
@system "Alerta"
@system "Loading"
@system "Pagina"
@template "site"
@resource "site/variavel"
@resource "site/banner"
@resource "site/passo_passo"

#bloco_simulacao
    width: 100%
    max-width: $maxWidth
    espacoTopPadrao()
    .segundo
    .terceiro
    .adicional
        display: none
    .conteudo
        flexCenter()
    .button
        float: left
        margin: 0 10px 0 0
        width: 150px
        height: 40px
        position: relative
        border: 1px solid $corClube
        border-radius: 5px
    .button label,
    .button input
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
    .button label
        flexCenter()
        texto()
    .button input[type="radio"]
        opacity: 0.011
    .button input[type="radio"]:checked + label
        background: $corClube
        color: $branco
        border-radius: 4px
    .button label
        cursor: pointer
        line-height: 1.8em
    .dependente
        padding: 0px 10px
    .dependente .adicionaDependente
        blocoAvisoDashed()
        bordaTracejada()
        cursor: pointer
        p
            margin-top: 0px
    .dependente p
        text-align: left
        texto()
        color: $corClube
        espacoTopPadrao()
    .dependente .linha_dependente
        width: 100%
        max-width: $maxWidth
        padding: 20px
        espacoTopPadrao()
        espacoBottomPadrao()
        blocoShadow()
        position: relative
        &.default
            display: none
    .dependente .linha_dependente .remove
        position: absolute
        right: 20px
        top: 10px
        fill: $branco
        padding: 8px
        border-radius: 5px
        cursor: pointer
        background-color: red
    .dependente .linha_dependente .bloco_input
        margin-top: 30px
    .coluna
        flexCol()
    .resultado_titular
    .resultado_dependente
        flexCenter()
        margin: 10px 0px
    .resultado_titular p,
    .resultado_dependente p
        texto()
        color: $branco
        border: 1px solid #ff6f00
        background-color: $corClube
        padding: 10px 20px
    .resultado_titular .titular_valor
    .resultado_dependente .titular_valor
        texto()
        color: #333
        border: 1px solid $corClube
        border-left: none
        padding: 10px 20px
    .aviso
        width: 100%
        flexCenter()
        flexCol()
        espacoVerticalPadrao()
    .aviso p
        max-width: 600px
        padding: 10px 20px
        line-height: 1.2em
        font-size: 1.5em
        border-radius: 8px
        color: #333
    .progressBar .step .bullet:before, .progressBar .step .bullet:after
        right: -66px


#bloco_simulacao #bloco_tipo_amil .conteudo
    flex-wrap: wrap
#bloco_simulacao #bloco_tipo_amil .button
    width: calc((100% /3 ) - 10px) !important
    margin-top: 10px
