@system "Form"
@template "site"
@resource "site/loja/busca"
@resource "site/variavel"
@resource "site/saude/padraoIndex"

@media only screen and  (max-width: 760px)
    .uniflex table tbody tr td
        height: auto
        width: 100%
