@template "site"
@system "Form"
@resource "site/tabela"
@resource "site/tab"
@resource "site/variavel"


.bloco_tem_mais_acao
    width: 100%
    max-width: $maxWidth
    .bloco_titulo_texto
        align-items: flex-start
        figure
            margin-bottom: 20px
        h1
            color: $corClube
        p
            margin: 2px 0
        strong
            texto()
            font-weight: bold
        a
            botaoPadraoPequeno()
            background-color: $corClube
            color: #FFF
            margin: 10px 0
    .atencao
        margin: 20px 0
    .bloco_solicitar .botao
        botaoPadraoGrande()
        background-color: $corClube
        color: #FFF
        margin-bottom: 10px
    .bloco_tabela
        margin-top: 20px
.bloco_tabela_geral table
    min-width: initial
    width: 100%
    thead th
        background: $corBoxShadow
        text-align: center
        border-right: 1px solid #eee
        &:first-child
            border-left: 1px solid #eee
    tbody td
        text-align: center
        border-right: 1px solid #eee
        &:first-child
            border-left: 1px solid #eee

.bloco_tem_mais_acao .bloco_tab_geral .bloco_botao .botao.ativo .texto_ativo,
.bloco_tab_geral .bloco_botao .botao:hover .texto_ativo
    color: $corClube
@media screen and (max-width: 600px)
    .bloco_tabela_geral table tbody td
        text-align: initial
#bloco_resgatar_ponto .bloco_botao
    width: 100%
    flexRow()
    justify-content: flex-end
    margin-top: 10px
    .botao
        botaoPadraoGrande()
        background-color: $corClube
        color: #FFF
