@template "site"
@system "form"
@resource "site/tab"

.bloco_tem_mais_acao
    width: 100%
    max-width: $maxWidth
    .bloco_titulo_texto
        align-items: flex-start
        figure
            margin-bottom: 20px
        h1
            color: $corClube
        p
            margin: 2px 0
        strong
            texto()
            font-weight: bold
        a
            botaoPadraoPequeno()
            background-color: $corClube
            color: #FFF
            margin: 10px 0
    .atencao
        margin: 20px 0
