@system "Resetar"
@system "Form"
@template "site"
@resource "site/loja/busca"
@resource "site/variavel"
@resource "site/passo_passo"

#bloco_contratacao
    width: 100%
    max-width: $maxWidth
    .contratacao
        width: 100%
        height: 100%
        max-width: 700px
        flexCol()
        align-items: center
        position: relative
        padding: 20px 20px 75px 20px
        h1
            width: 100%
            text-align: center
            titulo()
        p
            width: 100%
            max-width: 500px
            text-align: center
            texto()
        form
            width: 100%
    .contratacao .bloco_botao
        width: calc(100% - 40px)
        flexRow()
        position: absolute
        bottom: 20px
        justify-content: space-between
    .contratacao .bloco_botao .cinza
        background-color: #DDD
    .responsavel
        width: 100%
        espacoTopPadrao()
        h2
            text-align: left
            texto()
            color: $corClube


@media screen and (max-width: 900px)
    #bloco_contratacao .form_geral .bloco_input
        width: 100%
