.titulo_table
    color: black

.botao_padrao
    anchorButton()
    color: $branco !important
    display: table-cell
    vertical-align: middle
    &:hover
        hoverButtonPadrao()

.bloco_saude
    padding: 20px
    maxWidth()
    p,th,li,a,button
        texto()
    h1
        titulo()
        bold()
    .bloco_plano_saude
        blocoShadow()
    .bloco_conteudo
        espacoVerticalPadrao()
    .bloco_conteudo span
        font-size: 1em
        bold()
    table
        width: 100%
        border-collapse: collapse
        overflow: hidden
        boxShadow()
        position: relative
        espacoVerticalPadrao()
    table tfoot p
    p.footer
        disclaimerFontSize()
        color: #666
        text-align: left
    table th,
    table td
        padding: 15px
        background-color: $branco
        color: #333
    table th
        text-align: left
    table thead
        th
            background-color: #eee
            color: #181818
    table tbody
        tr
            border-top: 1px solid #eee
            &:hover
                border-top: 1px solid #ccc
            &:hover > td
                border-top: 1px solid #ccc
                border-bottom: 1px solid #ccc
        td
            vertical-align: middle
            texto()
            position: relative

.bloco_saude
    padding: 20px
    maxWidth()
    .bloco_plano_saude
        blocoShadow()
        espacoTopPadrao()
        border-bottom-left-radius: 0px
        border-bottom-right-radius: 0px
        figure
            img
                width: 200px
    .bloco_beneficio
        display: flex
        flexCol()
        header
            display: flex
            align-items: center
            h1
                width: 80%
            p
                width: 20%
                color: $corClube
        .bloco_vantagem
            min-height: 150px
            display: flex
            .bloco_icone_vantagem
                width: 200px
                text-align: center
                margin: 10px
                flexCol()
                flexCenter()
                height: 100px
                svg
                    width: 40px
                    height: 40px
                    fill: $corClube
                    border-radius: 50%
                    padding: 5px
        .rede_credenciada_botao
            display: flex
            align-items: center
            .segunda_via_boleto
                margin-left: 20px
                &:hover
                    text-decoration: underline
    .bloco_explore_rede
        blocoShadow()
        border-top-left-radius: 0px
        border-top-right-radius: 0px
        margin-top: 25px
        .lista_passo_a_passo
            espacoVerticalPadrao()
            padding-left: 20px
            li
                list-style-type: disc
        .bloco_botao_explore
            height: 80px
            padding-top: 30px
            a
                padding: 15px
                background-color: $corClube
                border-radius: 5px
                color: white
                opacity: 0.9
                &:hover
                    opacity: 1
    .bloco_lista
        blocoShadow()
        espacoTopPadrao()
        .lista_passo_a_passo
            espacoVerticalPadrao()
            padding-left: 20px
            li
                list-style-type: disc
    .bloco_carencia, .bloco_plano_saude
        .table_container
            width: 100%
            overflow-x: auto
    .table_container
        width: 100%
        overflow-x: auto

    .bloco_carencia
        maxWidth()
        blocoShadow()
        min-height: 350px
        espacoTopPadrao()

    .bloco_auxilio_ressarcimento
        blocoShadow()
        min-height: 200px
        border-top-left-radius: 0px
        border-top-right-radius: 0px
        table tbody td
            padding: 15px 0px
        p
            margin: 20px 0px
        button
            width: 200px
            background-color: $corClube
            height: 50px
            border-radius: 5px
            color: white
            opacity: 0.9

/*MODAL UNIMED VITORIA*/
.popup_modal_saude
    height: 500px
    width: 90%
    margin: 50px auto 40px auto
    background-color: white
    h1
        text-align: center
        margin: 20px
@media screen and (max-width: 600px)
    .bloco_saude
        padding: 0px 0px 20px 0px
    #bloco_saude
        padding-top: 0px
    .bloco_plano_saude
        min-height: 550px
        .bloco_beneficio
            header
                flexCol()
                width: 100%
                text-align: center
                p
                    width: 100%
            .rede_credenciada_botao
                flexCol()
                .segunda_via_boleto
                    text-align: center
                    espacoTopPadrao()
                    texto()
    .bloco_explore_rede
        min-height: 600px
        .lista_passo_a_passo
            height: 300px !important

.bloco_atencao_geral
    margin-top: 20px
@media screen and (max-width: 425px)
        figure
            text-align: center
@media screen and (max-width: 375px)
    .bloco_explore_rede
        height: 600px
        .titulo_rede
            height: 120px !important
            text-align: center
        .lista_passo_a_passo
            height: 350px !important
        .bloco_botao_explore
            text-align: center


.bloco_simulacao
    flexCenter()
    maxWidth()
    flexCol()
    margin-top: 40px
    h1
        texto()
    p
        subTitulo()
    a
        espacoTopPadrao()
        flexCenter()
        buttonCard()

.uniflex
    blocoUniflex()

@media only screen and  (max-width: 760px)
    td, tr
        display: block
    thead tr
        position: absolute
        top: -9999px
        left: -9999px
    tr
        border: 1px solid $corClube
        border-top: 1px solid $corClube !important
    tr + tr
        margin-top: 1.5em
    td
        border: none
        border-bottom: 1px solid #eee
        position: relative
        padding-left: 50%
        background-color: #F8D9D5
        text-align: left
        padding: 15px !important
    td:before
        content: attr(data-label)
        display: inline-block
        line-height: 1.5
        width: 100%
        white-space: nowrap
        color: $corClube
    .bloco_saude table tbody tr:hover > td
        border-top: none
        border-bottom: 1px solid #eee
