@system "Form"
@system "Alerta"
@template "site"
@resource "site/banner"
@resource "site/passo_passo"
@resource "site/credito/simulacao"

#bloco_credito_alfa
    maxWidth()
    .banner
    .bloco_geral
        espacoBottomPadrao()
    .form_geral .bloco_input
        margin-top: 5px
