@template "login"
@system "Form"
@system "Alerta"
@system "Loading"
@resource "site/mixim"

#auth_api_login_site .auth_bloco_geral_site
    width: 100%
    position: relative
    margin-top: 180px
    margin-bottom: 50px
    display: none
    flex-direction: column
    justify-content: center
    align-items: center
    &#auth_bloco_login
        display: flex

#auth_api_login_site .auth_bloco_geral_site .auth_form_geral
    width: 100%
    max-width: 450px
    position: relative
    flexCenter()
    flex-direction: column
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
    background-color: #FFF
    border-radius: 4px
    padding: 40px 40px 30px 40px
    overflow: hidden

#auth_api_login_site .auth_bloco_geral_site .auth_form_geral
    .auth_loading
        width: 100%
        height: 6px
        top: 0
        left: 0
        position: absolute
    .auth_loading span
        position: absolute
        top: 0
        left: 0
        height: 6px
        background-color: #4AA9E9
    figure
        width: 120px
        height: 120px
        margin-bottom: 20px
        border: 1px solid #DDD
        border-radius: 50%
        flexCenter()
        flex-direction: column
        overflow: hidden
    figure img
        width: 100%
        height: 100%
    legend
        font-size: 2.2em
        margin-bottom: 5px
        color: #111
        font-weight: 300
    p
        width: 100%
        line-height: 1.5em
        padding: 0 30px
        text-align: center
        font-size: 1.4em
        color: #666
        margin: 0
    p strong
        font-weight: bold
        color: #000
    .auth_erro_texto
        width: 100%
        height: 40px
        position: relative
        font-size: 1.4em
        color: red
    .auth_erro_texto span
        width: 100%
        position: absolute
        left: 0
        bottom: 0
    .bloco_login
        width: 100%
    .bloco_login.recuperar
        margin-top: 20px
    .codigo_escondido
        opacity: 0
        position: absolute
        top: -9999px
    .codigo
        width: 100%
        margin: 20px 0
        display: flex
        justify-content: center
        align-items: center
    .codigo input
        width: 35px
        height: 40px
        margin: 0 4px
        border: 1px solid #DDD
        border-radius: 3px
        text-align: center
        font-size: 1.4em
    .captcha
        margin-top: 20px
    .botao
        width: 100%
        margin-top: 20px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
    .botao.botao_centralizado
        justify-content: center
        align-items: center
    .botao.bloco_validar_codigo
        margin-bottom: 40px
    .botao.botao_recuperar
        justify-content: flex-end
        margin-top: 10px
    .botao .botao_texto
        font-size: 1.4em
        color: #4AA9E9
        border: none
        cursor: pointer
    .botao.botao_codigo
        margin: 40px 0 80px 0
    .botao button.enviar
        width: 100%
        max-width: 150px
        height: 40px
        line-height: 40px
        background-color: #23B9A9
        color: #FFF
        border: none
        font-size: 1.2em
        border-radius: 3px
        cursor: pointer
    .link_acao
        width: 100%
        margin-top: 20px
        display: flex
        flex-direction: row
        justify-content: space-between
    .link_acao .botao_texto
        font-size: 1.4em
        color: #4AA9E9
        border: none
        cursor: pointer
    .bloco_ativar
        width: 100%
        margin-top: 30px
        display: flex
        flex-direction: column
        text-align: center
    .bloco_ativar a
        width: 100%
        height: 30px
        line-height: 30px
        font-size: 1.4em
        background-color: #4AA9E9
        color: #FFF
        border-radius: 3px
    .voltar
        width: 100%
        height: 30px
        line-height: 30px
        margin-top: 20px
        border-radius: 3px
        border: 1px solid #CCC
        color: #999
        text-align: center
        text-decoration: none
        font-size: 1.2em
        cursor: pointer
        &.voltar_login
            margin-top: 60px
    .recaptcha
        min-height: 78px
        margin-top: 20px
    .footer
        width: 100%
        height: 30px

@media screen and (max-width:900px)
    body#auth_api_login_site
        background-color: #FFF
    #auth_api_login_site .auth_bloco_geral_site .auth_form_geral
        min-height: 100vh
        border-radius: 0
        border: none
        margin: 0
        box-shadow: none
        .botao .button.enviar
            max-width: 120px
            height: 50px
            line-height: 50px
        p
            width: 100%
            padding: 0

    #auth_api_login_site .auth_bloco_geral_site#auth_bloco_login.fechar .auth_form_geral
        transition: margin-left 0s ease-out, opacity 0s ease-out
    #auth_api_login_site .auth_bloco_geral_site#auth_bloco_login.abrir .auth_form_geral
        transition: margin-left 0s ease-out, opacity 0s ease-out
    #auth_api_login_site .auth_bloco_geral_site#auth_bloco_recuperar_senha.abrir .auth_form_geral
        transition: margin-left 0s ease-out, opacity 0s ease-out
    #auth_api_login_site .auth_bloco_geral_site#auth_bloco_recuperar_senha.fechar .auth_form_geral
        transition: margin-left 0s ease-out, opacity 0s ease-out
    #auth_api_login_site .auth_bloco_geral_site#auth_bloco_login.abrir
        display: flex
    #auth_api_login_site .auth_bloco_geral_site#auth_bloco_login.fechar
        display: none
    #auth_api_login_site .auth_bloco_geral_site#auth_bloco_recuperar_senha.abrir
        display: flex
    #auth_api_login_site .auth_bloco_geral_site#auth_bloco_recuperar_senha
        display: none

input:-webkit-autofill
    -webkit-box-shadow: 0 0 0px 1000px white inset

.senha_dica ul li
    color: #666
    font-size: 1.3em
    list-style: disc
    margin-left: 20px
    line-height: 20px
.senha_dica
    margin: 10px 0
    width: 100%
    margin-top: 20px
.senha_dica p
    font-size: 1.5em
    margin-bottom: 5px
