@media screen and (max-width: 650px)
    #bloco_buscar
        fieldset
            flex-wrap: wrap
        .busca_categoria
            max-width: 100%
            margin-right: 0
        .busca_ordem
            max-width: 100%
            margin-right: 0
