.panel
    maxWidth()
    blocoShadow()
    padding: 20px
    espacoTopPadrao()
    espacoBottomPadrao()
    header
        alignItemStart()
        flexCol()
        padding: 20px
        text-align: center

        p
            text-align: left
            padding: 5px 0px
            texto()

