@system "Form"
@template "site"
@resource "site/mixim"
@resource "site/variavel"
@resource "site/tab"
@resource "site/loja/parceiro"
@resource "site/automovel/mensagem"

#bloco_modelo
    maxWidth()
    .bloco_procedimento
        espacoBottomPadrao()

@media screen and (max-width: 550px)
    .busca_automovel .duplo_label
        flex-direction: column
    .busca_automovel .duplo_label .bloco_input
        width: 100%
@media screen and (max-width: 425px)
    .busca_automovel .bloco.footer
        display: flex
        align-items: inherit
        margin-top: 10px

