@system "Loading"
@template "site"
@system "Form"
@resource "site/variavel"
@resource "site/form_geral"

#bloco_pagina_senha
    width: 100%
    max-width: 600px
.bloco_alterar_senha
    display: flex
    gap: 10px
