@template "painel"

#bloco_app_lista
    width: 100%
    max-width: 1038px
    display: flex
    flex-flow: column nowrap
    margin: 2rem 0 0 0

    .lista
        display: flex
        flex-flow: row nowrap
        justify-content: space-around
        align-items: center
        border-radius: .5rem
        padding: 1.25rem 1.5rem
        margin: .5rem 1.75rem
        transition: all 100ms ease-in-out
        text-align: center


        h1
            width: 100%
            max-width: 128px
            font-size: 2.5rem
            font-weight: 700
            color: #666

        h3
            width: 100%
            max-width: 256px
            font-size: 1.5rem
            font-weight: 500
            color: #666

        p
            width: 100%
            max-width: 152px
            font-size: 1.5rem
            font-weight: 500
            color: #666

    .lista.header
        background-color: #eee
        border: 1px solid #ddd
        h1
            font-size: 2.5rem
            font-weight: 700
            color: #666

        h3
            font-size: 2.5rem
            font-weight: 700
            color: #666

        p
            font-size: 2.5rem
            font-weight: 700
            color: #666

    .lista.body
        background-color: #fff
        border: 1px solid #ddd

    .lista.body.me
        background-color: #169e91 !important
        border: 1px solid #ddd
        margin-bottom: 1.25rem
        h1
            color: #fff
        h3
            color: #fff
        p
            color: #fff

.bloco_dashboard
    width: 100%
    flexCol()
    .botao_pequeno_borda
        padding: 3px 5px
        font-size: 1.2rem
        border: 1px solid #CCC
        border-radius: 3px
        color: #777
        &:hover
            color: #333
            border-color: #999
    .titulo
        width: 100%
        subtitulo()
        padding: 0 20px
        margin-top: 20px
    .linha
        width: calc(100% - 40px)
        margin: 20px 0 0 20px
        height: 1px
        background-color: #CCC
    .bloco_link
        width: 100%
        flexRow()
        padding-right: 20px
        justify-content: flex-end
    .bloco_link a
        font-size: 1.3rem
        &:hover
            text-decoration: underline

.bloco_dashboard .banner
    width: 100%
    text-align: center
    margin-bottom: 40px

.bloco_dashboard .bloco_perfil
    width: 100%
    flexRow()
    flex-wrap: wrap
    justify-content: center
    padding: 20px
    figure
        width: 120px
        height: 120px
        border-radius: 50%
        background-position: center center
        background-size: cover
        background-color: #EEE
    header
        width: 100%
        flexCol()
        margin: 20px 0 10px
    header h1
        width: 100%
        text-align: center
        subtitulo()
        color: #666
    header h1 strong
        font-weight: bold
        subtitulo()
    header p
        texto()
        width: 100%
        text-align: center
        color: #999
    .botao
        margin: 0 5px

.bloco_dashboard .bloco_geral
    width: 100%
    justify-content: space-between
    flexRow()
    padding: 0 10px
    .bloco
        flexCol()
        flexGrow()
        background-color: #fff
        padding: 10px
        border-radius: 5px
        margin: 10px
    .bloco h1
        subtitulo()
        color: #666
    .bloco .numero
        width: 100%
        height: 60px
        line-height: 60px
        font-size: 3.5rem
        font-weight: bold
        margin-top: 10px
        flexCenter()
    .bloco .porcentagem
        font-size: 2rem
        margin-bottom: 5px
        flexRow()
        align-items: center
        font-weight: bold
    .bloco.cima .porcentagem
        color: $corVerde
        fill: $corVerde
    .bloco.baixo .porcentagem
        color: $corVermelho
        fill: $corVermelho
    .bloco .porcentagem i
        height: 30px
        flexCenter()
        display: none
        margin-right: 5px
    .bloco.cima .porcentagem i.cima
        display: flex
    .bloco.baixo .porcentagem i.baixo
        display: flex
    .bloco p
        texto()
        color: #999
