.bloco_hidden
    display: none

.botao_atualizar
    color: #fff !important
    font-size: 16px
    background: $corLink
    border-radius: 20px
    width: 120px

.botao_atualizar:hover
    background: darken($corLink, 10%)
    transition: background .3s ease-out

.botao_cancelar
    color: #fff !important
    font-size: 16px
    background: $corVermelho
    border-radius: 20px
    width: 120px

.botao_cancelar:hover
    background: darken($corVermelho, 10%)
    transition: background .3s ease-out

.bloco_pagina_popup ,conteudo_pagina_popup
    .header_motivo
        display: flex
        flex-direction: row
    .header_motivo h1
        font-weight: bold
        font-size: 16px

.bloco_kambam_index .bloco_coluna
    .conteudo article
        width: 100%
        position: relative
        background: #FFF
        box-shadow: 0 4px 4px rgba(0,0,0,.1)
        border-radius: 4px
        margin-top: 20px
        transition: opacity .3s ease-out
        overflow: hidden
        flexCol()
        align-items: flex-start
        &:first-child
            margin-top: 0
    .conteudo:hover article
        opacity: .5
    .conteudo:hover article:hover
        opacity: 1
    .conteudo article header
        width: 100%
        min-height: 30px
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 10px
        margin: 10px 0
    .conteudo article header h1
        width: 100%
        font-size: 1.5rem
        color: #333
        font-weight: bold
    .conteudo article p.data
        width: 100%
        max-height: 4.5em
        line-height: 1.5em
        font-size: 1.5rem
        color: #999
        padding: 0 10px 0 12px
        margin: 5px 0 10px
        overflow: hidden
    .conteudo .data_standby
        width: 50% !important
        margin: 0px !important
    .conteudo article .botao_link
        background-color: $corLink
        color: #FFF
        texto()
        padding: 1px 10px
        border-radius: 20px
        margin-left: 10px
    .conteudo article .botao_link_standby
        margin-bottom: 10px
    .conteudo article .status_standby
        margin-left: 10px
        margin-bottom: 10px
        font-size: 1.5rem
        color: #333
    .conteudo article .bloco
        width: 100%
        flexRow()
        padding: 10px 10px 10px 5px
        border-top: 1px solid #DDD
        align-items: center
    .conteudo article .bloco .icone
        width: 30px
        height: 30px
        flexCenter()
        margin-left: 5px
        fill: #666
        cursor: pointer
    .conteudo article .bloco .inativar
    .conteudo article .bloco .ativar
    .conteudo article .bloco .standby
    .conteudo article .bloco .voltar
        width: 27px
        height: 27px
        flexCenter()
        border-radius: 50%
        fill: #FFF
        margin-left: 10px
        cursor: pointer
        opacity: .7
        transition: opacity .3s ease-out
        &:hover
            opacity: 1
    .conteudo article .bloco .inativar
        background-color: $corVermelho
    .conteudo article .bloco .ativar
        background-color: $corVerde
    .conteudo article .bloco .standby
        background-color: #fbbf24
    .conteudo article .bloco .voltar
        background-color: #3b82f6
    .conteudo article .bloco .grow
        flexGrow()
    .conteudo article .bloco .linha
        width: 1px
        height: 30px
        background-color: #DDD
        margin-left: 10px
    .conteudo article .bloco .seta
        width: 30px
        height: 30px
        flexCenter()
        cursor: pointer
        opacity: .5
        transition: opacity .3s ease-out
        &:hover
            opacity: 1
    .conteudo article .bloco .seta_inativa
        color: #CCC
        cursor: default
