@template "site"
@resource "site/variavel"
@resource "site/banner"
@resource "site/loja/parceiro"
@resource "site/loja/relacionado"

#bloco_cinema
    maxWidth()
    .bloco_atencao_geral
        margin: 20px 0px
    .bloco_botao
        flexCenter()
