.busca_automovel
    width: 100%
    maxWidth()
    flexCol()
    blocoShadow()
    margin-top: 50px
    position: relative
    &::after
        content: ""
        width: 100%
        height: 1px
        background-color: #CCC
        position: absolute
        top: -30px
        left: 0
    h1
        titulo()
    p
        texto()
    .bloco
        width: 100%
        flexCol()
    .duplo_label
        width: 100%
        spaceBetween()
    .duplo_label .bloco_input
        width: calc(50% - 10px)
    .bloco.footer
        alignItemEnd()
        margin-top: 10px
