.busca_automovel
    width: 100%
    flexCol()
    blocoShadow()
    margin-top: 40px
    h1
        titulo()
    p
        texto()
    .bloco
        width: 100%
        flexCol()
    .duplo_label
        width: 100%
        spaceBetween()
    .duplo_label .bloco_input
        width: calc(50% - 10px)
    .bloco.footer
        alignItemEnd()
        margin-top: 10px
