@system "Form"
@template "site"
@resource "site/busca"
@resource "site/cashback/busca"
@resource "site/variavel"
@resource "site/loja/parceiro"
@resource "site/loja/relacionado"
@resource "site/parceiro_header"

#bloco_cashback_detalhe
    maxWidth()
    margin-top: 30px

#bloco_cashback_detalhe .header_detalhe
    blocoShadow()
    width: 100%
    flexRow()
    align-items: center
    espacoBottomPadrao()
    figure
        width: 200px
        text-align: center
        margin-right: 20px
    figure img
        max-width: 100%
        max-height: 130px
    .texto_cashback
        flexGrow()
        flexCol()
        align-items: flex-start
    .texto_cashback h1
        titulo()
    .texto_cashback p
        texto()
        margin: 10px 0 20px

#bloco_cashback_detalhe .bloco_passo_a_passo
    width: 100%
    margin: -20px 0 10px
    .scroll
        width: 100%
        overflow-x: auto
        scrollBarHide()
        padding: 20px 0
    .conteudo
        width: 100%
        flexRow()
        position: relative
    .descricao_passo_a_passo
        width: 25%
        min-width: 200px
        margin-right: 20px
        flexCol()
        blocoShadow()
        position: relative
        align-items: center
        &:last-child
            margin-right: 0
    .descricao_passo_a_passo p
        texto()
        text-align: center
        margin-top: 20px
    .bola
        width: 50px
        height: 50px
        border-radius: 50%
        z-index: 2
        position: absolute
        right: -34px
        top: 0
        bottom: 0
        margin: auto
        background-color: #FFF
        boxShadow()
        flexCenter()

#bloco_cashback_detalhe .bloco_dado
    padding-bottom: 20px
    .bloco_acessar
        flexRow()
        margin-top: 15px
        align-items: center
    .bloco_acessar p
        texto()
    .bloco_acessar .botao
        margin-left: 20px
    .atencao
        margin-top: 20px
