@system "Form"
@template "site"
@resource "site/variavel"
@resource "site/saude/padraoIndex"
@resource "site/loja/parceiro"
@resource "site/banner"

#bloco_saude
    maxWidth()
    .banner
        espacoBottomPadrao()
