@system "Loading"
@system "Pagina"
@system "Alerta"
@template "site"
@system "Form"
@resource "site/variavel"
@resource "site/loja/busca"

#bloco_pagina_perfil
    width: 100%
    max-width: $maxWidth
    espacoBottomPadrao()
    .conteudo
        padding: 0px 20px
        flexCol()
        align-items: center
    .conteudo .foto
        width: 100%
        max-width: 700px
        flexRow()
        margin-top: 20px
    .conteudo .foto figure
        width: 150px
        height: 150px
        flexRow()
        padding-bottom: 20px
        backgroundCoverCenterNotRepeat()
        border-radius: 50%
        boxShadow()
    .conteudo .foto .legenda
        alignItemStart()
        justify-content: center
        margin: 20px 0px 0px 20px
    .conteudo .foto .legenda article
        flexCol()
        h1
            texto()
            text-transform: capitalize
        p
            font-size: 1.3rem
            color: $corCinzaCinza
            margin-top: 5px
        p:nth-child(1)
            margin-top: 10px
    #imagem_fundo_perfil
        position: relative
    .botao_editar_foto
        position: absolute
        top: 10px
        right: 0
        border: 1px solid $corBoxShadow
        background: #fff
        padding: 10px
        border-radius: 50%
        cursor: pointer
        &:hover
            border: 1px solid $corClube

    .conteudo .foto .legenda #upload_personalizado
        margin-top: 20px
        texto()
        flexCol()
        border: 1px solid $corClube
        padding: 5px
        border-radius: 5px
        text-align: center
        cursor: pointer
    .conteudo form
        width: 100%
        flexCol()
        max-width: 700px
        espacoTopPadrao()
        align-items: center
        button
            width: 200px
        p
            subTitulo()
        fieldset
            width: 100%
            flexCol()
            blocoShadow()
            margin-bottom: 20px

#bloco_pagina_perfil .conteudo .foto
    .legenda .google .texto
        color: $corPretoBranco
@media screen and (max-width: 900px)
    .form_geral .bloco_input
        width: 100%

@media screen and (max-width: 425px)
    #bloco_pagina_perfil .conteudo
        padding: 0px
    #bloco_pagina_perfil .conteudo .foto
        width: 100%
        align-items: center
        blocoShadow()
        flexCol()
        .legenda
            margin-top: 20px
            margin-left: 0px
            text-align: center
        .legenda h1
            titulo()
@media screen and (max-width: 320px)
    .form_input_dupla
        flex-direction: column
