@system "Form"
@template "site"
@resource "site/variavel"
@resource "site/banner"
@system "Alerta"
@system "Loading"
@system "Pagina"

#bloco_consultoria_alfa
    maxWidth()
    flexCenter()
    flexCol()
