@system "Form"
@template "site"
@resource "site/busca"
@resource "site/variavel"
@resource "site/loja/parceiro"
@resource "site/cashback/busca"

#bloco_cashback
    maxWidth()
    margin-top: 20px

.bloco_buscar_geral .buscar
    .bloco_input.busca_categoria_fake
        width: 300px
    .bloco_input.busca_pesquisa_fake
        flexGrow()
@media screen and (max-width: 800px)
    .bloco_buscar_geral .buscar .bloco_input.busca_categoria_fake
        display: none
