@system "Form"
@template "site"
@resource "site/busca"
@resource "site/variavel"
@resource "site/loja/parceiro"
@resource "site/cashback/busca"
#bloco_cashback
    maxWidth()
    margin-top: 20px

.bloco_buscar_geral .buscar
    .bloco_input.busca_categoria_fake
        width: 300px
    .bloco_input.busca_pesquisa_fake
        flexGrow()
#bloco_carregar_mais
    width: 100%
    max-width: 1130px
    position: relative
    flexCenter()
    margin-top: 20px
    z-index: 6
    .botao
        width: 100%
        max-width: 220px
        height: 60px
        line-height: 60px
        background-color: var(--cor-clube)
        color: #fff
        border-radius: 5px
        margin-left: 20px
        text-align: center
        font-size: 1.6rem
        cursor: pointer
        user-select: none

.parceiro_esqueleto
    position: relative
    figure .esqueleto
        width: 120px
        height: 120px
    p
        max-width: 100px
        height: 20px
    .bloco_estado
        max-width: 150px
        height: 30px
@media screen and (max-width: 800px)
    .bloco_buscar_geral .buscar .bloco_input.busca_categoria_fake
        display: none
