@system "Form"
@template "site"
@resource "site/loja/busca"
@resource "site/variavel"
@resource "site/saude/operadora"
@resource "site/tabela"
@resource "site/popup"

.bloco_titulo_texto_centralizado
    espacoTopPadrao()
    blocoShadow()
    min-height: 100px
    h1
        text-align: center
    .bloco_botao_plano
        flexCenter()
        margin-top: 5px
        min-height: 100px
        text-align: center
        button
            text-align: center
            margin-top: 25px
            width: 200px
            margin-right: 20px
            border-radius: 10px
            height: 50px

/*REEMBOLSO*/
.bloco_reembolso
    espacoTopPadrao()
    blocoShadow()
    min-height: 700px
    overflow: auto
    width: 100%
    table
        border-collapse: collapse
        margin: 20px 0
        thead tr th,
        tbody tr td
            padding: 10px
            text-align: center
            border: 1px solid #ccc
    table thead tr th
        font-weight: bold
    table tbody tr:nth-child(even)
        background-color: #f2f2f2
    table tbody tr td:first-child
        font-weight: bold

/*RESSARCIMENTO*/
.bloco_auxilio_ressarcimento
    espacoTopPadrao()
    blocoShadow()
    min-height: 700px
    overflow: auto
    width: 100%
    table
        border-collapse: collapse
        margin: 20px 0
        thead tr th,
        tbody tr td
            padding: 10px
            text-align: center
            border: 1px solid #ccc
    table thead tr th
        font-weight: bold
    table tbody tr:nth-child(even)
        background-color: #f2f2f2
    table tbody tr td:first-child
        font-weight: bold

.bloco_coparticipacao
    espacoTopPadrao()
    blocoShadow()
    min-height: 700px
    overflow: auto
    width: 100%
    table
        border-collapse: collapse
        margin: 20px 0
        thead tr th,
        tbody tr td
            padding: 10px
            text-align: center
            border: 1px solid #ccc
    table thead tr th
        font-weight: bold
    table tbody tr:nth-child(even)
        background-color: #f2f2f2
    table tbody tr td:first-child
        font-weight: bold


/*CSS MODAL*/
.popup_modal_saude
    font-family: Arial, sans-serif
    overflow: auto

.table_modal_preco
    width: 100%
    border-collapse: collapse
    margin-top: 20px

.table_modal_preco th, .table_modal_preco td
    padding: 10px
    text-align: center
    border: 1px solid #ddd

.table_modal_preco th
    font-weight: bold
    background-color: #f2f2f2
    color: #333

.table_modal_preco tr:nth-child(even)
    background-color: #f2f2f2

.titulo_table
    font-weight: bold
    background-color: #ddd
    color: #333

.titulo_table th
    text-align: center

.table_modal_preco td:first-child
    font-weight: bold
    text-align: left

.table_modal_preco th:first-child
    text-align: left
    font-weight: bold


    .bloco_botao_plano button
        margin: 0px 10px

@media screen and (max-width: 830px)
    .bloco_titulo_texto_centralizado .bloco_botao_plano
        flex-direction: column
        button
            margin-right: 0px
            width: 80vw
