@system "Loading"
@system "Pagina"
@template "site"
@system "Form"
@system "Alerta"
@resource "site/variavel"
@resource "site/loja/busca"
@resource "site/tabela"
@resource "site/dependente"

#bloco_pagina_dependente
    width: 100%
    max-width: $maxWidth
    margin-bottom: 60px
    .bloco_titulo_texto form
        width: 100%
        flexCol()
        espacoTopPadrao()
        p
            subTitulo()
        p strong
            font-size: 1em
            bold()
