@system "Loading"
@system "Pagina"
@template "site"
@system "Form"
@system "Alerta"
@resource "site/variavel"
@resource "site/loja/busca"
@resource "site/tabela"

.zero
    width: 100%
    max-width: $maxWidth
    flexCenter()
    height: 150px
    flexCol()
.zero .container_adicionar_dependente
    flexCol()
    text-align: center
    cursor: pointer

.bloco_titulo_texto
    padding-bottom: 40px
    width: 100%

.bloco_titulo_texto .bloco_geral_dependente p
    texto()

div#bloco_pagina_dependente
    width: 100%
    max-width: $maxWidth

div#bloco_pagina_dependente #botao_cadastra_dependente
    margin-top: 20px

#tabela_dependente
    width: 100%
    overflow: hidden
