@system "Form"
@template "site"
@system "Pagina"
@resource "site/banner"
@resource "site/variavel"
@resource "site/tab"
@resource "site/tabela"

#bloco_pagina_cinema
    width: 100%
    flexCenter()
    position: relative
    .conteudo
        width: 100%
        max-width: $maxWidth
    .aviso
        espacoVerticalPadrao()

#bloco_pagina_cinema  .bloco_tabela_geral
    width: 100%
    table
        box-shadow: none
