.bloco_kambam_index
    width: 100%
    padding: 20px 10px
    overflow-x: auto
    .conteudo_geral
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between

.bloco_kambam_index .bloco_coluna
    flex-grow: 1
    min-width: 200px
    margin: 0 10px
    > header
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
    > header h1
        height: 30px
        line-height: 30px
        font-weight: bold
        font-size: 1.8rem
        color: #666
    > header h1 span
        font-size: 1.3rem
    > header .botao
        height: 25px
        line-height: 25px
        border-radius: 13px
        background: $cor
        padding: 0 10px
        margin-left: 10px
        color: #FFF
        font-size: 1.4rem
        cursor: pointer
    > header i
        width: 25px
        height: 25px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        font-size: 2rem
        color: #999
        cursor: pointer
        &.hide
            display: none
    > header .flex
        flex-grow: 1
        flex-basis: 0%
    .conteudo
        width: 100%
        height: calc(100vh - 135px)
        margin-top: 5px
        overflow-y: auto
    .conteudo .tarefa_zero
        width: 100%
        padding: 50px 0
        font-size: 1.3rem
        color: #999
        background-color: #FFF
        border-radius: 5px
        text-align: center
        &.hide
            display: none
