flexCenter()
    display: flex
    align-items: center
    justify-content: center
flexRow()
    display: flex
    flex-direction: row
flexCol()
    display: flex
    flex-direction: column

bgDegradeVerde()
    background-image: linear-gradient(45deg, $cor, $corClara)
bgDegradeCinza()
    background-image: linear-gradient(45deg, #CCC, #BBB)
bgDegradeVermelho()
    background-image: linear-gradient(45deg, $corDeletar, $corDeletarClaro)
bgDegradeAzul()
    background-image: linear-gradient(45deg, darken(#3cf, 12), #3cf)

flexGrow()
    display: flex
    flex-grow: 1
    flex-basis: 0%

textoFontSize()
    font-size: 1.5rem
texto()
    line-height: 1.5em
    textoFontSize()

tituloFontSize()
    font-size: 2.4rem
titulo()
    line-height: 1.5em
    tituloFontSize()
subtituloFontSize()
    font-size: 1.8rem
subtitulo()
    line-height: 1.5em
    subtituloFontSize()


blocoShadow()
    background-color: #FFF
    border-radius: 5px
    boxShadow()
    padding: 20px
boxShadow()
    box-shadow: 0 2px 10px rgba(0,0,0,.1)

imagemRedonda()
    border-radius: 50%
    overflow: hidden
    background-size: cover
    background-position: center center
