.bloco_pagina_popup
    width: calc(100% - 40px)
    position: relative
    margin: 20px 0
    display: flex
    background-color: #FFF
    box-shadow: 0 4px 5px rgba(0,0,0,.2)
    overflow: hidden
    border-radius: 3px
    display: flex
    flex-direction: column
    overflow: hidden
    .header_pagina_popup
        width: 100%
        height: 50px
        line-height: 50px
        padding: 0 10px
        box-shadow: 0 4px 5px rgba(0,0,0,.1)
        background-color: #FFF
        display: flex
        flex-direction: row
        align-items: center
        z-index: 10
    .header_pagina_popup i
        width: 30px
        height: 30px
        flexCenter()
        fill: #999
        cursor: pointer
    .header_pagina_popup h1
        flexGrow()
        font-size: 1.6rem
        color: #666
        padding: 0 20px 0 10px
        text-transform: uppercase
        cursor: default
    .conteudo_pagina_popup
        width: 100%
        max-height: calc(100vh - 150px)
        padding: 10px 20px 20px 20px
        overflow-y: auto
        overflow-x: hidden
        flex-direction: column
    &.sem_footer .conteudo_pagina_popup
        max-height: calc(100vh - 90px)
    .footer_pagina_popup
        width: 100%
        box-shadow: 0 -4px 5px rgba(0,0,0,.1)
        padding: 10px 20px
        display: flex
        flex-direction: row
        justify-content: space-between
        z-index: 10
        bottom: 0
        .flex
            height: 40px
            flexGrow()
        .botao
        .button
            height: 40px
            line-height: 40px
            border-radius: 20px
            color: #FFF
            padding: 0 25px
            font-size: 1.2rem
            cursor: pointer
        .botao.voltar
        .button.voltar
            background: #CCC
            color: #666
        .but..botao.erro
        .button.erro
            bgDegradeVermelho()
        .button.salvar
        .botao.salvar
            bgDegradeVerde()
        .button.ok
        .botao.ok
            padding: 0
