.botao_empresa
    background-color: #00aced
    font-size: 16px
    font-weight: 500
    color: white
    padding: 10px 20px
    margin-right: 15px
    border-radius: 5px
    cursor: pointer

#popup_empresas
    .bloco_checkbox
        display: flex
        align-items: center
        flex-wrap: wrap
    .input_checkbox
        min-height: 40px
        width: calc(100% / 3)
@media screen and (max-width: 565px)
    #popup_empresas .input_checkbox
        width: calc(100% / 2)

@media screen and (max-width: 425px)
    #popup_empresas
        .bloco_checkbox
            flex-direction: column
        #popup_empresas .input_checkbox
            width: 100%
