#popup_filtros
    max-width: 1200px

#bloco_filtros .bloco_empresas
    .bloco_checkbox
        display: flex
        align-items: center
        flex-wrap: wrap
    .input_checkbox
        min-height: 30px
        width: calc(100% / 4)

#lista_parceiro
    display: flex
    margin-bottom: 20px

    .tag_item
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #dddddd;
        border-radius: 6px;
        padding: 4px 10px
        cursor: pointer
        margin: 2px

        span
            font-size: 12px
            color: #333333
            margin-right: 5px
