@template "site"
@resource "site/mixim"
@resource "site/variavel"
@resource "site/geral"


#bloco_regulamento
    width: 100%
    flexCenter()

#bloco_regulamento .regulamento_conteudo
    width: 100%
    max-width: 700px
    flexCenter()
    directionColumn()
    espacoVerticalPadrao()
    article
        padding: 0px 20px
        espacoVerticalPadrao()


#bloco_regulamento .regulamento_conteudo a.sair
    width: 200px
    background-color: $corClube
    color: $branco
