.ck_editor_menu_editor .ck-dropdown__panel
    max-height: 200px !important
    overflow-x: hidden
    overflow-y: auto
.ck.ck-editor__editable:not(.ck-editor__nested-editable)
    border: none !important

.ck.ck-editor__editable > .ck-placeholder::before
    color: #999
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused
    box-shadow: none !important

.ck-body-wrapper
    position: relative
    z-index: 10001
    .ck.ck-button.ck-block-toolbar-button
        padding-right: 10px !important
        padding-left: 10px !important
        cursor: pointer !important
        background-color: rgba(255,255,255,0) !important
.ck-content
    width: 100%
    max-width: 66
    overflow: visible !important
    i
        font-style: italic
        font-size: inherit
        font-weight: inherit
    u
        font-size: inherit
        text-decoration: underline
        font-weight: inherit
    s
        font-size: inherit
        font-weight: inherit
    strong
        font-size: inherit
        font-weight: bold
    span,
    a
        font-size: inherit
    h1
        line-height: 1.4em
        font-size: 3.4rem
        font-weight: bold
        margin-bottom: 10px
    h2
        line-height: 1.4em
        font-size: 2.2rem
        font-weight: bold
        margin: 10px 0
    p
        line-height: 1.5em
        font-size: 1.8rem
        margin: 25px 0
        color: #666
    figure.image
        width: 100%
        display: flex
        align-items: center
        flex-direction: column
    figure.bloco_imagem_destaque
        width: 1000px
        max-width: calc(100vw - 300px)
        margin-left: -170px
    figure.bloco_imagem_esquerda
        width: 300px
        float: left
        margin: 10px 30px 10px 0
    figure.bloco_imagem_direita
        width: 300px
        float: right
        margin: 10px 0 10px 30px
    figure.image img
        width: 100%
        max-width: 100%
    figure.image figcaption
        width: 100%
        font-size: 1.4rem
        color: #666
        font-weight: 300
    ol
        list-style: decimal
        padding-left: 20px
        margin: 10px 0
        display: flex
        flex-direction: column
    ul
        list-style: disc
        padding-left: 20px
        margin: 10px 0
        display: flex
        flex-direction: column
    ul li,
    ol li
        line-height: 1.5em
        font-size: 1.8rem
        margin: 3px 0
        color: #666
        font-weight: 300
    a
        font-weight: bold
        color: #00aced
    .fw_botao_download
        background-color: $cor !important
        color: #FFF
        margin-right: 20px
        padding: 12px 20px
        font-size: 1.4rem
        border-radius: 3px
        font-weight: 300
    pre
        width: 100%
        position: relative
        display: flex
        &::after
            content: attr(data-language)
            position: absolute
            top: 0
            right: 10px
            background-color: #FFF
            font-size: 14px
            padding: 5px
            border-radius: 0 0 5px 5px
    pre code
        width: 100%
        background-color: #333
        border-radius: 5px
        overflow-x: auto
        overflow-y: hidden
        color: #FFF
        font-size: 1.8rem
        line-height: 1.5em
        tab-size: 4
        padding: 28px 20px
    blockquote
        width: 100%
        line-height: 1.5em
        font-size: 1.8rem
        font-style: italic
        display: flex
        padding: 0 !important
        margin: 0 !important
        flex-direction: column
        align-items: flex-end
        border-left: none !important
    blockquote *
        font-size: 1.8rem
        font-style: italic
    blockquote p
        max-width: 470px
        position: relative
        padding-left: 60px
        color: #666
        margin: 15px 0
    blockquote p:first-child
        margin-top: 10px
    blockquote p:first-child::before
        content: '"'
        position: absolute
        top: 36px
        left: 0
        font-size: 10rem
        color: #999
    figure.table
        display: block !important
        color: #666
    table td
        font-size: 1.8rem
    table td *
        font-size: inherit
        color: inherit
    .bloco_destaque
        background: #F3D1CE
    .bloco_observacao
        border-left: 4px solid #e2d44c
        background-color: #EEE
        padding: 10px 20px
        font-size: 1.8rem
        color: #333
        margin-top: 10px
    .bloco_observacao .bloco_observacao_mensagem > *
        margin: 10px 0
    .bloco_observacao .bloco_observacao_mensagem > *:first-child
        margin-top: 0
    .bloco_observacao .bloco_observacao_mensagem > *:last-child
        margin-bottom: 0
    hr
        height: 1px !important
        background: #CCC !important
        margin: 15px 0
