.fw_esqueleto_bloco::after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #FFF
    z-index: 999
.fw_esqueleto_loading
    z-index: 1001
    background: #EEE !important
    color: rgba(0,0,0,0) !important
    cursor: default !important
    > *
        opacity: 0
    &::after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: #EEE
        z-index: 999
.fw_esqueleto_zindex
    z-index: 1001 !important
.fw_esqueleto_position
    position: relative
.fw_esqueleto_overflow
    overflow: hidden
.fw_esqueleto_animacao
    width: 20%
    min-width: 70px
    height: 100%
    background-image: linear-gradient(to right, rgba(255,255,255,0), #FFFFFF, rgba(255,255,255,0))
    position: absolute
    top: 0
    left: -20%
    z-index: 1000
    animation: fw_esqueleto_animacao 1.5s linear 0s infinite
    opacity: .4
@keyframes fw_esqueleto_animacao
    0%
        left: -20%
    100%
        left: calc(100% + 20%)
