#fw_galeria
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    display: none
    flex-direction: column
    align-items: center
    justify-content: center
    background: rgba(0,0,0,.9)
    z-index: 99999
    opacity: 0
    transition: opacity .3s ease-out
    user-select: none
    &.fw_galeria_abrir
        opacity: 1
#fw_galeria #fw_galeria_header
    width: 100%
    height: 50px
    position: fixed
    top: 0
    left: 0
    display: flex
    flex-direction: row
    padding: 0 20px
    z-index: 4
    #fw_galeria_h1
        height: 50px
        line-height: 50px
        font-size: 1.8rem
        text-shadow: 1px 1px 0 #000
        color: #FFF
        overflow: hidden
        display: none
    #fw_galeria_grow
        flex-grow: 1
        flex-basis: 0
    .fw_galeria_icone
        width: 50px
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        margin: 5px 0 0 10px
        fill: #FFF
        cursor: pointer
        border-radius: 50%
        &:hover
            background-color: rgba(255,255,255,.1)
    #fw_galeria_download
        display: none

#fw_galeria .fw_galeria_seta
    width: 70px
    height: 70px
    position: fixed
    display: none
    align-items: center
    justify-content: center
    z-index: 3
    transition: opacity .3s ease-out
    opacity: .3
    background-color: rgba(255,255,255,.1)
    fill: #FFF
    border-radius: 50%
    cursor: pointer
    &:hover
        opacity: 1
#fw_galeria_anterior
    left: 20px
    svg
        margin-left: -4px
#fw_galeria_proximo
    right: 20px
    justify-content: flex-end
    svg
        margin-left: 4px

.fw_galeria_figure
    max-width: 100vw
    max-height: 100vh
    position: fixed
    background-image: url("../images/plugins/grade_photoshop.svg")
    z-index: 2
    .fw_galeria_img
        max-width: 100vw
        max-height: 100vh
        float: left

#fw_galeria_figure.fw_galeria_animar_centro_esquerda
    animation: fw_galeria_centro_esquerda .3s ease-out 0s forwards
@keyframes fw_galeria_centro_esquerda
    0%
        opacity: 1
        margin-left: 0
    100%
        opacity: 0
        margin-left: -300px
#fw_galeria_figure.fw_galeria_animar_centro_direita
    animation: fw_galeria_centro_direita .3s ease-out 0s forwards
@keyframes fw_galeria_centro_direita
    0%
        opacity: 1
        margin-left: 0
    100%
        opacity: 0
        margin-left: 300px

#fw_galeria_figure_animacao.fw_galeria_animar_fake_direita_centro
    animation: fw_galeria_direita_centro .3s ease-out 0s forwards
@keyframes fw_galeria_direita_centro
    0%
        opacity: 0
        margin-left: 300px
    100%
        opacity: 1
        margin-left: 0

#fw_galeria_figure_animacao.fw_galeria_animar_fake_esquerda_centro
    animation: fw_galeria_esquerda_centro .3s ease-out 0s forwards
@keyframes fw_galeria_esquerda_centro
    0%
        opacity: 0
        margin-left: -300px
    100%
        opacity: 1
        margin-left: 0

#fw_galeria #fw_galeria_link
    max-width: calc(100% - 40px)
    height: 50px
    line-height: 50px
    position: fixed
    bottom: 10px
    color: #FFF
    padding: 0 20px
    border-radius: 25px
    font-size: 1.4rem
    background-color: #63b4e4
    overflow: hidden
    z-index: 4
    display: none

@media screen and (max-width:1000px)
    #fw_galeria .fw_galeria_seta
        display: none !important
