.fw_historico_destino
    width: 100%
    min-height: 95px
    overflow-x: auto
    overflow-y: hidden
    flexRow()
    .fw_historico_item_geral
        width: 70px
        flexCol()
        margin-right: 20px
        cursor: pointer
        &:last-child
            margin-right: 0
        &.fw_historico_mascara
            cursor: progress
    .fw_historico_item_geral .fw_historico_parceiro
        width: 70px
        height: 70px
        position: relative
        border: 3px solid $corClube
        border-radius: 50%
        flexCenter()
        overflow: hidden
    .fw_historico_item_geral.fw_historico_visto .fw_historico_parceiro
        border-color: #CCC
    .fw_historico_item_geral .fw_historico_parceiro span
        width: 60px
        height: 60px
        flexCenter()
        overflow: hidden
        border-radius: 50%
        position: relative
        padding: 10px
        background-color: #FFF
    .fw_historico_item_geral.fw_historico_mascara .fw_historico_parceiro
        background-color: #EEE
        border-color: #DDD
    .fw_historico_item_geral .fw_historico_parceiro img
        width: 100%
        max-width: 100%
        max-height: 100%
        z-index: 1
    .fw_historico_item_geral .fw_historico_nome
        width: 100%
        height: 20px
        line-height: 20px
        margin-top: 5px
        text-align: center
        font-size: 1.2em
        overflow: hidden
    .fw_historico_item_geral.fw_historico_mascara .fw_historico_nome
        background-color: #EEE
    .fw_historico_imagem_lista
        display: none
.fw_historico_hide
    display: none !important
#fw_historico
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: rgba(0,0,0,.9)
    z-index: 99999
    opacity: 0
    transition: opacity .3s ease-out
    user-select: none
    &.fw_historico_abrir
        opacity: 1
    .fw_historico_loading
        width: 100%
        padding: 10px
        flexRow()
        position: absolute
        top: 0
    .fw_historico_loading .fw_historico_loading_barra
        height: 3px
        border-radius: 5px
        flexGrow()
        margin: 0 3px
        background-color: #666
        flexRow()
    .fw_historico_loading .fw_historico_loading_barra span
        width: 0%
        height: 3px
        background-color: #FFF
        border-radius: 5px
    .fw_historico_loading .fw_historico_loading_barra.fw_historico_animar span
        animation: fw_historico_loading 6s forwards
    .fw_historico_loading .fw_historico_loading_barra.fw_historico_animar_pausar span
        animation-play-state: paused
    .fw_historico_loading .fw_historico_loading_barra.fw_historico_visto span
        width: 100%
@keyframes fw_historico_loading
    0%
        width: 0%
    100%
        width: 100%

#fw_historico .fw_historico_pausar_continuar
    width: 30px
    height: 30px
    display: flex
    align-items: center
    justify-content: center
    fill: #CCC
    position: absolute
    top: 30px
    right: 70px
    cursor: pointer

#fw_historico .fw_historico_fechar
    width: 30px
    height: 30px
    display: flex
    align-items: center
    justify-content: center
    fill: #CCC
    position: absolute
    top: 30px
    right: 30px
    cursor: pointer
    border-radius: 50%
    &:hover
        background: rgba(0,0,0,1)

#fw_historico .fw_historico_seta
    width: 70px
    height: 70px
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    z-index: 3
    transition: opacity .3s ease-out
    opacity: .3
    background-color: rgba(255,255,255,.1)
    fill: #FFF
    border-radius: 50%
    cursor: pointer
    &:hover
        opacity: 1
#fw_historico_anterior
    left: 20px
    svg
        margin-left: -4px
#fw_historico_proximo
    right: 20px
    justify-content: flex-end
    svg
        margin-left: 4px

.fw_historico_figure
    max-width: calc(100vw - 210px)
    max-height: calc(100vh - 80px)
    position: fixed
    background-image: url("../images/plugins/galeria/grade_photoshop.svg")
    z-index: 2
    img
        max-width: calc(100vw - 210px)
        max-height: calc(100vh - 80px)
        float: left

#fw_historico_figure.fw_historico_animar_centro_esquerda
    animation: fw_historico_centro_esquerda .3s ease-out 0s forwards
@keyframes fw_historico_centro_esquerda
    0%
        opacity: 1
        margin-left: 0
    100%
        opacity: 0
        margin-left: -300px
#fw_historico_figure.fw_historico_animar_centro_direita
    animation: fw_historico_centro_direita .3s ease-out 0s forwards
@keyframes fw_historico_centro_direita
    0%
        opacity: 1
        margin-left: 0
    100%
        opacity: 0
        margin-left: 300px

#fw_historico_figure_animacao.fw_historico_animar_fake_direita_centro
    animation: fw_historico_direita_centro .3s ease-out 0s forwards
@keyframes fw_historico_direita_centro
    0%
        opacity: 0
        margin-left: 300px
    100%
        opacity: 1
        margin-left: 0

#fw_historico_figure_animacao.fw_historico_animar_fake_esquerda_centro
    animation: fw_historico_esquerda_centro .3s ease-out 0s forwards
@keyframes fw_historico_esquerda_centro
    0%
        opacity: 0
        margin-left: -300px
    100%
        opacity: 1
        margin-left: 0

#fw_historico #fw_historico_link
    max-width: calc(100% - 40px)
    height: 50px
    line-height: 50px
    position: fixed
    bottom: 20px
    color: #FFF
    padding: 0 20px
    border-radius: 25px
    font-size: 1.4rem
    background-color: #63b4e4
    overflow: hidden
    z-index: 4

@media screen and (max-width:1000px)
    #fw_historico .fw_historico_seta
        display: none !important
