#fw_loading_bola {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10010;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease-out;
}
#fw_loading_bola.fw_loading_abrir {
    opacity: 1;
}
#fw_loading_bola .fw_loading_bola_icone {
    border-radius: 50%;
    animation: fw_loading_bola 1.1s linear 0s infinite;
}
#fw_loading_bola .fw_loading_bola_texto {
    position: absolute;
    margin-top: 70px;
    font-size: 1.2rem
}
.fw_loading_form {
    width: 80%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3cf;
    animation: fw_loading_form 2s linear infinite;
    border-radius: 3px;
}
.fw_loading_barra {
    width: 17px;
    height: 26px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
}
.fw_loading_barra .fw_loading_barra_barra {
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 3px;
    background: #FFF;
    border-radius: 3px;
    animation: fw_loading_barra 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.fw_loading_barra .fw_loading_barra_barra:nth-child(1) {
    left: 0;
    animation-delay: -0.24s;
}
.fw_loading_barra .fw_loading_barra_barra:nth-child(2) {
    left: 7px;
    animation-delay: -0.12s;
}
.fw_loading_barra .fw_loading_barra_barra:nth-child(3) {
    left: 14px;
    animation-delay: 0;
}
#fw_loading_total
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    z-index: 10010
    cursor: progress
#fw_loading_total #fw_loading_total_bg
    width: 0
    height: 0
    position: fixed
    background-color: #23b9a9
    display: flex
    border-radius: 50%
    z-index: 1
#fw_loading_total #fw_loading_total_player
    height: 200px
    position: fixed
    z-index: 2
@media (orientation: landscape)
    #fw_loading_total #fw_loading_total_bg
        animation: fw_loading_total_landscape 1s ease-out forwards
@media (orientation: portrait)
    #fw_loading_total #fw_loading_total_bg
        animation: fw_loading_total_portrait 1s ease-out forwards

@keyframes fw_loading_total_landscape
    0%
        width: 0
        height: 0
    100%
        width: 200vw
        height: 200vw
        top: -50vw
        left: -50vw
@keyframes fw_loading_total_portrait
    0%
        width: 0
        height: 0
    100%
        width: 200vh
        height: 200vh
        top: -50vh
        left: -50vh

@keyframes fw_loading_bola {
    0% {
        width: 10px;
        height: 10px;
        border: 3px solid #4aa9e9;
        background-color: #4aa9e9;
        opacity: 1;
    }
    40% {
        background-color: #4aa9e9;
        opacity: 1;
    }
    60% {
        background-color: rgba(255, 255, 255, 0);
        border: 6px solid #4aa9e9;
    }
    100% {
        width: 40px;
        height: 40px;
        border: 1px solid #4aa9e9;
        opacity: 0;
    }
}
@keyframes fw_loading_form {
    0% {
        width: 0;
        left: 0
    }
    50% {
        width: 100%;
        left: 0
    }
    100% {
        width: 0%;
        left: calc(100% + 50px);
    }
}
@keyframes fw_loading_barra {
    0% {
        top: 0;
        height: 26px;
    }
    50%, 100% {
        top: 8px;
        height: 10px;
    }
}
