@template "login"

.bloco_faq
    width: 100%
    flexCenter()
    directionColumn()
    padding: 0 20px 100px
    margin-top: 180px

.bloco_faq figure
    margin-bottom: 40px

.bloco_faq article
    width: 600px
    max-width: 100%
    background: #fff
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1)
    margin: 20px 0
    padding: 20px
    border-radius: 5px

.bloco_faq article h1
    font-size: 2.4em
    line-height: 1.5em
    margin-bottom: 10px

.bloco_faq article p
    font-size: 1.6em
    line-height: 1.5em
    color: #666

