@system "Form"
@template "site"
@resource "site/loja/busca"
@resource "site/variavel"
@resource "site/saude/operadora"
@resource "site/tabela"
@resource "site/pagina_popup"

.bloco_titulo_texto_centralizado
    espacoTopPadrao()
    blocoShadow()
    min-height: 100px
    h1
        text-align: center
    .bloco_botao_plano
        flexCenter()
        margin-top: 5px
        min-height: 100px
        text-align: center
    .bloco_botao_plano button
        margin: 0px 10px

@media screen and (max-width: 560px)
    .bloco_titulo_texto_centralizado .bloco_botao_plano
        alignItemStretch()
        directionColumn()
    .bloco_titulo_texto_centralizado .bloco_botao_plano button
        margin-bottom: 10px
        &:last-child
            margin-bottom: 0px


.bloco_saude .bloco_auxilio_ressarcimento table tbody td,
.bloco_tabela_geral table thead th
    text-align: center
    vertical-align: middle
