@system "Form"
@template "site"
@resource "site/loja/busca"
@resource "site/variavel"
@resource "site/saude/operadora"
@resource "site/tabela"
@resource "site/passo_passo"

.container_titulo_coparticipacao .titulo_planos
    color: $corPretoBranco
