@template "site"
@system "Form"
@resource "site/loja/busca"
@resource "site/variavel"

i, .categoria, .mobile, .linha, .resto, .acesso_rapido_link
    display: none

.conteudo_principal_acesso_rapido
    max-width: $maxWidth
    margin: auto
    width: 100%

.conteudo_principal_acesso_rapido
    h1
        titulo()
    p,a, .botao_loja_proxima, .footer
        texto()

.conteudo_principal_acesso_rapido .info_acesso
    margin-left: 25px
    margin-top: 50px
    h1
        bold()

.conteudo_principal_acesso_rapido .links_acesso_rapido
    espacoTopPadrao()
    display: flex
    align-items: center
    flex-wrap: wrap
    width: 100%
    padding: 20px

.links_acesso_rapido .botao
    blocoShadow()
    width: calc((100% / 3) - 25px)
    height: 80px
    order: 1
    bold()
    flexCenter()
    margin: 6px 25px 6px 0px
    &:hover
        border: 1px solid $corClube

@media screen and (max-width:1320px)
    .conteudo_principal_acesso_rapido
        width: 100%
        padding-left: 17px
    .conteudo_principal_acesso_rapido .links_acesso_rapido .botao
        width: calc((100% / 2) - 25px)
@media  screen and (max-width:630px)
    #conteudo_principal
        padding: 0px
    #conteudo_principal .conteudo_principal_acesso_rapido
            padding-left: 25px
            margin-top: 70px
    #conteudo_principal .conteudo_principal_acesso_rapido .links_acesso_rapido .botao
            text-align: center
            width: calc(100% - 25px)
            margin-bottom: 25px

@media screen and (max-width: 425px)
    .conteudo_principal_acesso_rapido .info_acesso
        padding-right: 30px
        text-align: center
    .conteudo_principal_acesso_rapido .info_acesso .links_acesso_rapido .botao
        text-align: center
        width: calc(100% - 25px)
        margin-bottom: 25px
@media screen and (max-width: 320px)
    .conteudo_principal_acesso_rapido
        padding-left: 0px
    .conteudo_principal_acesso_rapido .links_acesso_rapido
        flex-direction: column
        padding: 20px 0px
        .botao
            width: 100%
            text-align: center
