@template "painel"
@painel "app_geral_visualizar"

#bloco_popup_status
    max-width: 700px
    form > p
        texto()
        margin-top: 10px
    .bloco_demanda
        margin-top: 20px
        padding-top: 10px
        border-top: 1px solid #CCC
    .bloco_demanda .bloco
        margin-top: 10px
        border: 1px solid #CCC
        padding: 0 10px
        border-radius: 4px
    .bloco_demanda .bloco h2
        texto()
        font-weight: bold
    .bloco_demanda .bloco p
        texto()
        color: #666
