@system "Form"
@system "Alerta"
@template "site"
@resource "site/passo_passo"
@resource "site/loja/parceiro"
@resource "site/preferencia/personaliza"

#header_preferencia
    width: 100%
    min-height: 110px
    flexCol()
    align-items: center
    justify-content: center
    boxShadow()
    background-color: #FFF
    padding: 20px
    espacoBottomPadrao()
    figure
        height: 70px
        position: absolute
        top: 20px
    figure img
        height: 100%
        max-height: 100%

#bloco_pagina_preferencia form
    width: 100%
    max-width: $maxWidth

#bloco_pagina_preferencia .conteudo
    padding: 0px 20px

#bloco_pagina_preferencia .conteudo button
    width: 300px
    espacoTopPadrao()
    color: #fff
    background-color: $corClube
