@system "Form"
@template "site"
@resource "site/mixim"
@resource "site/variavel"
@resource "site/tab"
@resource "site/loja/parceiro"
@resource "site/automovel/mensagem"

#bloco_modelo
    maxWidth()
    .bloco_procedimento
        espacoBottomPadrao()
