@system "Resetar"

body
    font-family: 'Inter', sans-serif
    color: #495057
    display: flex
    flex-direction: column
    padding: 20px
    align-items: center

#site
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    header
        width: 100%
        max-width: 1000px
        padding: 15px 0
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    .qr_code
        width: 100%
        text-align: center
        padding: 30px 0 40px 0
        border-top: 1px solid #CCC
        border-bottom: 1px solid #CCC
    .qr_code .codigo
        width: 100%
        margin-top: 10px
        font-weight: bold
        font-size: 2rem
        text-align: center
        display: flex
        flex-direction: column
    .qr_code .codigo span
        font-size: 1.2rem
        margin-bottom: 5px
    .nome
        width: 100%
        text-align: center
        margin-top: 40px
        font-size: 1.5rem
    .cpf
        width: 100%
        text-align: center
        font-size: 1.8rem
        font-weight: bold
        margin-top: 5px
    .bloco_data
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        margin: 20px 0 10px
    .bloco_data .data
        margin: 0 10px
        border: 1px solid #CCC
        padding: 5px 10px
        border-radius: 5px
        display: flex
        flex-direction: column
    .bloco_data .data span
        width: 100%
        text-align: center
        margin-top: 5px
    .bloco_data .data p
        font-size: 1.5rem
        margin: 8px 0 5px
    .texto
        width: 100%
        max-width: 700px
        text-align: center
        font-size: 1.5rem
        line-height: 1.5em
        margin-top: 30px
    .administrado
        width: 100%
        margin-top: 50px
        padding-top: 40px
        border-top: 1px solid #CCC
        display: flex
        flex-direction: column
        align-items: center
    .administrado p
        font-size: 1.2rem
        line-height: 1.5em
        max-width: 700px
        margin-top: 20px
