@template "painel"
@painel "app_geral_visualizar"
@import "lista"

.bloco_row
    flexRow()
#bloco_app_visualizar .botao_link.botao_borda
    background-color: #FFF
    color: $cor
    border: 1px solid $cor
