#bloco_view .bloco_conteudo
    width: 100%
    flexCol()
    .loading
        width: 100%
        padding: 10px 20px 0
        texto()
        color: #666
    article
        width: calc(100% - 20px)
        flexCol()
        margin-top: 10px
    article .margem
        background: url(/images/painel/bg_linha.png) repeat
        flexCenter()
        display: none
        padding: 5px
        &.margem_ativa
            display: flex
    article .margem_topo
    article .margem_baixo
        width: calc(100% - 20px)
    article article .margem_topo
    article article .margem_baixo
        width: calc(100% - 10px)
    article .margem_esquerda
    article .margem_direita
        width: 40px
    article .margem_topo
    article .margem_baixo
    article .margem_esquerda
        margin-left: 20px
    article article .margem_topo
    article article .margem_baixo
    article article .margem_esquerda
        margin-left: 10px
    article .margem input
        width: 30px
        height: 30px
        background-color: #fff
        text-align: center
        textoFontSize()
    article .conteudo_linha
        width: 100%
        flexRow()
    article .conteudo_geral
        width: calc(100% - 20px)
        margin-left: 20px
        background-color: #FFF
        border: 1px solid #CCC
        border-left: 2px solid $cor
        padding-left: 2px
        position: relative
        flexCol()
        align-items: center
    article .conteudo_geral.margem_esquerda_ativa
        width: calc(100% - 60px)
        margin-left: 0
    article .conteudo_geral.margem_direita_ativa
        width: calc(100% - 60px)
    article .conteudo_geral.margem_tudo_ativa
        width: calc(100% - 100px)
        margin-left: 0
    article header
        width: 100%
        min-height: 40px
        flexRow()
        align-items: center
    article header .drag
        cursor: pointer
        width: 30px
        height: 30px
        flexCenter()
        fill: #999
    article header h1
        texto()
        flexGrow()
        padding-right: 20px
    article header .icone
        height: 30px
        width: 30px
        cursor: pointer
        flexCenter()
        font-size: 2rem
        user-select: none
        &:hover
            background-color: rgba(0, 0, 0, .05)
        &.mais
            margin-right: 5px
    article header:hover .icone
        display: flex
    article .lista
        width: calc(100% - 15px)
        min-height: 20px
        flexCol()
        padding-bottom: 10px
        position: relative
        margin: 0 5px 10px 5px
        border: 1px dashed #CCC
        background-color: #F6F6F6
    article .lista article
        width: calc(100% - 10px)
    article .lista .conteudo_geral
        width: 100%
        margin-left: 10px

#bloco_view .bloco_conteudo.margem_ativa article
    .margem
        display: flex
    .conteudo_geral
        width: calc(100% - 100px)
        margin: 0
    article .conteudo_geral
        width: calc(100% - 90px)

#bloco_view .bloco_botao_direita
    flexRow()
    justify-content: flex-end
    margin-right: 10px
    .botao
        bgDegradeVerde()
        height: 50px
        line-height: 50px
        margin-top: 20px
        padding: 0 20px
        border-radius: 25px
        color: #FFF
        textoFontSize()
        cursor: pointer

#bloco_view_add
    width: 100%
    max-width: 1200px
    flexCol()
    align-items: center
    .linha
        width: 100%
        height: 1px
        margin: 10px 0
        background-color: #CCC
    h2
        width: 100%
        texto()
        font-weight: bold
        margin-top: 20px
    .bloco_row
        flexRow()
    .bloco_api_metodo
        max-width: 130px
        margin-right: 20px
    .bloco_api_status
        margin-top: 10px
    .bloco_link_empresa
        max-width: 120px
        margin-right: 10px
    .bloco_link_url
        max-width: calc(100% - 230px)
        margin-right: 10px
    .bloco_botao_direita
        flexRow()
        justify-content: flex-end
        margin-top: 30px
        border-top: 1px solid #CCC
        padding-top: 20px
    .bloco_botao_direita .botao
        bgDegradeVerde()
        height: 50px
        line-height: 50px
        padding: 0 20px
        border-radius: 25px
        color: #FFF
        textoFontSize()
        cursor: pointer
    .bloco_icone_tipo
        max-width: 180px
        margin-right: 20px
    .bloco_icone_tamanho
        max-width: 120px
        margin-right: 20px
    .bloco_icone_nome
        flexGrow()
        margin-right: 20px
    .bloco_icone_altura
        max-width: 120px
    .bloco_api_titulo
        margin-top: 30px
