#bloco_view .bloco_conteudo
    width: 100%
    flexCol()
    .loading
        width: 100%
        padding: 10px 20px 0
        texto()
        color: #666
    article
        width: calc(100% - 20px)
        margin: 10px 0 0 10px
        background-color: #FFF
        border: 1px solid #CCC
        border-left: 2px solid $cor
        padding-left: 2px
        position: relative
        flexCol()
        align-items: center
    article header
        width: 100%
        flexRow()
        align-items: center
    article header .drag
        cursor: pointer
        width: 30px
        height: 30px
        flexCenter()
        fill: #999
    article .margem_input
        border: 1px solid #CCC
        text-align: center
        display: none
    article .margem_input.margem_ativa
        display: block
    article .margem_topo
    article .margem_baixo
        width: 100%
        max-width: 60px
        height: 20px
    article .margem_topo
        margin-top: 5px
    article .margem_baixo
        margin: -5px 0 5px
    article .margem_esquerda
    article .margem_direita
        width: 40px
        height: 20px
    article .margem_esquerda
        margin: 0 0 5px 5px
    article .margem_direita
        margin: 0 5px 5px 0
    article .conteudo_margem
        width: 100%
        flexRow()
        padding: 0 2px 0 3px
    article .conteudo_margem .resto
        flexGrow()
    article header h1
        texto()
        flexGrow()
        padding-right: 20px
    article header .icone
        height: 30px
        width: 30px
        cursor: pointer
        flexCenter()
        font-size: 2rem
        user-select: none
        &:hover
            background-color: rgba(0, 0, 0, .05)
    article header:hover .icone
        display: flex
    article .lista
        width: calc(100% - 15px)
        min-height: 20px
        flexCol()
        padding-bottom: 10px
        position: relative
        margin: 0 5px 10px 5px
        border: 1px dashed #CCC
        background-color: #F6F6F6
#bloco_view .bloco_conteudo.margem_ativa article .margem_input
    display: block

#bloco_view .bloco_botao_direita
    flexRow()
    justify-content: flex-end
    margin-right: 10px
    .botao
        bgDegradeVerde()
        height: 50px
        line-height: 50px
        margin-top: 20px
        padding: 0 20px
        border-radius: 25px
        color: #FFF
        textoFontSize()
        cursor: pointer

#bloco_view_add
    width: 100%
    max-width: 1200px
    flexCol()
    align-items: center
    .linha
        width: 100%
        height: 1px
        margin: 10px 0
        background-color: #CCC
    h2
        width: 100%
        texto()
        font-weight: bold
        margin-top: 20px
    .bloco_row
        flexRow()
    .bloco_api_metodo
        max-width: 130px
        margin-right: 20px
    .bloco_api_status
        margin-top: 10px
    .bloco_link_empresa
        max-width: 120px
        margin-right: 10px
    .bloco_link_url
        max-width: calc(100% - 230px)
        margin-right: 10px
    .bloco_botao_direita
        flexRow()
        justify-content: flex-end
        margin-top: 30px
        border-top: 1px solid #CCC
        padding-top: 20px
    .bloco_botao_direita .botao
        bgDegradeVerde()
        height: 50px
        line-height: 50px
        padding: 0 20px
        border-radius: 25px
        color: #FFF
        textoFontSize()
        cursor: pointer
    .bloco_icone_tipo
        max-width: 180px
        margin-right: 20px
    .bloco_icone_tamanho
        max-width: 120px
        margin-right: 20px
    .bloco_icone_nome
        flexGrow()
        margin-right: 20px
    .bloco_icone_altura
        max-width: 120px
    .bloco_api_titulo
        margin-top: 30px
