#bloco_view .bloco_conteudo
    width: 100%
    flexCol()
    article
        width: calc(100% - 20px)
        border-left: 4px solid #CCC
        margin: 10px 0 0 10px
        background-color: #F6F6F6
    article article
        background-color: rgba(0,0,0,.05)
        &:last-child
            margin-bottom: 10px
    article header
        flexRow()
        align-items: center
    article header .drag
        cursor: pointer
        width: 30px
        height: 30px
        flexCenter()
        fill: #999
    article header h1
        texto()
        flexGrow()
        padding-right: 20px
    article header .status
        width: 40px
        height: 20px
        background-color: #DDD
        border-radius: 15px
        position: relative
        padding: 2px
        position: relative
        flexRow()
        cursor: pointer
        margin-right: 10px
    article header .status span
        width: 16px
        height: 16px
        position: relative
        background-color: #999
        border-radius: 50%
        left: 2px
        transition: left .3s ease-out
    article header .status.ativo span
        background-color: $cor
        left: calc(100% - 18px)
    article header .icone
        height: 30px
        width: 30px
        cursor: pointer
        flexCenter()
        font-size: 2rem
        &:hover
            background-color: rgba(0, 0, 0, .05)
    article header:hover .icone
        display: flex

#bloco_view_add
    width: 100%
    max-width: 600px
    .linha
        width: 100%
        height: 1px
        margin: 10px 0
        background-color: #CCC
    h2
        width: 100%
        texto()
        font-weight: bold
        margin-top: 20px
    .bloco_row
        flexRow()
    .bloco_api_metodo
        max-width: 130px
        margin-right: 20px
    .bloco_api_status
        margin-top: 10px
    .bloco_botao_direita
        flexRow()
        justify-content: flex-end
        margin-top: 30px
        border-top: 1px solid #CCC
        padding-top: 20px
    .bloco_botao_direita .botao
        bgDegradeVerde()
        height: 50px
        line-height: 50px
        padding: 0 20px
        border-radius: 25px
        color: #FFF
        textoFontSize()
        cursor: pointer
