#bloco_pagamento_visualizar
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 10000
    background: rgba(0,0,0,.7)
    display: none
    align-items: center
    justify-content: center
    opacity: 0
    transition: opacity .3s ease-out
    &.abrir
        opacity: 1

#bloco_pagamento_visualizar .conteudo
    max-width: 700px
    h2
        width: 100%
        font-size: 2rem
    .lista
        margin-top: 10px
    .lista h2
        margin-bottom: 20px
    .lista .pagamento
        width: calc(100% + 40px)
        display: flex
        flex-direction: row
        padding: 10px 20px
        margin-left: -20px
        align-items: center
        &:hover
            background: #F6F6F6
    .lista .pagamento .data
    .lista .pagamento .valor
        width: 100px
        font-size: $textoFontSize
    .lista .pagamento .linha
        height: 1px
        flex-grow: 1
        flex-basis: 0%
        background: #DDD
        margin: 0 10px
    .lista .pagamento .botao
        height: 30px
        line-height: 30px
        bgDegradeVerde()
        border-radius: 30px
        color: #fff
        font-size: 1.2rem
        padding: 0 20px
        cursor: pointer
    .lista .zero
        width: 100%
        text-align: center
        padding: 50px 0
        font-size: $textoFontSize
        line-height: 1.5em
        color: #999
    form
        width: 100%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        margin-top: 40px
        padding-top: 20px
        border-top: 1px solid #DDD
    form p
        width: 100%
        line-height: 1.5em
        font-size: $textoFontSize
        color: #666
        margin: 2px 0 20px 0
    form .bloco_input
        width: calc(50% - 70px)
        margin-right: 20px
    form .botao
        width: 100px
        height: 45px
        line-height: 45px
        margin-top: 20px
        bgDegradeVerde()
        border-radius: 30px
        color: #fff
        font-size: $textoFontSize
        cursor: pointer
        text-align: center
