@system "Form"
@system "Loading"
@template "site"
@resource "site/form_geral"

#bloco_escolher_estado
    max-width: 600px
    .input_select
        width: calc(50% - 10px)

@media screen and (max-width: 600px)
  #bloco_escolher_estado .input_select
      width: 100%
